<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/cm/header :: fragment-header" />
		<script>
			$(document).ready(function(){
				
				// 초기화면 구성
				fn_defineForm();
				
				/**
				 * [저장] 버튼 클릭 이벤트
				 * - 작성된 내용을 신규등록/수정한다.
				 */
				$("#reviewSave").click(function(){
					var title = $("#title").val();
					var content = $("#summernote").val();
					var params = $("#reviewForm").serializeObject();

					if(title == "" || title == null){
						alert("제목을 입력하세요.");
						return;
					}

					if(content == "" || content == null){
						alert("내용을 입력하세요.");
						return;
					}
					
					// 등록 및 수정 구분코드 부여
					if(params.cmntyNo == undefined || params.cmntyNo == null){
						params.editDivCd = "I";
 					} else {
 						params.editDivCd = "U";
 					}
					
					var reviewConfirm = confirm("저장하시겠습니까?");
					if(reviewConfirm){
						com.loadAjaxPost("/ws/reviewSave", params, reviewSaveCallback);
					}
				});
				
				/**
				 * [취소] 버튼 클릭 이벤트
				 * - 작성된 내용을 취소하고 이전화면으로 돌아간다.
				 */
				$("#reviewCancel").click(function(){
					var cmntyNo = $("#cmntyNo").val();
					
					if(cmntyNo != null){
						var params = {};
						params.cmntyNo = cmntyNo;
						
						com.movePagePost("/ws/reviewDetail", params);
					}else{
						location.href = "/ws/reviewList";
					}
				});
			});
			
			/**
			 * 초기화면 구성 함수
			 * - 페이지 로드 시 초기화면을 구성한다.
			 */
			function fn_defineForm() {
				
				// 썸머노트 구성
				com.summernoteInit();
			}
			
			/**
			 * reviewSave callback 메소드
			 * - 등록&수정시 callback 처리되는 함수이다.
			 */
			reviewSaveCallback = function(res){
				
				var cmntyNo = $("#cmntyNo").val();
				
				if(res != 0){
					alert("저장되었습니다.");
					
					if(cmntyNo == null || cmntyNo == undefined){
						location.href="/ws/reviewList";
					}
					else {
						
						var params = {};
						params.cmntyNo = cmntyNo;
						com.movePagePost("/ws/reviewDetail", params);
					}
				}else{
					alert("DB 에러가 발생하였습니다.");
					return;
				}
			}
		</script>
	</head>
	<body>
		<div id="wrap">
			<div class="writingArea_wrap">
				<div class="community_list_title" id="writingArea_title">
	        		<p>예배와 말씀</p>
	        		<h2>말씀후기</h2>
				</div>
				<div>
					<form id="reviewForm" th:object="${returnSVO.wsReviewDVO}">
						<div class="writingArea_titleAndWriter">
							<input type="text" id="title" name="title" th:value="*{title}" placeholder="제목을 입력하세요">
							<p>작성자 : <span th:text="*{name}"></span></p>
						</div>
						<div>
							<textarea rows="15" id="summernote" name="content" placeholder="내용을 입력하세요">[[${returnSVO.wsReviewDVO?.content}]]</textarea>
						</div>
	
						<!-- hidden -->
						<input th:if="${returnSVO.wsReviewDVO?.cmntyNo}" type="hidden" id="cmntyNo" name="cmntyNo" th:value="*{cmntyNo}">
						<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${returnSVO.wsReviewDVO.tmpFileId}" />
						<input type="hidden" id="tskDivCd" name="tskDivCd" th:value="WS" />

						<!-- Button -->
						<div class="community_list_btn_wrap">
							<div class="next_generation_info_delete_modifications">
								<input type="button" id="reviewSave" class="Btn" th:value="|저장|">
								<input type="button" id="reviewCancel" class="Btn" th:value="|취소|">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>