<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/cm/header :: fragment-header" />
		<script>
			$(document).ready(function(){
				
				// 초기화면 구성
				fn_defineForm();
				
				/**
				 * [저장] 버튼 클릭 이벤트
				 * - 작성된 내용을 신규등록/수정한다.
				 */
				$("#bulletinSave").click(function(){
					
					// 주보 업로드 첨부파일
					var uploadFile = document.getElementById("uploadFile");
					
					if(uploadFile.files && uploadFile.files[0]){
						var title = $("#title").val();
						var content = $("#summernote").val();
						
						if(title == "" || title == null){
							alert("제목을 입력하세요.");
							return;
						}
	
						if(content == "" || content == null){
							alert("내용을 입력하세요.");
							return;
						}
						
						var params = new FormData($('#bulletinForm')[0]);
						
						var bulletinConfirm = confirm("저장하시겠습니까?");
						if(bulletinConfirm){
							com.fileUploadAjaxPost("/ws/bulletinSave", params, fn_bulletinSaveCallback);
						}
					}else{
						alert("변경할 이미지를 선택해주세요.");
					}
				});
				
				/**
				 * [취소] 버튼 클릭 이벤트
				 * - 작성된 내용을 취소하고 이전화면으로 돌아간다.
				 */
				$("#bulletinCancel").click(function(){
					var cmntyNo = $("#cmntyNo").val();
					
					var bulletinConfirm = confirm("작성중인 내용이 있습니다. 취소하시겠습니까?");
					if(bulletinConfirm){
						if(cmntyNo != null){
							var params = {};
							params.cmntyNo = cmntyNo;
							
							com.movePagePost("/ws/bulletinDetail", params);
						}else{
							location.href = "/ws/bulletinList";
						}
					}
				});
			});
			
			/**
			 * 초기화면 구성 함수
			 * - 페이지 로드 시 초기화면을 구성한다.
			 */
			function fn_defineForm() {
				
				// 썸머노트 구성
				com.summernoteInit();
			}
			
			/**
			 * bulletinSave callback 메소드
			 * - 등록&수정시 callback 처리되는 함수이다.
			 */
			fn_bulletinSaveCallback = function(data){
				
				if(data.resultCnt > 0){
					alert("정상적으로 저장되었습니다.");
					
					if(data.cmntyNo == 0 || data.cmntyNo == ''){
						location.href = "/ws/bulletinList";
					}else{
						var params = {};
						params.cmntyNo = data.cmntyNo;
							
						com.movePagePost("/ws/bulletinDetail", params);
					}
				}else{
					alert("저장 중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
				}
			}
		</script>
	</head>
	<body>
		<!-- asideMenu -->
		<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
		
		<!-- header -->
    	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
		
		<div id="wrap">
			<div class="section_wrap">
				
				<!-- worshipVisual -->
				<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
				
				<section class="community_list_wrap">
					<div class="community_list_title" id="view_details">
		        		<p>예배와 찬양</p>
		        		<h2>주보</h2>
					</div>
					<div class="view_details_content">
						<form id="bulletinForm" th:object="${returnSVO.wsBulletinDVO}">
							<div class="writingArea_titleAndWriter">
								<input type="text" id="title" name="title" th:value="*{title}" placeholder="제목을 입력하세요">
								<p>작성자 : <span th:text="*{name}"></span></p>
							</div>
							<div>
								<input type="file" id="uploadFile" name="uploadFile" />
							</div>
							<div>
								<textarea rows="15" id="summernote" name="content" placeholder="내용을 입력하세요">[[${returnSVO.wsBulletinDVO?.content}]]</textarea>
							</div>
		
							<!-- hidden -->
							<input th:if="${returnSVO.wsBulletinDVO?.cmntyNo}" type="hidden" id="cmntyNo" name="cmntyNo" th:value="*{cmntyNo}" />
							
							<!-- File -->
							<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${returnSVO.wsBulletinDVO.tmpFileId}" />
							<input type="hidden" id="refNo" name="refNo" th:value="${returnSVO.wsBulletinDVO.cmntyNo}" />
							<input type="hidden" id="refDivCd" name="refDivCd" th:value="BLT" />
							<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
							
							<!-- Button -->
							<div class="community_list_btn_wrap">
								<div class="next_generation_info_delete_modifications">
									<input type="button" id="bulletinSave" class="Btn" value="저장" />
									<input type="button" id="bulletinCancel" class="Btn" value="취소" /> 
								</div>
							</div>
						</form>
					</div>
				</section>	
			</div>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</body>
</html>