<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/cm/header :: fragment-header" />
		<script>
			$(document).ready(function(){
				
				/**
				 * [조회] 버튼 클릭 이벤트
				 * - 검색창에 입력한 내용으로 리스트를 조회한다.
				 */
	 			$("#searchBtn").click(function(){
					fn_search();
				});
				
				/**
				 * [조회] 버튼 엔터 이벤트
				 * - 검색창에 입력한 내용으로 엔터를 클릭할 시 리스트를 조회한다.
				 */
				$('#searchForm').keydown(function(e){
					if(e.keyCode == 13){
						fn_search();
					}
				})
				
				$("#resetBtn").click(function(){
					location.href="/ws/bulletinList";
				});
				
				/**
				 * [등록] 버튼 클릭 이벤트
				 * - 신규 주보 글 등록 페이지로 이동한다.
				 */
	 			$("#bulletinEdit").click(function(){
					location.href="/ws/bulletinEdit";
				});

			});
			
			/**
			 * [상세조회] 버튼 클릭 이벤트
			 * - 주보 상세조회 페이지로 이동한다.
			 */
			function bulletinDetail(bulletinDVO) {
				var params = {};
				params.cmntyNo = bulletinDVO.cmntyNo;
				
				com.movePagePost("/ws/bulletinDetail", params);
			};
			
			/**
			 * [조회] 함수
			 * - 검색창에 입력한 내용으로 리스트를 조회하는 공통 함수이다.
			 */
			function fn_search(){
				var params = $("#searchForm").serializeObject();
				com.movePagePost("/ws/bulletinList", params);
			}
		</script>
	</head>
	<body>
		<!-- asideMenu -->
		<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
		<!-- asideMenu -->
		
		<div id="wrap">
			<!-- header -->
	    	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	    	<!-- header -->

			<!-- worshipVisual -->
            <div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			<!-- worshipVisual -->
			
			<!-- content list -->
			<section class="community_list_wrap">
				<!-- Search -->
				<div id="search_wrap" class="community_search_wrap" th:object="${returnSVO.wsBulletinDVO}">
					<div class="community_search">
						<div class="search_wrap">
							<div class="community_list_title">
			                	<p>예배와 찬양</p>
			                    <h2>주보</h2>
							</div>
							<form id="searchForm"> 
								<table>
									<tbody>
										<tr>
											<td class="search_division">제목</td>
											<td class="search_inputbox">
												<input type="text" id="title" name="title" th:value="*{title}"/>
											</td>
											<td class="search_division">작성자</td>
											<td class="search_inputbox">
												<input type="name" id="name" name="name" th:value="*{name}"/>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
							<div class="search_btn">
								<input type="button" id="resetBtn" class="Btn" value="초기화" />
								<input type="button" id="searchBtn" class="Btn" value="조회" />
							</div>
						</div>
					</div>
				</div>
				<!-- Search -->
				
				<!-- List -->
				<div class="community_list_table_wrap">
					<table class="community_list_table"> 
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>등록일자</th>
								<th>조회수</th>
								<th>첨부파일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:onclick="bulletinDetail([[ ${bulletinDVO} ]])" th:if="${not #lists.isEmpty(returnSVO.wsBulletinDVOList)}" th:each="bulletinDVO : ${returnSVO.wsBulletinDVOList}">
								<td th:text="${bulletinDVOStat.index + 1}"></td>
								<td th:text="${bulletinDVO.title}"></td>
								<td th:text="${bulletinDVO.name}"></td>
								<td th:text="${#temporals.format(bulletinDVO.lstMdfDt, 'yyyy-MM-dd')}"></td>
								<td th:text="${bulletinDVO.viewCnt}"></td>
								<p th:if="${bulletinDVO.fileNo == 0}"><td th:text="N"></td></p>
								<p th:unless="${bulletinDVO.fileNo == 0}"><td th:text="Y"></td></p>
							</tr>
							<tr th:unless="${not #lists.isEmpty(returnSVO.wsBulletinDVOList)}">
								<td colspan="5">조회된 결과가 없습니다.</td>
							</tr>
						</tbody>
					</table>
					<input type="button" id="bulletinEdit" class="Btn" value="작성" />
				</div>
				
				<!-- Pagination -->
				<div class="worship_video_list_nav">	
					<div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
				</div>
			</section>
				
			<!-- Footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</body>
</html>