<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/cm/header :: fragment-header" />
		<script>
			$(document).ready(function(){
				
				/**
				 * [목록] 버튼 클릭 이벤트
				 * - 주보 목록 조회 페이지로 이동한다.
				 */
				$("#bulletinList").click(function(){
					location.href = "/ws/bulletinList";
				});
			});
			
			/**
			 * [수정] 버튼 클릭 이벤트
			 * - 주보를 수정하는 페이지로 이동한다.
			 */
			function bulletinEdit(wsBulletinDVO){
				var params = {};
				params.cmntyNo = wsBulletinDVO.cmntyNo;
				params.selDivCd = 'U';
				
				com.movePagePost("/ws/bulletinEdit", params);
			}
			
			/**
			 * [삭제] 버튼 클릭 이벤트
			 * - 주보를 삭제한다.(삭제는 교역자/임원/관리자만 가능하다)
			 */
			function bulletinDelete(wsBulletinDVO){
				var params = {};
				params.cmntyNo = wsBulletinDVO.cmntyNo;
				
				var deleteConfirm = confirm("삭제하시겠습니까?");
				if(deleteConfirm){
					com.loadAjaxPost("/ws/bulletinDelete", params, fn_bulletinDeleteCallback)
				}
			}
			
			/**
			 * bulletinDelete callback 메소드
			 * - 삭제시 callback 처리되는 함수이다.
			 */
			fn_bulletinDeleteCallback = function(data){
				if(data.resultCnt > 0){
					alert("정상적으로 삭제되었습니다.");
					location.href = "/ws/bulletinList";
				}else {
					alert("저장 중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
				}
			}
		</script>
	</head>
	<body>
		<!-- asideMenu -->
		<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
		<!-- asideMenu -->
			
			<!-- header -->
			<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
			<!-- header -->
			
			<div id="wrap">
				<div id="section_wrap">
					
					<!-- worshipVisual -->
					<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
					<!-- worshipVisual -->
					
					<section class="community_list_wrap">
	        			<div class="community_list_title" id="view_details">
							<p>예배와 찬양</p>
	                		<h2>주보</h2>
	            		</div>
						<div class="view_details_content">
							<form role="form" th:object=${returnSVO.wsBulletinDVO}>
								<div class="view_details_content_title">
									<h2 th:text="*{title}"></h2>
									<p th:text="*{name}"></p>
								</div>
								<div class="view_details_content_info">
									<div>
										<p>조회수 :</p><span th:text="*{viewCnt}"></span>
									</div>
									<div>
										<p>수정일시 :</p><span th:text="${#temporals.format(returnSVO.wsBulletinDVO.lstMdfDt, 'yyyy-MM-dd HH:mm')}"></span>
									</div>
								</div>
								<div class="view_details_Contents">
									<p th:utext="*{content}"></p>
								</div>
								<div class="view_details_content_btn_wrap">
									<div class="next_generation_info_delete_modifications">	
										<input type="button" th:onclick="bulletinEdit([[ ${returnSVO.wsBulletinDVO} ]])" value="수정" class="Btn" />
										<input type="button" th:onclick="bulletinDelete([[ ${returnSVO.wsBulletinDVO} ]])" value="삭제" class="Btn" />
										<input type="button" id="bulletinList" class="Btn" value="목록" />
									</div>
								</div>
							</form>
						</div>
					</section>
				</div>
				
				<!-- File -->
				<div id="file_wrap">
					<div th:each="fileList, fileInfo : ${returnSVO.wsBulletinFile}">
						<a th:href="@{/cm/fileDownload/{no}(no=*{fileList.fileNo})}">[[${fileList.fileNm}]]</a>
					</div>
				</div>
				
				<!-- footer -->
				<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
	            <!-- footer -->
			</div>
	</body>
</html>