<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script>
	
		var wkVolDeptList;
	
 		$(document).ready(function(){
			
			// 그리드 테마 적용
			tui.Grid.applyTheme('clean');
			
			// 그리드 설정 > sdCodeList: 코드목록
			wkVolDeptList = new tui.Grid({
				el: document.getElementById("wkVolDeptList"),
				scrollX: true, 
				scrollY: false, 
				bodyHeight: 400, 
			    columns: [
					{ 
						header:	'No',
					  	name: 'deptNo',
					  	width: 150 
					},
		          	{ 
		        	  	header: '봉사부서이름',
		        	  	name: 'deptNm',
		        	  	width: 220 
		        	},
		            { 
		        	  	header: '시작일자',
		        	   	name: 'strYmd',
		        	  	width: 330 
		        	},
		            { 
		        	  	header: '종료일자',
		        	    name: 'endYmd',
		        	  	width: 330 
		        	},
		            { 
		        	  	header: '사용여부',
		        	    name: 'useYn',
		        	  	width: 140 
		        	}
				]
			  , columnOptions: {
			    	resizable: true
			    }
			  , pagenation: true
			  , pageOptions: {
				  	useClient: true,
				  	perPage: 10
			    }
			});
			
 			// 초기화면 구성
			fn_defineForm();

			/**
			 * [조회] 버튼 클릭 이벤트
			 * - 검색창에 입력한 내용으로 리스트를 조회한다.
			 */
			$("#searchBtn").click(function(){
				var params = {};
				
				params.useYn = $("#useYN option:selected").val();
				
				if(params.useYn == "" || params.useYn == null || params.useYn == undefined){
					params.useYn = 'Y';
				}
				
				com.loadAjaxPost("/wk/volDeptDataList", params, fn_searchBtnCallback);
			});
			
			// 초기 로드 시, 조회
			$("#searchBtn").trigger("click");
 		});
 		
		/**
		 * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {

		};
		
		/**
		 * 클릭 이벤트 콜백함수
		 * - 조회 버튼 클릭 후 실행할 콜백함수입니다.
		 */
		function fn_searchBtnCallback(data) {
			wkVolDeptList.resetData(data.wkVoluntaryDVOList);
		};
		
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- headerMenu -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>

	<div id="wrap">
		<div id="section_wrap">
		
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- Head -->
			<div id="head_wrap">
				<label>봉사부서 사용유무 필터</label>
				<select id="useYN">
					<option value="">선택</option>
					<option value="Y">Y</option>
					<option value="N">N</option>
				</select>
				<!-- Button -->
				<input type="button" id="searchBtn" value="조회" />
			</div>
			
			<!-- List -->
			<section class="community_list_wrap">
                <div class="community_list_title">
                   	<p>업무</p>
                    <h2>봉사부서관리</h2>
                </div>
                
				<div id="wkVolDeptList"></div>
			</section>
			
			<!-- Data Manage -->
			<div id="manage_wrap">
				<form id="volDeptForm">
					<input id="rowIndex" type="hidden">
				
					<p>봉사부서번호 : </p>
					<input id="volSeq" name="volSeq"  type="text" readonly="readonly">
				
					<p>봉사부서이름 : </p>
					<input id="volDeptNm" name="volDeptNm" type="text">
					
					<input id="strYmd" name="strYmd" type="hidden">
					<input id="endYmd" name="endYmd" type="hidden">
					<input id="useYn" name="useYn" type="hidden">
				</form>
				<span>
					<input id="saveBtn" type="button" value="저장">
					<input id="useBtn" type="button" value="사용">
					<input id="unUseBtn" type="button" value="미사용">
					<input id="emptyBtn" type="button" value="초기화">
				</span>
			</div>
		</div>
	</div>
</body>
</html>