<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common-umEditform">

	<!-- 주소api 영역 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript" th:inline="javascript"> 
		
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
			 * 교적 등록 이벤트
			 * - 등록버튼을 누르면 교적이 DB에 저장됩니다.
			 */
			$("#umRegistBtn").click(function(){
				
				let params = $("#editMemberForm").serializeObject();
				
				// 키값 변경
				let temp = {};
				const keys = Object.keys(params);
				for(let i=0; i < keys.length; i++){
					const key = keys[i].replace(/^umMemberDVO./, "");
					temp[key] = params[keys[i]];
				}
				
				params = temp;

				// 유효성체크
 				if(params.dmdNo == null || params.dmdNo == ""){
					alert("디모데 번호를 입력해주세요");
					return;
				}
				else if(params.chrNm == null || params.chrNm == ""){
					alert("이름을 입력해주세요");
					return;
				}
				if(params.chrBirth == null || params.chrBirth == ""){
					alert("생일을 입력해주세요");
					return;
				}
				if(params.chrGrd == null || params.chrGrd == ""){
					alert("기수를 입력해주세요");
					return;
				}
				if(params.gndrDivCd == null || params.gndrDivCd == ""){
					alert("성별을 입력해주세요");
					return;
				}
				if(params.mobPhNo == null || params.mobPhNo == ""){
					alert("핸드폰 번호를 입력해주세요");
					return;
				}
				if(params.baseAdr == null || params.baseAdr == ""){
					alert("주소를 입력해주세요");
					return;
				}
				if(params.dtlAdr == null || params.dtlAdr == ""){
					alert("상세주소를 입력해주세요");
					return;
				}
				if(params.chrDivCd == null || params.chrDivCd == ""){
					alert("교인구분을 입력해주세요");
					return;
				}
				if(params.blngDeptCd == null || params.blngDeptCd == ""){
					alert("소속부서를 입력해주세요");
					return;
				}
				if(params.posDivCd == null || params.posDivCd == ""){
					alert("직책구분을 입력해주세요");
					return;
				}
				if(params.bptStCd == null || params.bptStCd == ""){
					alert("세례유무를 입력해주세요");
					return;
				}
				if(params.mrgStCd == null || params.mrgStCd == ""){
					alert("결혼유무를 입력해주세요");
					return;
				} 
			
				com.loadAjaxPost("/um/insertMember", params, function(res){
					if(res != 0){
						alert("정상적으로 등록되었습니다!");
						location.href="/um/memberList";
					}
					else{
						alert("교적 등록에 실패하였습니다.");
						return;
					}
				});
			});
			
			/**
			 * 교적 수정 이벤트
			 * - 수정버튼을 누르면 수정된 내용이 DB에 저장됩니다.
			 */
			$("#umUpdateBtn").click(function(){
				
				// 키값 변경
				let temp = {};
				const keys = Object.keys(params);
				for(let i=0; i < keys.length; i++){
					const key = keys[i].replace(/^umMemberDVO./, "");
					temp[key] = params[keys[i]];
				}
				
				params = temp;

				// 유효성체크
 				if(params.dmdNo == null || params.dmdNo == ""){
					alert("디모데 번호를 입력해주세요");
					return;
				}
				else if(params.chrNm == null || params.chrNm == ""){
					alert("이름을 입력해주세요");
					return;
				}
				if(params.chrBirth == null || params.chrBirth == ""){
					alert("생일을 입력해주세요");
					return;
				}
				if(params.chrGrd == null || params.chrGrd == ""){
					alert("기수를 입력해주세요");
					return;
				}
				if(params.gndrDivCd == null || params.gndrDivCd == ""){
					alert("성별을 입력해주세요");
					return;
				}
				if(params.mobPhNo == null || params.mobPhNo == ""){
					alert("핸드폰 번호를 입력해주세요");
					return;
				}
				if(params.baseAdr == null || params.baseAdr == ""){
					alert("주소를 입력해주세요");
					return;
				}
				if(params.dtlAdr == null || params.dtlAdr == ""){
					alert("상세주소를 입력해주세요");
					return;
				}
				if(params.chrDivCd == null || params.chrDivCd == ""){
					alert("교인구분을 입력해주세요");
					return;
				}
				if(params.blngDeptCd == null || params.blngDeptCd == ""){
					alert("소속부서를 입력해주세요");
					return;
				}
				if(params.posDivCd == null || params.posDivCd == ""){
					alert("직책구분을 입력해주세요");
					return;
				}
				if(params.bptStCd == null || params.bptStCd == ""){
					alert("세례유무를 입력해주세요");
					return;
				}
				if(params.mrgStCd == null || params.mrgStCd == ""){
					alert("결혼유무를 입력해주세요");
					return;
				} 
				
				com.loadAjaxPost("/um/updateMember", params, function(res){
					if(res != 0){
						alert("정상적으로 수정되었습니다!");
						var param = {};
						param.chrNo = $("#chrNo").val();;
						com.movePagePost("/um/memberDetail", param)
					}
					else{
						alert("교적 수정에 실패하였습니다.");
						return;
					}
				});
				
			});
			
			/**
			 * 취소 이벤트
			 * - 취소버튼을 누르면 등록 or 수정에 따라 메인 조회페이지 or 상세페이지로 이동합니다.
			 */
			$("#umCancelBtn").click(function(){
				
				var pivot = $("#chrNo").val();
				
				if(pivot == "" || pivot == null || pivot == 0){
					location.href = "/um/memberList";
				}
				else{
					var param = {};
					param.chrNo = pivot;
					
					com.movePagePost("/um/memberDetail", param);	
				}
			});
			
			/**
			 * 소속부서 콤보 동적생성
			 * - 교인구분 콤보를 선택하면 해당하는 콤보값에 따라 동적으로 소속부서를 생성한다.
			 */
			$("#chrDivCd").change(function(){
				
				var chrDivCd = $("#chrDivCd option:selected").val();
				
				if(posDivCd != null || posDivCd != ""){
					var codeParams = [];
					// 소속부서
					codeParams.push({"codeNo":"UM0005", "comboId":"blngDeptCd", "codeRefKey":"CHR_DIV_CD", "codeRefVl":chrDivCd, "comboType":"S" });
					com.makeRefCombo(codeParams);	
				}
				else{
					alert("동적 콤보박스 생성이 불가능한 항목입니다.");
					return;
				}
			});
			
			/**
			 * 직책상세 콤보 동적생성
			 * - 직책구분 콤보를 선택하면 해당하는 콤보값에 따라 동적으로 소속부서를 생성한다.
			 */
			$("#posDivCd").change(function(){
				
				var posDivCd = $("#posDivCd option:selected").val();
				
				if(posDivCd != null || posDivCd != ""){
					var codeParams = [];
					// 직책상세
					codeParams.push({"codeNo":"UM0003", "comboId":"posDtlCd", "codeRefKey":"POS_DIV_CD", "codeRefVl":posDivCd, "comboType":"S" });	
					com.makeRefCombo(codeParams);	
				}
				else{
					alert("동적 콤보박스 생성이 불가능한 항목입니다.");
					return;
				}
			});
		});
		
		/**
		 * 전화번호 유효성 및 양식
		 * - 전화번호 입력시 숫자만 받게 합니다.
		 */
		$(document).on("keyup", "#mobPhNo", function() { 
			$(this).val( $(this).val().replace(/[^0-9]/g, ""));
		});
		
		/**
		 * 기수 자동 계산
		 * - 생년월일을 누르면 기수와 나이가 자동으로 계산됩니다.
		 */
		function fn_autoYear(val){
			
			// 기수 계산 
			$('#chrGrd').val(val.substring(2,4));
			
			// 나이 계산
			var today = String(new Date());
			today = today.substring(11,15);
			const memberBirth = parseInt(val.substring(0,4));
			var age = parseInt(today) - memberBirth + 1;
			$('#age').val(age);
			
		}
		
		/**
		 * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 콤보박스 구성
			fn_makeCombo();
		};
		
		/**
		 * 콤보박스 구성 함수
		 * - 페이지에 해당되는 콤보박스를 구현한다.
		 */
		function fn_makeCombo() {
			
			var codeParams = [];
			codeParams.push({"codeNo":"UM0001", "comboId":"chrDivCd", "comboType":"S"});		// 교인구분코드
			codeParams.push({"codeNo":"UM0010", "comboId":"chrStatus", "comboType":"S"});	 	// 교인상태 코드
			codeParams.push({"codeNo":"UM0004", "comboId":"gndrDivCd", "comboType":"S"});	 	// 성별구분 코드
			codeParams.push({"codeNo":"UM0006", "comboId":"bptStCd", "comboType":"S"});	 		// 세례상태 코드
			codeParams.push({"codeNo":"UM0008", "comboId":"eduDivCd", "comboType":"A"});	 	// 학력상태 코드
			codeParams.push({"codeNo":"UM0002", "comboId":"posDivCd", "comboType":"S"});	 	// 직책 코드
			codeParams.push({"codeNo":"UM0007", "comboId":"mrgStCd", "comboType":"S"});	 		// 결혼상태 코드
			codeParams.push({"codeNo":"UM0009", "comboId":"regBcgCd", "comboType":"A"});	 	// 등록배경 코드
			
			com.makeCombo(codeParams);
		};
	</script>

	<!-- 등록 양식 -->
	<form id="editMemberForm" th:object="${returnSVO.umMemberDVO}">
		<input id="chrNo" type="hidden" th:value="*{chrNo}" th:field="*{chrNo}">
		<input id="dmdNo" type="text" placeholder="디모데번호" th:field="*{dmdNo}" />
		<input id="chrNm" type="text" placeholder="이름" th:field="*{chrNm}" />
		<label th:text="|출석상태|"></label>
		<select id="chrStatus" th:value="*{chrStatus}" th:field="*{chrStatus}"></select><br>
		<label th:text="|등록일|"></label>
		<input id="dmdRegDt" type="date" th:value="*{dmdRegDt}" th:field="*{dmdRegDt}" />
		<label th:text="|생년월일 : |"></label> 
		<input id="chrBirth" type="date"  onchange="fn_autoYear(this.value)" th:field="*{chrBirth}" />
		<label th:text="|기수 : |"></label>
		<input id="chrGrd" type="text" th:field="*{chrGrd}" />
		<label th:text="|나이 : |"></label>
		<input id="age" readonly="readonly" type="text" th:field="*{age}" /><br>
		<select id="gndrDivCd" th:value="*{gndrDivCd}" th:field="*{gndrDivCd}"></select>
		<input id="mobPhNo" type="tel" placeholder="핸드폰 번호" th:field="*{mobPhNo}">
		<br>
		<input id="baseAdr" type="text" readonly="readonly" placeholder="주소" th:field="*{baseAdr}">
		<input id="dtlAdr" type="text" placeholder="상세주소" th:field="*{dtlAdr}">
		<input type="button" onclick="sample3_execDaumPostcode()" value="우편번호 찾기">
		<div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
			<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
		</div>
		<script>
			// 주소 API 시작
		    // 우편번호 찾기 찾기 화면을 넣을 element
		    var element_wrap = document.getElementById('wrap');
		
		    function foldDaumPostcode() {
		        // iframe을 넣은 element를 안보이게 한다.
		        element_wrap.style.display = 'none';
		    }
		
		    function sample3_execDaumPostcode() {
		        // 현재 scroll 위치를 저장해놓는다.
		        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
		        new daum.Postcode({
		            oncomplete: function(data) {
		                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
		
		                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                var addr = ''; // 주소 변수
		
		                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
		                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
		                    addr = data.roadAddress;
		                } else { // 사용자가 지번 주소를 선택했을 경우(J)
		                    addr = data.jibunAddress;
		                }
		
		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById("baseAdr").value = addr;
		                // 커서를 상세주소 필드로 이동한다.
		                document.getElementById("dtlAdr").focus();
		
		                // iframe을 넣은 element를 안보이게 한다.
		                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
		                element_wrap.style.display = 'none';
		
		                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
		                document.body.scrollTop = currentScroll;
		            },
		            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
		            onresize : function(size) {
		                element_wrap.style.height = size.height+'px';
		            },
		            width : '100%',
		            height : '100%'
		        }).embed(element_wrap);
		
		        // iframe을 넣은 element를 보이게 한다.
		        element_wrap.style.display = 'block';
		    }
		 // 주소 API 끝
	   	</script>
		<br>
		<p>교인구분</p>
		<select id="chrDivCd" th:value="*{chrDivCd}" th:field="*{chrDivCd}"></select>
		<select id="blngDeptCd" th:value="*{blngDeptCd}" th:field="*{blngDeptCd}"></select>
		<select id="posDivCd" th:value="*{posDivCd}" th:field="*{posDivCd}"></select>
		<select id="posDtlCd" th:value="*{posDtlCd}" th:field="*{posDtlCd}"></select>
		<select id="bptStCd" th:value="*{bptStCd}" th:field="*{bptStCd}"></select>
		<select id="mrgStCd" th:value="*{mrgStCd}" th:field="*{mrgStCd}"></select>
		<br>
		<input id="job" type="text" placeholder="직업" th:field="*{job}" />
		<input id="email" type="email" placeholder="이메일" th:field="*{email}" />
		<input id="usrId" type="text" placeholder="ID" th:field="*{usrId}" />
		<select id="cellNo" th:value="*{cellNo}" th:field="*{cellNo}"></select>
		<br>
		<input id="school" type="text" placeholder="학교" th:field="*{school}" />
		<input id="major" type="text" placeholder="전공" th:field="*{major}" />
		<select id="eduDivCd" th:value="*{eduDivCd}" th:field="*{eduDivCd}"></select>
		<br>
		<select id="regBcgCd" th:value="*{regBcgCd}" th:field="*{regBcgCd}"></select>
		<label th:text="|봉사부서|"></label>
		<select id="volDeptCd" th:value="*{volDeptCd}" th:field="*{volDeptCd}"></select>
		<br>
		<label th:text="|비고|"></label><br>
		<textarea id="remark" rows="15" cols="40" th:field="*{remark}" th:value="*{remark}"></textarea>
		
		<input id="umRegistBtn" th:if="${returnSVO.umMemberDVO.chrNo == null}" type="button" th:value="|저장|" >
		<input id="umUpdateBtn" th:unless="${returnSVO.umMemberDVO.chrNo == null}" type="button" th:value="|저장|">
		<input id="umCancelBtn" type="button" th:value="|취소|">
	</form>
</div>
</html>