<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script>
		$(document).ready(function(){
			
		});
		
	</script>
</head>
<body>
	<div id="wrap">
		<div id="title_wrap">
			<h2>메세지관리</h2>
		</div>
		
		<!-- Search -->
		<div id="search_wrap" th:object="${returnSVO.sdCodeDVO}">
			<form id="searchForm" >
	
			</form>
			
			<!-- Button -->
			<input type="button" id="searchBtn" value="조회" />
		</div>
		
		<!-- List -->
		<div id="content_wrap">
			<div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
		</div>
	</div>
</body>
</html>