<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script>
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			// [목록] 버튼 클릭 이벤트
			$("#listBtn").click(function(){
				location.href="/sd/codeList";
			});
			
			// [저장] 버튼 클릭 이벤트
			$("#saveBtn").click(function(){
				
			});
		});
		
		/**
		 * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 콤보박스 구성
			fn_makeCombo();
		};
		
		/**
		 * 콤보박스 구성 함수
		 * - 페이지에 해당되는 콤보박스를 구현한다.
		 */
		function fn_makeCombo() {
			var codeParams = [];
			codeParams.push({"codeNo":"SD0001", "comboId":"selTskDivCd", "comboType":"A"});	// 업무구분코드
			
			com.makeCombo(codeParams);
		};		
	</script>
</head>
<body>
	<div id="wrap">
		<div id="title_wrap">
			<h2>코드등록/수정</h2>
		</div>
		
		<!-- Save -->
		<div id="save_wrap" th:object="${sdCodeSVO.sdCodeDVO}">
			<form id="saveForm">
				<label for="selTskDivCd">업무구분</label>
				<select id="selTskDivCd"></select>
				<label for="cdGrpId">코드그룹ID</label>
				<input type="text" id="cdGrpId" name="cdGrpId" th:value="*{cdGrpId}" />
				<label for="cdGrpNm">코드그룹명</label>
				<input type="text" id="cdGrpNm" name="cdGrpNm" th:value="*{cdGrpNm}" />
				<label for="prnCdGrpId">상위코드그룹ID</label>
				<input type="text" id="prnCdGrpId" name="prnCdGrpId" th:value="*{prnCdGrpId}" />
				<label for="prnCdVl">상위코드</label>
				<input type="text" id="prnCdVl" name="prnCdVl" th:value="*{prnCdVl}" />
				<label for="cdVl">코드</label>
				<input type="text" id="cdVl" name="cdVl" th:value="*{cdVl}" />
				<label for="cdNm">코드명</label>
				<input type="text" id="cdNm" name="cdNm" th:value="*{cdNm}" />
				<label for="selUseYn">사용유무</label>
				<select id="selUseYn"></select>
			</form>
		</div>
		
		<!-- Footer -->
		<div id="footer_wrap">
			<input type="button" id="listBtn" value="목록" />
			<input type="button" id="saveBtn" value="저장" />
		</div>
	</div>
</body>
</html>