<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script>
	
		var sdCodeList;	
	
 		$(document).ready(function(){
 			// 초기화면 구성
			fn_defineForm();
			
			// 그리드 테마 적용 (default, striped, clean)
			tui.Grid.applyTheme('clean');
			
			// 그리드 설정 > sdCodeList: 코드목록
			sdCodeList = new tui.Grid({
				el: document.getElementById('sdCodeList'),
				scrollX: true, 
				scrollY: false, 
				bodyHeight: 400,
				rowHeaders: ['rowNum'],
			    columns: [
		          	{ 
		        	  	header: '업무구분코드',
		        	  	name: 'tskDivCd',
		        	  	width: 130 
		        	},
		            { 
		        	  	header: '업무구분명',
		        	   	name: 'tskDivNm',
		        	  	width: 150 
		        	},
		            { 
		        	  	header: '코드그룹ID',
		        	    name: 'cdGrpId',
		        	  	width: 130 
		        	},
		            { 
		        	  	header: '코드그룹명',
		        	    name: 'cdGrpNm',
		        	  	width: 150 
		        	},
		            { 
		        	  	header: '코드그룹키',
		        	    name: 'cdGrpKey',
		        	  	width: 130 
		        	},
		            { 
		        	  	header: '상위코드그룹ID',
		        	    name: 'prnCdGrpId',
		        	  	width: 130 
		        	},
		            { 
		        	  	header: '상위코드',
		        	    name: 'prnCdVl',
		        	  	width: 130 
		        	},
		          	{ 
		        	  	header: '코드',
		        	  	name: 'cdVl',
		        	  	width: 130 
		        	},
		          	{ 
		        	  	header: '코드명',
		        	  	name: 'cdNm',
		        	  	width: 150 
		        	},
		          	{ 
		        	  	header: '코드순서',
		        	  	name: 'cdOrd',
		        	  	width: 80 
		        	},
		          	{ 
		        	  	header: '비고',
		        	  	name: 'remark',
		        	  	width: 150 
		        	},
		          	{ 	
		        	  	header: '사용여부',
		        	  	name: 'useYn',
		        	  	width: 80,
		        	  	align: 'center' 
		        	},
		          	{ 
		        	  	header: '최종수정일시',
		        	  	name: 'lstMdfDt',
		        	  	width: 150,
		        	  	align: 'center'
		        	}
				]
			  , columnOptions: {
			    	resizable: true
			    }
			  , pagenation: true
			  , pageOptions: {
				  	useClient: true,
				  	perPage: 10
			    }
			});

			/**
			 * [조회] 버튼 클릭 이벤트
			 * - 검색창에 입력한 내용으로 리스트를 조회한다.
			 */
			$("#searchBtn").click(function(){
				var params = $("#searchForm").serializeObject();
				
				com.loadAjaxPost("/sd/selectCodeList", params, fn_searchBtnCallback);
			});
			
			// 초기 로드 시, 조회
			$("#searchBtn").trigger("click");
 		});
 		
		/**
		 * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 콤보박스 구성
			fn_makeCombo();
		};
		
		/**
		 * 콤보박스 구성 함수
		 * - 페이지에 해당되는 콤보박스를 구현한다.
		 */
		function fn_makeCombo() {
			var codeParams = [];
			codeParams.push({"codeKey":"SD0001", "comboId":"selTskDivCd", "comboType":"A"});	// 업무구분코드
			
			com.makeCombo(codeParams);
		};
		
		/**
		 * 클릭 이벤트 콜백함수
		 * - 조회 버튼 클릭 후 실행할 콜백함수입니다.
		 */
		function fn_searchBtnCallback(data) {
			sdCodeList.resetData(data.sdCodeDVOList);
		};
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- headerMenu -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>

	<div id="wrap">
		<div id="section_wrap">
		
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- Search -->
<!-- 			<div id="search_wrap" th:object="${returnSVO.sdCodeDVO}"> -->
<!-- 				<form id="searchForm" > -->
<!-- 					<label for="selTskDivCd">업무구분</label> -->
<!-- 					<select id="selTskDivCd" name="selTskDivCd"></select> -->
<!-- 					<label for="cdGrpId">코드그룹ID</label> -->
<!-- 					<input type="text" id="cdGrpId" name="cdGrpId" th:value="*{cdGrpId}" /> -->
<!-- 					<label for="cdGrpNm">코드그룹명</label> -->
<!-- 					<input type="text" id="cdGrpNm" name="cdGrpNm" th:value="*{cdGrpNm}" /> -->
<!-- 					<label for="cdGrpId">코드그룹키</label> -->
<!-- 					<input type="text" id="cdGrpKey" name="cdGrpKey" th:value="*{cdGrpKey}" /> -->
<!-- 					<label for="prnCdGrpId">상위코드그룹ID</label> -->
<!-- 					<input type="text" id="prnCdGrpId" name="prnCdGrpId" th:value="*{prnCdGrpId}" /> -->
<!-- 					<label for="prnCdVl">상위코드</label> -->
<!-- 					<input type="text" id="prnCdVl" name="prnCdVl" th:value="*{prnCdVl}" /> -->
<!-- 					<label for="cdVl">코드</label> -->
<!-- 					<input type="text" id="cdVl" name="cdVl" th:value="*{cdVl}" /> -->
<!-- 					<label for="cdNm">코드명</label> -->
<!-- 					<input type="text" id="cdNm" name="cdNm" th:value="*{cdNm}" /> -->
<!-- 					<label for="selUseYn">사용유무</label> -->
<!-- 					<select id="selUseYn"></select> -->
<!-- 				</form> -->
				
<!-- 				Button -->
<!-- 				<input type="button" id="searchBtn" value="조회" /> -->
<!-- 			</div> -->
			
			<!-- Head -->
<!-- 			<div id="head_wrap"> -->
<!-- 				<select id="selUseYn"> -->
<!-- 					<option value="Y" selected>사용</option> -->
<!-- 					<option value="N">미사용</option> -->
<!-- 				</select> -->
<!-- 				<input type="button" id="searchBtn" value="사용유무변경" /> -->
<!-- 			</div> -->
			
			<!-- List -->
			<section class="community_list_wrap">
				
				<!-- Title -->
                <div class="community_list_title">
                    <p>기준정보</p>
                    <h2>코드관리</h2>
                </div>
                
                <!-- Search -->
                <div id="search_wrap" class="community_search_wrap">
                	<div class="community_search">
<!--                 	<div class="table-responsive"> -->
                		<form id="searchForm">
	                		<table class="table">
		                		<tbody>
		                            <tr>
		                                <td>관리자 ID</td>
		                                <td>
		                                    <input type="text" name="admin_id" class="form-control" value="">
		                                </td>
		                                <td>관리자 이름</td>
		                                <td>
		                                    <input type="text" name="admin_name" class="form-control" value="">
		                                </td>                        
		                            </tr>
		                    	</tbody>
	                		</table>
                		</form>
<!--                 	</div> -->
                	</div>
                </div>
                
<!--                 <div class="community_list_table_wrap"> -->
<!-- 					<table class="community_list_table"> -->
<!-- 						<thead> -->
<!-- 							<tr> -->
<!-- 								<td>No</td> -->
<!-- 								<td>업무구분코드</td> -->
<!-- 								<td>업무구분명</td> -->
<!-- 								<td>코드그룹ID</td> -->
<!-- 								<td>코드그룹명</td> -->
<!-- 								<td>코드그룹키</td> -->
<!-- 								<td>상위코드그룹ID</td> -->
<!-- 								<td>상위코드</td> -->
<!-- 								<td>코드</td> -->
<!-- 								<td>코드명</td> -->
<!-- 								<td>코드순서</td> -->
<!-- 								<td>코드비고</td> -->
<!-- 								<td>사용여부</td> -->
<!-- 								<td>최종수정일시</td> -->
<!--                             </tr> -->
<!-- 						</thead> -->
<!-- 						<tbody> -->
<!-- 							<tr th:if="${not #lists.isEmpty(returnSVO.sdCodeDVOList)}" th:each="sdCodeDVO : ${returnSVO.sdCodeDVOList}" th:onclick="fn_codeDetail([[ ${sdCodeDVO} ]])"> -->
<!-- 								<td th:text="${sdCodeDVOStat.index + 1}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.tskDivCd}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.tskDivNm}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.cdGrpId}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.cdGrpNm}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.cdGrpKey}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.prnCdGrpId}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.prnCdVl}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.cdVl}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.cdNm}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.cdOrd}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.remark}"></td> -->
<!-- 								<td th:text="${sdCodeDVO.useYn}"></td> -->
<!-- 								<td th:text="${#temporals.format(sdCodeDVO.lstMdfDt, 'yyyy-MM-dd HH:mm')}"></td> -->
<!-- 							</tr> -->
<!-- 							<tr th:unless="${not #lists.isEmpty(returnSVO.sdCodeDVOList)}"> -->
<!-- 								<td colspan="12">조회된 결과가 없습니다.</td> -->
<!-- 							</tr> -->
<!-- 						</tbody> -->
<!-- 					</table> -->
<!-- 					<button type="button" id="registBtn" value="글등록" th:text="|글등록|" class="Btn"></button> -->
<!-- 				</div> -->
				<div id="sdCodeList"></div>
			</section>
				
			<!-- Footer -->
			<div id="footer_wrap">
				<div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
				<input type="button" id="codeRegistBtn" value="코드등록" />
			</div>
		</div>
	</div>
</body>
</html>