html{font-size: 20px;}
body{font-size: 1rem;}

/* header */

/* header */

/* ----------------------------- main ----------------------------- */

/* main_visual */

/* main_visual */

/* main_sermontoday */

/* main_sermontoday */

/* main_church */
#main_church{
    height: auto
}
#main_church #church_contents{
    padding: 4rem 4rem 6rem 4rem;
    /* 80px; */
}
#main_church #church_contents ul{
    width: 100%;
}
#main_church #church_contents ul li{
    width: 23.5%;
    margin-left: 2%;
}
/* main_church */

/* main_community */
#main_community{
    padding: 6rem 4rem;
}
/* main_community */


/* ----------------------------- main ----------------------------- */

/* footer */
footer{
    padding: 2.5rem 4rem;
}
/* footer */

/* ------------------------ 2021.06.03 새로 추가된 곳 ------------------------ */
.worship_visual_main p{
    padding: 0 0 2rem 6rem;
}
.worship_video_area{
    padding: 6rem 6rem 0 6rem;
}
.next_generation_info{
    padding: 6rem 6rem 0 6rem;
}
.worship_visual_nav ul{
    padding: 0 4.5rem;
}
/* ------------------------ 2021.06.03 새로 추가된 곳 ------------------------ */


/* ------------------------ 2021.06.03 새로 추가된 곳 - 2 ------------------------ */
.community_list_wrap{
    padding: 6rem 6rem 6rem 6rem;
}
.writingArea_wrap{
    padding: 6rem;
}
/* ------------------------ 2021.06.03 새로 추가된 곳 - 2 ------------------------ */

/* ------------------------ 2021.06.23 새로 추가된 곳 ------------------------ */
nav.Pagination_wrap{
	padding: 0 6rem 6rem 6rem;
}
/* ------------------------ 2021.06.23 새로 추가된 곳 ------------------------ */

/* ------------------------  css 추가 2021.06.24 업데이트 ------------------------  */
.groupIntroduction_wrap{
    padding: 6rem;
}
.thoseWhoServe_wrap{
    padding: 6rem;
}
/* ------------------------  css 추가 2021.06.24 업데이트 ------------------------  */

/* ------------------------  css 추가 2021.07.03 업데이트 ------------------------  */
#main_visual #visual_titlebox p,
#main_visual #visual_titlebox h2,
#main_visual #visual_titlebox span{
	padding-left: 4rem;
}
#main_visual #visual_titlebox #main_visual_text{
	left:4rem;
}
/* ------------------------  css 추가 2021.07.03 업데이트 ------------------------  */