html{font-size: 16px;}
body{font-size: 1rem;}

/* header */
header{
    margin: 0 1rem;
}
header #logo{
    width: 7rem;
    height: 1.65rem;
}
header nav{
    display: none;
}
header nav > ul > li > a{
    font-size: 0.65rem;
}
#main_visual #visual_titlebox p::after{
    width: 11rem;
    bottom: 0.5rem;
}
/* header */

/* ----------------------------- main ----------------------------- */

/* main_visual */
#main_visual #visual_titlebox p{
    font-size: 1rem;
    padding-bottom: 2rem;
}
#main_visual #visual_titlebox h2{
    font-size: 1.8rem;
    padding-bottom: 2rem;
    line-height: 2.8rem;
}
#main_visual #visual_titlebox span{
    font-size: 1.1rem;
}
/* main_visual */

/* main_sermontoday */
#main_sermontoday{
    padding: 6rem 1rem;
}
.main_titlebox p{
    width: auto;
}
.main_titlebox h2{
    font-size: 1.8rem;
    padding-bottom: 2rem;
    line-height: 2.8rem;
}
.main_titlebox h3{
    font-size: 0.8rem;
}
/* main_sermontoday */

/* main_church */
#main_church{
    height: auto;
}
#main_church #church_contents{
    padding: 2.8rem 0.8rem 6rem 0.8rem;
    /* 80px; */
}
#main_church #church_contents ul{
    width: 100%;
}
#main_church #church_contents ul li{
    width: 47.5%;
    margin-left: 5%;
    height: 13rem;
}
#main_church #church_contents ul li a{
    height: 13rem;
}
#main_church #church_contents .church_contents_img{
    height: 7rem;
}
#main_church #church_contents ul li:nth-child(2n+1){
    margin-left: 0;
}
#main_church #church_contents ul li:nth-child(3),
#main_church #church_contents ul li:nth-child(4){
    margin-top: 5%;
}
.main_titlebox h2{
    font-size: 1.8rem;
    padding-bottom: 2rem;
    line-height: 2.8rem;
    width: 12.5rem;
    margin: 0 auto;
}
#main_church .main_titlebox{
    padding: 6rem 2rem 0 2rem;
}
/* main_church */

/* main_community */
#main_community{
    padding: 6rem 1rem;
}
#main_community #community_contents ul li .community_text{
    margin-left: 2rem;
    width: 55%;
}
#main_community #community_contents ul li .community_text p:nth-child(1){
    line-height: 1.2rem;
}
#main_community #community_contents{
    padding-top: 0;
}
/* main_community */
#main_church #church_contents ul li:hover{
    transform: translateY(0px);
}

/* ----------------------------- main ----------------------------- */

/* footer */
footer{
    padding: 2.5rem 1rem;
}
footer #footer_logo{
    float: none;
}
footer #footer_text{
    margin-left: -0.5rem;
    margin-top: 1.5rem;
}
footer #footer_text #footer_info{
    padding-bottom: 1rem;
}
footer #footer_text #footer_info p{
    display: block;
    padding-left: 0.5rem;
}
footer #footer_text, footer #footer_text #footer_nav ul li{
    display: block;
}
footer #footer_text #footer_nav ul li a{
    padding: 0.2rem 0.5rem;
    display: block;
}
/* footer */


/* ------------------------ 2021.06.03 새로 추가된 곳 ------------------------ */
.worship_visual_main p{
    padding: 0 0 2rem 1rem;
}
.worship_video_area{
    padding: 6rem 1rem 0 1rem;
}

.worship_video_listwrap .worship_video_list > ul li{
    width: 100%;
    margin-left: 0;
    margin-top: 8%;
    height: 18rem;
}
.worship_video_listwrap .worship_video_list > ul li:nth-child(2),
.worship_video_listwrap .worship_video_list > ul li:nth-child(3),
.worship_video_listwrap .worship_video_list > ul li:nth-child(4){
    margin-top: 8%;
}
.worship_video_listwrap .worship_video_list > ul li:nth-child(2n+1){
    margin-left: 0;
}
.worship_video_listwrap .worship_video_list > ul li .list_video{
    height: 9.6rem;
}
.worship_video_list_nav > ul{
    width: 60%;
}
.worship_video_list_nav > ul li{

    margin-bottom: 0.3rem;
}
.worship_video_list_nav > ul li:first-child, .worship_video_list_nav > ul li:last-child{
    top: 0.5rem;
}
.next_generation_info{
    padding: 6rem 2rem 0 2rem;
}
.worship_visual_nav ul{
    padding: 0;
}
/* ------------------------ 2021.06.03 새로 추가된 곳 ------------------------ */


/* ------------------------ 2021.06.03 새로 추가된 곳 - 2 ------------------------ */
.community_list_wrap{
    padding: 6rem 2rem 6rem 2rem;
}
.writingArea_wrap{
    padding: 4rem 1rem;
}
.community_search_wrap::after{
    top: 4rem;
}
/* ------------------------ 2021.06.03 새로 추가된 곳 - 2 ------------------------ */

/* ------------------------ 2021.06.04 새로 추가된 곳 ------------------------ */
.videoUploadArea_wrap .videoUploadArea{
    width: 100%;
}

/* ------------------------ 2021.06.04 새로 추가된 곳 ------------------------ */

/* ------------------------  교회 소개부분 추가 2021.06.09 업데이트 ------------------------  */
/* 교회소개 레이아웃 */
.introduction_to_church_wrap{
    padding: 4rem 1rem;
}
.introduction_to_church_wrap .introduction_to_church_title{
    padding-bottom: 2rem;
}
/* 교회소개 레이아웃 */

/* 인사말 */
.introduction_to_church_content ul#introduction_to_church_ul li{
    float: none;
}
.introduction_to_church_content ul#introduction_to_church_ul li#greeting_text{
    width: 100%;
}
.introduction_to_church_content ul#introduction_to_church_ul li#greeting_img{
    display:none;
}
.introduction_to_church_content ul#introduction_to_church_ul li#greeting_text h2{
    font-size: 1.9rem;
    line-height: 2.5rem;
}
/* 인사말 */

/* 예배안내 */

/* 예배안내 */

/* 오시는 길 */
.introduction_to_church_content ul#directions_ul li{
    float: none;
    width: 100%;
}
.introduction_to_church_content ul#directions_ul li{
    margin-left: 0;
    margin-top: 2rem;
}
/* 오시는 길 */


/* ------------------------  교회 소개부분 추가 2021.06.09 업데이트 ------------------------  */
#main_community #community_contents ul li .community_text{
	margin-left: 1rem;
}
#main_visual #visual_titlebox{
	width:100%;
}
#menu_box,
#menu_box #menu_inner #menubtn_box_close_fixed{
	width:100%;
}
#menu_box #menu_inner #menubtn_box_position{
	    margin-right: 1rem;
}
#menu_box #menu_join ul{
	right: 0.5rem;
}
#menu_box #menu_nav > ul > li > span::after, #menu_box #menu_nav > ul > li > a::after{
	right: 1rem;
}
#FullScreenControl_self_produced{
	display:none;
}
#worship_video_delete_modifications{
	position: static;
}
.worship_video_area .worship_recently_videowrap .recently_video_info{
	margin-bottom: 4rem;
}
.worship_video_area .worship_recently_videowrap .recently_video{
	height: 250px;
}
nav.Pagination_wrap{
	    padding: 0 1rem 6rem 1rem;
}
nav.Pagination_wrap .inquiryResult{
	float:none;
	margin-bottom:1rem;
}
nav.Pagination_wrap ul.pagination{
	left: 0%;
	transform: translate(0%,-10%);
	margin-left:1rem;
}
nav.Pagination_wrap #listSize{
	float:none;
	position: absolute;
	bottom:2rem;
}

/* ------------------------  css 추가 2021.06.23 업데이트 ------------------------  */
#greeting_img_reactive{
	display:block;
	width:100%;
	margin-bottom:4rem;
	height:300px;
}
#greeting_img_reactive img{
	height:100%;
	margin:0 auto;
	display:block;
}

/* ------------------------  css 추가 2021.06.24 업데이트 ------------------------  */
.groupIntroduction_wrap{
    padding: 4rem 2rem;
}
.groupIntroduction_wrap .groupIntroduction_content .groupIntroduction_content_img img{
    width: 100%;
}
.groupIntroduction_wrap .groupIntroduction_content .groupIntroduction_content_text p{
    width: 100%;
}
.groupIntroduction_wrap .groupIntroduction_explanation ul li .groupIntroduction_explanation_icon{
    width: 3rem;
    height: 3rem;
}
.thoseWhoServe_wrap{
    padding: 4rem 2rem;
}
.thoseWhoServe_wrap .thoseWhoServe_pastor ul li{
    width: 100%;
    margin-left: 0;
    margin-top: 8%;
}
.thoseWhoServe_wrap .thoseWhoServe_pastor ul li:nth-child(1){
    margin-top: 0;
}
.thoseWhoServe_mentor ul li{
    width: 100%;
    margin-top: 8%;
    margin-left: 0;
}
.thoseWhoServe_mentor ul li:nth-child(2n+1){
    margin-left: 0;
}
.thoseWhoServe_mentor ul li:nth-child(1){
    margin-top: 0;
}
.thoseWhoServe_mentor ul li:nth-child(2){
    margin-top: 8%;
}
.thoseWhoServe_wrap .thoseWhoServe_pastorInCharge ul li{
    width: 100%;
    margin-left: 0;
}
.thoseWhoServe_wrap .thoseWhoServe_pastorInCharge ul li:nth-child(1){
    margin-bottom: 8%;
}
.thoseWhoServe_Chairman ul li, .thoseWhoServe_Executive ul li{
    width: 100%;
}
.thoseWhoServe_Executive ul li:nth-child(4n+1){
    margin-left: 4%;
}
.thoseWhoServe_Executive ul li:nth-child(2n+1){
    margin-left: 0;
}
.thoseWhoServe_Executive ul li:nth-child(3), .thoseWhoServe_Executive ul li:nth-child(4){
    margin-top: 4%;
}
.thoseWhoServe_Chairman ul li, .thoseWhoServe_Executive ul li{
    margin-left: 0;
}
.thoseWhoServe_Executive ul li:nth-child(2){
    margin-top: 4%;
}
/* ------------------------  css 추가 2021.06.24 업데이트 ------------------------  */

/* ------------------------  css 추가 2021.06.25 업데이트 ------------------------  */
.WorshipGuideInformation_img img{
    width: 100%;
}
.WorshipGuideInformation_img{
    margin-top: 4rem;
}
/* ------------------------  css 추가 2021.06.25 업데이트 ------------------------  */
/* ------------------------  css 추가 2021.07.03 업데이트 ------------------------  */
#main_visual #visual_titlebox p,
#main_visual #visual_titlebox h2,
#main_visual #visual_titlebox span{
	padding-left: 2rem;
}
#main_visual #visual_titlebox #main_visual_text{
	left:2rem;
}
/* ------------------------  css 추가 2021.07.03 업데이트 ------------------------  */

/* ------------------------  css 추가 2021.07.04 업데이트 ------------------------  */
#main_visual{
	background: url(/images/slyouth/main_visual_img6.jpg) no-repeat center;
	background-size:cover;
}
/* ------------------------  css 추가 2021.07.04 업데이트 ------------------------  */