html{font-size: 20px;}
body{font-size: 1rem;}

/* header */
header{
    margin: 0 2rem;
}
header #logo{
    width: 7rem;
    height: 1.8rem;
}
header nav{
    width: 26.5rem;
    /* 414px; */
    padding: 0.45rem;
    left: 53%;
}
header nav > ul > li > a{
    font-size: 0.65rem;
    padding: 0.75rem;
}
/* header */

/* ----------------------------- main ----------------------------- */

/* main_visual */

/* main_visual */

/* main_sermontoday */

/* main_sermontoday */

/* main_church */
#main_church{
    height: auto;
}
#main_church #church_contents{
    padding: 4rem 2rem 6rem 2rem;
    /* 80px; */
}
#main_church #church_contents ul{
    width: 100%;
}
#main_church #church_contents ul li{
    width: 23.5%;
    margin-left: 2%;
}
/* main_church */

/* main_community */
#main_community{
    padding: 6rem 2rem;
}
/* main_community */


/* ----------------------------- main ----------------------------- */

/* footer */
footer{
    padding: 2.5rem 2rem;
}
footer #footer_logo{
    float: none;
}
footer #footer_text{
    margin-left: -0.5rem;
    margin-top: 1.5rem;
}
footer #footer_text #footer_info{
    padding-bottom: 0;
}
/* footer */

/* ------------------------ 2021.06.03 새로 추가된 곳 ------------------------ */
.worship_visual_main p{
    padding: 0 0 2rem 2rem;
}
.worship_video_area{
    padding: 6rem 2rem 0 2rem;
}
.next_generation_info{
    padding: 6rem 2rem 0 2rem;
}
.worship_visual_nav ul{
    padding: 0 0.8rem;
}
/* ------------------------ 2021.06.03 새로 추가된 곳 ------------------------ */

/* ------------------------ 2021.06.03 새로 추가된 곳 - 2 ------------------------ */
.community_list_wrap{
    padding: 6rem 2rem 6rem 2rem;
}
.writingArea_wrap{
    padding: 4rem 2rem;
}
/* ------------------------ 2021.06.03 새로 추가된 곳 - 2 ------------------------ */

/* ------------------------  교회 소개부분 추가 2021.06.09 업데이트 ------------------------  */
/* 교회소개 레이아웃 */
.introduction_to_church_wrap{
    padding: 4rem 2rem;
}
/* 교회소개 레이아웃 */

/* 인사말 */
.introduction_to_church_content ul#introduction_to_church_ul li{
    float: none;
}
.introduction_to_church_content ul#introduction_to_church_ul li#greeting_text{
    width: 100%;
}
.introduction_to_church_content ul#introduction_to_church_ul li#greeting_img{
    display:none;
}
/* 인사말 */

/* 예배안내 */

/* 예배안내 */

/* 오시는 길 */
.introduction_to_church_content ul#directions_ul li{
    float: none;
    width: 100%;
}
.introduction_to_church_content ul#directions_ul li{
    margin-left: 0;
    margin-top: 2rem;
}
/* 오시는 길 */


/* ------------------------  교회 소개부분 추가 2021.06.09 업데이트 ------------------------  */
nav.Pagination_wrap{
	    padding: 0 2rem 6rem 2rem;
}

/* ------------------------  css 추가 2021.06.23 업데이트 ------------------------  */
#greeting_img_reactive{
	display:block;
	width:100%;
	margin-bottom:4rem;
}
#greeting_img_reactive img{
	height:100%;
	margin:0 auto;
	display:block;
}

/* ------------------------  css 추가 2021.06.24 업데이트 ------------------------  */
.groupIntroduction_wrap{
    padding: 6rem 2rem;
}
.groupIntroduction_wrap .groupIntroduction_content .groupIntroduction_content_img img{
    width: 100%;
}
.thoseWhoServe_wrap{
    padding: 6rem 2rem;
}
/* ------------------------  css 추가 2021.06.24 업데이트 ------------------------  */

/* ------------------------  css 추가 2021.06.25 업데이트 ------------------------  */
.WorshipGuideInformation_img img{
    width: 100%;
}
/* ------------------------  css 추가 2021.06.25 업데이트 ------------------------  */

/* ------------------------  css 추가 2021.07.03 업데이트 ------------------------  */
#main_visual #visual_titlebox p,
#main_visual #visual_titlebox h2,
#main_visual #visual_titlebox span{
	padding-left: 2rem;
}
#main_visual #visual_titlebox #main_visual_text{
	left:2rem;
}
/* ------------------------  css 추가 2021.07.03 업데이트 ------------------------  */