<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <title>seungleeyouth</title>
    <link rel="shortcut icon" type="image⁄x-icon" href="img/favicon-83x83.png">
    <link href="css/fixedlayout.css" rel="stylesheet" type="text/css" />
    <link href="css/mainlayout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/1024_1280.css" type="text/css" media="screen and (min-width:1024px) and (max-width:1280px)"/>
    <link rel="stylesheet" href="css/768_1023.css" type="text/css" media="screen and (min-width:768px) and (max-width:1023px)"/>
    <link rel="stylesheet" href="css/480_767.css" type="text/css" media="screen and (min-width:480px) and (max-width:767px)"/>
    <link rel="stylesheet" href="css/478.css" type="text/css" media="screen and (max-width:479px)"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="js/fixed.js" type="text/javascript"></script>
</head>
<body>
    <div id="menu_box">
        <div id="menu_inner">
            <div id="menubtn_box_close_fixed">
                <div id="menubtn_box_position">
                    <div id="menubtn_box_close">
                        <div id="menu_btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu_join">
                <ul>
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                    <li>
                        <a href="#">로그인</a>
                    </li>
                </ul>
            </div>
            <div id="menu_nav">
                <ul>
                    <li class="meueclick1">
                        <span>교회소개</span>
                        <ul class="menublock1">
                            <li><a href="#">인사말</a></li>
                            <li><a href="#">섬기는사람들</a></li>
                            <li><a href="#">예배안내</a></li>
                            <li><a href="#">오시는길</a></li>
                        </ul>
                    </li>
                    <li class="meueclick2">
                        <span>예배와 찬양</span>
                        <ul class="menublock2">
                            <li><a href="#">주일예배</a></li>
                            <li><a href="#">특별집회</a></li>
                            <li><a href="#">주보</a></li>
                        </ul>
                    </li>
                    <li class="meueclick3">
                        <span>다음세대</span>
                        <ul class="menublock3">
                            <li><a href="#">영아부</a></li>
                            <li><a href="#">유아부</a></li>
                            <li><a href="#">유치부</a></li>
                            <li><a href="#">유년부</a></li>
                            <li><a href="#">소년부</a></li>
                            <li><a href="#">중등부</a></li>
                            <li><a href="#">고등부</a></li>
                        </ul>
                    </li>
                    <li class="meueclick4">
                        <span>커뮤니티</span>
                        <ul class="menublock4">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">마음의소리</a></li>
                            <li><a href="#">나눔</a></li>
                            <li><a href="#">찬양공유</a></li>
                        </ul>
                    </li>
                    <li><a href="#">양육과 훈련</a></li>
                    <li class="meueclick5">
                        <span>기준정보</span>
                        <ul class="menublock5">
                            <li><a href="#">코드관리</a></li>
                            <li><a href="#">권한관리</a></li>
                            <li><a href="#">로그인관리</a></li>
                            <li><a href="#">메뉴관리</a></li>
                        </ul>
                    </li>
                    <li class="meueclick6">
                        <span>교적관리</span>
                        <ul class="menublock6">
                            <li><a href="#">교적관리</a></li>
                            <li><a href="#">출결관리</a></li>
                        </ul>
                    </li>
                    <li class="meueclick7">
                        <span>사랑방</span>
                        <ul class="menublock7">
                            <li><a href="#">사랑방보고서</a></li>
                            <li><a href="#">사랑방활동</a></li>
                        </ul>
                    </li>
                    <li class="meueclick8">
                        <span>업무</span>
                        <ul class="menublock8">
                            <li><a href="#">일정등록</a></li>
                            <li><a href="#">사랑방구성원</a></li>
                            <li><a href="#">회의록</a></li>
                            <li><a href="#">회계내역</a></li>
                            <li><a href="#">인수인계</a></li>
                            <li><a href="#">일정등록</a></li>
                            <li><a href="#">봉사부서관리</a></li>
                        </ul>
                    </li>
                    <li class="meueclick9">
                        <span>일정</span>
                        <ul class="menublock9">
                            <li><a href="#">일정조회</a></li>
                        </ul>
                    </li>
                    <li class="meueclick10">
                        <span>현황</span>
                        <ul class="menublock10">
                            <li><a href="#">현황조회</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="wrap">
        <div id="header_wrap">
            <header class="clearfix">
                <div id="logo">
                    <h1>
                        <a href="index.html">
                            <img src="img/logo.png" alt="승리교회 로고" />
                        </a>
                    </h1>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="#">교회소개</a>
                            <ul>
                                <li><a href="#">인사말</a></li>
                                <li><a href="#">섬기는사람들</a></li>
                                <li><a href="#">예배안내</a></li>
                                <li><a href="#">오시는길</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">예배와 찬양</a>
                            <ul>
                                <li><a href="#">주일예배</a></li>
                                <li><a href="#">특별집회</a></li>
                                <li><a href="#">주보</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">다음세대</a>
                            <ul>
                                <li><a href="#">소년부</a></li>
                                <li><a href="#">중등부</a></li>
                                <li><a href="#">고등부</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">커뮤니티</a>
                            <ul>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">마음의소리</a></li>
                                <li><a href="#">나눔</a></li>
                                <li><a href="#">찬양공유</a></li>
                            </ul>
                        </li>
                        <li><a href="#">양육과 훈련</a></li>
                    </ul>
                </nav>
                <div id="menubtn_box_touch">
                    <div id="menubtn_box">
                        <div id="menu_btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="section_wrap">
            <section id="main_visual">
                <div id="visual_titlebox">
                    <p>2021 SEUNGLEE YOUTH</p>
                    <h2>회복하시는<br/>아버지 품으로</h2>
                    <span>누가복음 15:20</span>
                </div>
            </section>

            <section id="main_sermontoday">
                <div class="main_titlebox">
                    <span>SERMON TODAY</span>
                    <h2>승리교회 청년부<br/> 생명의 말씀</h2>
                    <h3>2021 SEUNGLEE YOUTH 예수로 사는 청년들</h3>
                    <p>우리는 이 세상의 가치와 문화, 지식과 번영에서 존재의 이유를 찾는 사람이 아니라 오직 예수 그리스도의 십자가 안에서 회복하신 존재와 가치를 발견하고, 꿈과 비전을 재설정 하며, 믿음의 공동체로 하나 되게 하신 예수 그리스도를 자랑하며 캠퍼스와 직장, 그리고 가정에서 충만한 하나님의 생명으로 살아가는 사람들이다.</p>
                    <div class="golink_btn">
                        <a href="#">유튜브 페이지로 이동</a>
                    </div>
                </div>
            </section>

            <section id="main_church">
                <div class="main_titlebox">
                    <span>CHURCH</span>
                    <h2>승리교회 청년부를 소개합니다</h2>
                    <h3>“회복하시는 아버지 품으로”</h3>
                    <p>1. 복음의 능력으로 구원의 감격을 회복하라<br/>
                        2. 주님의 제자된 리더십을 회복하라<br/>
                    3. 기쁨의 공동체로 하나됨을 회복하라<br/>
                    4. 마지막 때의 선교 비전을 회복하라</p>
                </div>

                <div id="church_contents">
                    <ul class="clearfix">
                        <li>
                            <a href="#">
                                <div class="church_contents_img"></div>
                                <div class="church_contents_textinner">
                                    <div class="church_contents_textbox church_contents_13">
                                        <h3>예배 안내</h3>
                                        <p>은혜롭고 경건한 예배<br/>
                                            시간을 소개합니다.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="church_contents_icon"></div>
                                <div class="church_contents_textbox church_contents_24">
                                    <h3>오시는 길</h3>
                                    <p>승리교회 청년부로 내딛는<br/>
                                        모든 길을 안내합니다.</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="church_contents_img"></div>
                                <div class="church_contents_textinner">
                                    <div class="church_contents_textbox church_contents_13">
                                        <h3>새가족 안내</h3>
                                        <p>처음 교회에 오신<br/>
                                            모든 분들을 환영합니다.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="church_contents_icon"></div>
                                <div class="church_contents_textbox church_contents_24">
                                    <h3>온라인행정</h3>
                                    <p>필요하신 모든 서류를<br/>
                                        제공받으세요.</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="main_community">
                <div class="main_titlebox">
                    <span>COMMUNITY</span>
                    <h2>승리교회 청년부 소식과 나눔</h2>
                </div>

                <div id="community_contents">
                    <ul>
                        <li>
                            <div class="community_day">
                                <a href="#">
                                    <span>18</span>
                                    <span>2021.04</span>
                                </a>
                            </div>
                            <div class="community_text">
                                <p>2021년 4월 18일(주일) 현장&실시간 영상예배 순서지 및 광고</p>
                                <p>4월 18일(셋째 주일) 1부 현장(오전 9시), 2부 현장 및 유튜브 실시간 영상(오전 11시), 3부 현장 및 청년부 자체 영상(오후 2...</p>
                            </div>
                            <div class="community_golink">
                                <button>
                                    <span></span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="community_day">
                                <a href="#">
                                    <span>10</span>
                                    <span>2021.04</span>
                                </a>
                            </div>
                            <div class="community_text">
                                <p>2021년 4월 11일(주일) 현장&실시간 영상예배 순서지 및 광고</p>
                                <p>4월 11일(둘째 주일) 1부 현장(오전 9시), 2부 현장 및 유튜브 실시간 영상(오전 11시), 3부 현장 및 청년부 자체 영상(오후...</p>
                            </div>
                            <div class="community_golink">
                                <button>
                                    <span></span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="community_day">
                                <a href="#">
                                    <span>03</span>
                                    <span>2021.04</span>
                                </a>
                            </div>
                            <div class="community_text">
                                <p>2021년 4월 4일(주일) 현장&실시간 영상예배 순서지 및 광고</p>
                                <p>4월 4일(첫째 주일) 1부 현장(오전 9시), 2부 현장 및 유튜브 실시간 영상(오전 11시), 3부 현장 및 청년부 자체 영상(오후 2...</p>
                            </div>
                            <div class="community_golink">
                                <button>
                                    <span></span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="golink_btn">
                    <a href="#">VIEW MORE</a>
                </div>
            </section>

            <footer class="clearfix">
                <div id="footer_logo">
                    <a href="index.html">
                        <img src="img/footer_logo.png" alt="승리교회 로고 white">
                    </a>
                </div>
                <div id="footer_text">
                    <div id="footer_nav">
                        <ul>
                            <li>
                                <a href="#">로그인</a>
                            </li>
                            <li>
                                <a href="#">회원가입</a>
                            </li>
                            <li>
                                <a href="#">개인정보처리방침</a>
                            </li>
                            <li>
                                <a href="#">이용약관</a>
                            </li>
                            <li>
                                <a href="#">찾아오시는길</a>
                            </li>
                        </ul>
                    </div>
                    <div id="footer_info">
                        <p id="footer_addr">Addr. [10365] 경기도 고양시 일산서구 호수로 712</p>
                        <p id="footer_tel">Tel. 031-911-9191 / 931-20002</p>
                        <p id="footer_fex">Fax. 031-931-2039</p>
                    </div>
                    <p id="footer_copy">
                        Copyright by 2018 Seung Lee Church. All Rights Reserved. Send E-mail to Administrator
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>