<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
    <title>seungleeyouth-공동채소갸-예배안내</title>
    <link href="css/fixedlayout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/1024_1280.css" type="text/css" media="screen and (min-width:1024px) and (max-width:1280px)"/>
    <link rel="stylesheet" href="css/768_1023.css" type="text/css" media="screen and (min-width:768px) and (max-width:1023px)"/>
    <link rel="stylesheet" href="css/480_767.css" type="text/css" media="screen and (min-width:480px) and (max-width:767px)"/>
    <link rel="stylesheet" href="css/478.css" type="text/css" media="screen and (max-width:479px)"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="js/fixed.js" type="text/javascript"></script>
</head>
<body>
    <div id="menu_box">
        <div id="menu_inner">
            <div id="menubtn_box_close_fixed">
                <div id="menubtn_box_position">
                    <div id="menubtn_box_close">
                        <div id="menu_btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu_join">
                <ul>
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                    <li>
                        <a href="#">로그인</a>
                    </li>
                </ul>
            </div>
            <div id="menu_nav">
                <ul>
                    <li class="meueclick1">
                        <span>교회소개</span>
                        <ul class="menublock1">
                            <li><a href="#">인사말</a></li>
                            <li><a href="#">섬기는사람들</a></li>
                            <li><a href="#">예배안내</a></li>
                            <li><a href="#">오시는길</a></li>
                        </ul>
                    </li>
                    <li class="meueclick2">
                        <span>예배와 찬양</span>
                        <ul class="menublock2">
                            <li><a href="VWWS0001.html">주일예배</a></li>
                            <li><a href="#">특별집회</a></li>
                            <li><a href="#">주보</a></li>
                        </ul>
                    </li>
                    <li class="meueclick3">
                        <span>다음세대</span>
                        <ul class="menublock3">
                            <li><a href="VWNG0010.html">영아부</a></li>
                            <li><a href="#">유아부</a></li>
                            <li><a href="#">유치부</a></li>
                            <li><a href="#">유년부</a></li>
                            <li><a href="#">소년부</a></li>
                            <li><a href="#">중등부</a></li>
                            <li><a href="#">고등부</a></li>
                        </ul>
                    </li>
                    <li class="meueclick4">
                        <span>커뮤니티</span>
                        <ul class="menublock4">
                            <li><a href="VWNT0001.html">공지사항</a></li>
                            <li><a href="#">마음의소리</a></li>
                            <li><a href="#">나눔</a></li>
                            <li><a href="#">찬양공유</a></li>
                        </ul>
                    </li>
                    <li><a href="#">양육과 훈련</a></li>
                    <li class="meueclick5">
                        <span>기준정보</span>
                        <ul class="menublock5">
                            <li><a href="#">코드관리</a></li>
                            <li><a href="#">권한관리</a></li>
                            <li><a href="#">로그인관리</a></li>
                            <li><a href="#">메뉴관리</a></li>
                        </ul>
                    </li>
                    <li class="meueclick6">
                        <span>교적관리</span>
                        <ul class="menublock6">
                            <li><a href="#">교적관리</a></li>
                            <li><a href="#">출결관리</a></li>
                        </ul>
                    </li>
                    <li class="meueclick7">
                        <span>사랑방</span>
                        <ul class="menublock7">
                            <li><a href="#">사랑방보고서</a></li>
                            <li><a href="#">사랑방활동</a></li>
                        </ul>
                    </li>
                    <li class="meueclick8">
                        <span>업무</span>
                        <ul class="menublock8">
                            <li><a href="#">일정등록</a></li>
                            <li><a href="#">사랑방구성원</a></li>
                            <li><a href="#">회의록</a></li>
                            <li><a href="#">회계내역</a></li>
                            <li><a href="#">인수인계</a></li>
                            <li><a href="#">일정등록</a></li>
                            <li><a href="#">봉사부서관리</a></li>
                        </ul>
                    </li>
                    <li class="meueclick9">
                        <span>일정</span>
                        <ul class="menublock9">
                            <li><a href="#">일정조회</a></li>
                        </ul>
                    </li>
                    <li class="meueclick10">
                        <span>현황</span>
                        <ul class="menublock10">
                            <li><a href="#">현황조회</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="wrap">
        <div id="header_wrap">
            <header class="clearfix">
                <div id="logo">
                    <h1>
                        <a href="index.html">
                            <img src="img/logo.png" alt="승리교회 로고" />
                        </a>
                    </h1>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="#">교회소개</a>
                            <ul>
                                <li><a href="#">인사말</a></li>
                                <li><a href="#">섬기는사람들</a></li>
                                <li><a href="#">예배안내</a></li>
                                <li><a href="#">오시는길</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">예배와 찬양</a>
                            <ul>
                                <li><a href="VWWS0001.html">주일예배</a></li>
                                <li><a href="#">특별집회</a></li>
                                <li><a href="#">주보</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">다음세대</a>
                            <ul>
                                <li><a href="VWNG0010.html">영아부</a></li>
                                <li><a href="#">유아부</a></li>
                                <li><a href="#">유치부</a></li>
                                <li><a href="#">유년부</a></li>
                                <li><a href="#">소년부</a></li>
                                <li><a href="#">중등부</a></li>
                                <li><a href="#">고등부</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">커뮤니티</a>
                            <ul>
                                <li><a href="VWNT0001.html">공지사항</a></li>
                                <li><a href="#">마음의소리</a></li>
                                <li><a href="#">나눔</a></li>
                                <li><a href="#">찬양공유</a></li>
                            </ul>
                        </li>
                        <li><a href="#">양육과 훈련</a></li>
                    </ul>
                </nav>
                <div id="menubtn_box_touch">
                    <div id="menubtn_box">
                        <div id="menu_btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="section_wrap">
            <!-- 여기부터 -->
            <!-- youth worship visual -->
            <section id="youth_worship_visual">
                <div class="worship_visual_main">
                    <p>SEUNGLEE<br/>
                        YOUTH</p>
                </div>
                <div class="worship_visual_nav">
                    <ul class="clearfix">
                        <li>
                            <a href="#" class="page_here">셀라소개</a>
                        </li>
                        <li>
                            <a href="#">주일찬양</a>
                        </li>
                        <li>
                            <a href="#">말씀후찬양</a>
                        </li>
                        <li>
                            <a href="#">특송</a>
                        </li>
                        <li>
                            <a href="#">찬양공유</a>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- youth worship visual -->
            
            <section class="groupIntroduction_wrap">
                <div class="groupIntroduction_title">
                    <p>공동체</p>
                    <h2>예배안내</h2>
                </div>
                <div class="groupIntroduction_explanation" id="WorshipGuideInformation_wrap">
                    <ul class="clearfix">
                        <li class="WorshipGuideInformation">
                            <div class="groupIntroduction_explanation_icon" id="WorshipGuideInformation1"></div>
                            <div class="groupIntroduction_explanation_text">
                                <h4>예배시간</h4>
                                <p>매주 주일 오후 2시</p>
                            </div>
                        </li>
                        <li class="WorshipGuideInformation">
                            <div class="groupIntroduction_explanation_icon" id="WorshipGuideInformation2"></div>
                            <div class="groupIntroduction_explanation_text">
                                <h4>예배장소</h4>
                                <p>양우로데오렌드 A동 4층<br/>
                                    (승리교회 비전센터 푸른초장)</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="WorshipGuideInformation_img"><!-- 여기가 에디터 영역 -->
                    <img src="img/test.png" alt="테스트">
                    <div class="WorshipGuideInformation_text_btn">
                        <input type="button" value="정보 수정" class="Btn">
                    </div>
                </div>
                
            </section>


            <!-- 여기까지 -->
            <footer class="clearfix">
                <div id="footer_logo">
                    <a href="index.html">
                        <img src="img/footer_logo.png" alt="승리교회 로고 white" />
                    </a>
                </div>
                <div id="footer_text">
                    <div id="footer_nav">
                        <ul>
                            <li>
                                <a href="#">로그인</a>
                            </li>
                            <li>
                                <a href="#">회원가입</a>
                            </li>
                            <li>
                                <a href="#">개인정보처리방침</a>
                            </li>
                            <li>
                                <a href="#">이용약관</a>
                            </li>
                            <li>
                                <a href="#">찾아오시는길</a>
                            </li>
                        </ul>
                    </div>
                    <div id="footer_info">
                        <p id="footer_addr">Addr. [10365] 경기도 고양시 일산서구 호수로 712</p>
                        <p id="footer_tel">Tel. 031-911-9191 / 931-20002</p>
                        <p id="footer_fex">Fax. 031-931-2039</p>
                    </div>
                    <p id="footer_copy">
                        Copyright by 2018 Seung Lee Church. All Rights Reserved. Send E-mail to Administrator
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>