`<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
    <title>seungleeyouth-인사말</title>
    <link href="css/fixedlayout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/1024_1280.css" type="text/css" media="screen and (min-width:1024px) and (max-width:1280px)"/>
    <link rel="stylesheet" href="css/768_1023.css" type="text/css" media="screen and (min-width:768px) and (max-width:1023px)"/>
    <link rel="stylesheet" href="css/480_767.css" type="text/css" media="screen and (min-width:480px) and (max-width:767px)"/>
    <link rel="stylesheet" href="css/478.css" type="text/css" media="screen and (max-width:479px)"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="js/fixed.js" type="text/javascript"></script>
</head>
<body>
    <div id="menu_box">
        <div id="menu_inner">
            <div id="menubtn_box_close_fixed">
                <div id="menubtn_box_position">
                    <div id="menubtn_box_close">
                        <div id="menu_btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu_join">
                <ul>
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                    <li>
                        <a href="#">로그인</a>
                    </li>
                </ul>
            </div>
            <div id="menu_nav">
                <ul>
                    <li class="meueclick1">
                        <span>교회소개</span>
                        <ul class="menublock1">
                            <li><a href="#">인사말</a></li>
                            <li><a href="#">섬기는사람들</a></li>
                            <li><a href="#">예배안내</a></li>
                            <li><a href="#">오시는길</a></li>
                        </ul>
                    </li>
                    <li class="meueclick2">
                        <span>예배와 찬양</span>
                        <ul class="menublock2">
                            <li><a href="VWWS0001.html">주일예배</a></li>
                            <li><a href="#">특별집회</a></li>
                            <li><a href="#">주보</a></li>
                        </ul>
                    </li>
                    <li class="meueclick3">
                        <span>다음세대</span>
                        <ul class="menublock3">
                            <li><a href="VWNG0010.html">영아부</a></li>
                            <li><a href="#">유아부</a></li>
                            <li><a href="#">유치부</a></li>
                            <li><a href="#">유년부</a></li>
                            <li><a href="#">소년부</a></li>
                            <li><a href="#">중등부</a></li>
                            <li><a href="#">고등부</a></li>
                        </ul>
                    </li>
                    <li class="meueclick4">
                        <span>커뮤니티</span>
                        <ul class="menublock4">
                            <li><a href="VWNT0001.html">공지사항</a></li>
                            <li><a href="#">마음의소리</a></li>
                            <li><a href="#">나눔</a></li>
                            <li><a href="#">찬양공유</a></li>
                        </ul>
                    </li>
                    <li><a href="#">양육과 훈련</a></li>
                    <li class="meueclick5">
                        <span>기준정보</span>
                        <ul class="menublock5">
                            <li><a href="#">코드관리</a></li>
                            <li><a href="#">권한관리</a></li>
                            <li><a href="#">로그인관리</a></li>
                            <li><a href="#">메뉴관리</a></li>
                        </ul>
                    </li>
                    <li class="meueclick6">
                        <span>교적관리</span>
                        <ul class="menublock6">
                            <li><a href="#">교적관리</a></li>
                            <li><a href="#">출결관리</a></li>
                        </ul>
                    </li>
                    <li class="meueclick7">
                        <span>사랑방</span>
                        <ul class="menublock7">
                            <li><a href="#">사랑방보고서</a></li>
                            <li><a href="#">사랑방활동</a></li>
                        </ul>
                    </li>
                    <li class="meueclick8">
                        <span>업무</span>
                        <ul class="menublock8">
                            <li><a href="#">일정등록</a></li>
                            <li><a href="#">사랑방구성원</a></li>
                            <li><a href="#">회의록</a></li>
                            <li><a href="#">회계내역</a></li>
                            <li><a href="#">인수인계</a></li>
                            <li><a href="#">일정등록</a></li>
                            <li><a href="#">봉사부서관리</a></li>
                        </ul>
                    </li>
                    <li class="meueclick9">
                        <span>일정</span>
                        <ul class="menublock9">
                            <li><a href="#">일정조회</a></li>
                        </ul>
                    </li>
                    <li class="meueclick10">
                        <span>현황</span>
                        <ul class="menublock10">
                            <li><a href="#">현황조회</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="wrap">
        <div id="header_wrap">
            <header class="clearfix">
                <div id="logo">
                    <h1>
                        <a href="index.html">
                            <img src="img/logo.png" alt="승리교회 로고" />
                        </a>
                    </h1>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="#">교회소개</a>
                            <ul>
                                <li><a href="#">인사말</a></li>
                                <li><a href="#">섬기는사람들</a></li>
                                <li><a href="#">예배안내</a></li>
                                <li><a href="#">오시는길</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">예배와 찬양</a>
                            <ul>
                                <li><a href="VWWS0001.html">주일예배</a></li>
                                <li><a href="#">특별집회</a></li>
                                <li><a href="#">주보</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">다음세대</a>
                            <ul>
                                <li><a href="VWNG0010.html">영아부</a></li>
                                <li><a href="#">유아부</a></li>
                                <li><a href="#">유치부</a></li>
                                <li><a href="#">유년부</a></li>
                                <li><a href="#">소년부</a></li>
                                <li><a href="#">중등부</a></li>
                                <li><a href="#">고등부</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">커뮤니티</a>
                            <ul>
                                <li><a href="VWNT0001.html">공지사항</a></li>
                                <li><a href="#">마음의소리</a></li>
                                <li><a href="#">나눔</a></li>
                                <li><a href="#">찬양공유</a></li>
                            </ul>
                        </li>
                        <li><a href="#">양육과 훈련</a></li>
                    </ul>
                </nav>
                <div id="menubtn_box_touch">
                    <div id="menubtn_box">
                        <div id="menu_btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="section_wrap">
            <!-- 여기부터 -->
            <!-- youth worship visual -->
            <section id="youth_worship_visual">
                <div class="worship_visual_main">
                    <p>SEUNGLEE<br/>
                        YOUTH</p>
                </div>
                <div class="worship_visual_nav">
                    <ul class="clearfix">
                        <li>
                            <a href="#" class="page_here">인사말</a>
                        </li>
                        <li>
                            <a href="#">섬기는사람들</a>
                        </li>
                        <li>
                            <a href="#">예배안내</a>
                        </li>
                        <li>
                            <a href="#">오시는길</a>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- youth worship visual -->
            
            <section class="introduction_to_church_wrap">
                <div class="introduction_to_church_title">
                    <p>교회소개</p>
                    <h2>인사말</h2>
                </div>
                <div class="introduction_to_church_content">
                    <ul class="clearfix" id="introduction_to_church_ul">
                        <li id="greeting_text">
                            <h2>회복하시는 아버지 품으로</h2>
                            <p>마 10장에 예수님은 12제자를 부르시고 그들에게 권능을 주셨다. 그러면 다 된 것 아닌가? 결단코 아니다. 예수님은 메시야의 왕국이 시작되긴 했어도 여전히 악의 세력이 존재한다는 것을 아셨고 제자들을 보내실 때에 필연적으로 직면하게 된 고난과 핍박에 대해 말씀하시고 계신다. 주님 나라가 여전히 이 땅에 도래하고 있지만 사탄의 영향력도 함께 넓히고 있고 코로나 역시 2021년 새해를 맞이해서도 함께 공존하고 있다. 어떻게 할 것인가?
                                주님께서 "내가 너희를 보냄이 양을 이리 기운데로 보냄과 같다(마 10:16)"라고 하시며 두 가지를 언급하셨다. 지혜롭게 그리고 순결하게! 여러 가지 악한 세상에서 성도가 자신을 보존하고 세상을 이길 수 있는 해답이 아닌가? 우리에게 주어진 현장이 어떠하든지 지혜롭게! 그리고 순결하게! 두 가지의 균형 잡힌 성도로써의 삶으로 난세를 반드시 이기고 나가야 한다.
                                로마서 16:19절 "너희가 선한 데는 지혜롭고 악한 데는 미련하기를 원하노라"</p>
                        </li>
                        <li id="greeting_img">
                            <img src="img/greeting_img.png" alt="현종필 목사">
                        </li>
                    </ul>
                </div>
            </section>


            <!-- 여기까지 -->
            <footer class="clearfix">
                <div id="footer_logo">
                    <a href="index.html">
                        <img src="img/footer_logo.png" alt="승리교회 로고 white" />
                    </a>
                </div>
                <div id="footer_text">
                    <div id="footer_nav">
                        <ul>
                            <li>
                                <a href="#">로그인</a>
                            </li>
                            <li>
                                <a href="#">회원가입</a>
                            </li>
                            <li>
                                <a href="#">개인정보처리방침</a>
                            </li>
                            <li>
                                <a href="#">이용약관</a>
                            </li>
                            <li>
                                <a href="#">찾아오시는길</a>
                            </li>
                        </ul>
                    </div>
                    <div id="footer_info">
                        <p id="footer_addr">Addr. [10365] 경기도 고양시 일산서구 호수로 712</p>
                        <p id="footer_tel">Tel. 031-911-9191 / 931-20002</p>
                        <p id="footer_fex">Fax. 031-931-2039</p>
                    </div>
                    <p id="footer_copy">
                        Copyright by 2018 Seung Lee Church. All Rights Reserved. Send E-mail to Administrator
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>