<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
    <title>seungleeyouth</title>
    <link href="css/fixedlayout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/1024_1280.css" type="text/css" media="screen and (min-width:1024px) and (max-width:1280px)"/>
    <link rel="stylesheet" href="css/768_1023.css" type="text/css" media="screen and (min-width:768px) and (max-width:1023px)"/>
    <link rel="stylesheet" href="css/480_767.css" type="text/css" media="screen and (min-width:480px) and (max-width:767px)"/>
    <link rel="stylesheet" href="css/478.css" type="text/css" media="screen and (max-width:479px)"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="js/fixed.js" type="text/javascript"></script>
</head>
<body>
    <div id="wrap">
        <div class="writingArea_wrap">
            <div class="community_list_title" id="writingArea_title">
                <p>커뮤니티</p>
                <h2>게시글 등록&수정</h2>
            </div>
            <div class="writingArea_titleAndWriter">
                <input type="text" name="postTitle" id="postTitle">
                <p>작성자 : <span id="postWriter">현종필 목사</span></p>
            </div>
            <div class="view_details_content_info" id="writingArea_info">
                <p>조회수 : <span>10000</span></p>
                <p>작성일시 : <span>2021.06.01</span></p>
                <p>수정일시 : <span>2021.06.01</span></p>
                <div class="TopFixedCheckbox">
                    <label>상단에 고정하기<input type="checkbox" name="상단에 고정하기" id="topfixedcheckbox"></label>
                </div>
            </div>
            <div class="EditorArea"></div>
            <div class="next_generation_info_delete_modifications">
                <button id="modifyBtn">수정</button>
                <button id="backwardBtn">뒤로가기</button>
            </div>
        </div>
    </div>
</body>
</html>