<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" ></th:block>
    <script type="text/javascript">
	    /**
	     * 수정하기 버튼
	     * - 메인 소개 정보를 수정합니다.
	     */
	    function moveIntroEdit() {
	       location.href = "/mi/introEdit";
	    };
	    
   </script>
</head>
<body>
<!-- asideMenu -->
<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
<!-- asideMenu -->
    <div id="wrap">
    	<!-- header -->
    	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
    	<!-- header -->
    	
        <!-- 메인소개부분 -->
        <div id="section_wrap" th:object="${returnSVO}">
            <!-- youth worship visual -->
            <section class="worship_visual">
                <div class="worship_visual_main">
                    <p>SEUNGLEE<br/>
                        YOUTH WORSHIP</p>
                </div>
                <div class="worship_visual_nav">
                    <ul class="clearfix">
                        <li>
                            <a href="#" class="page_here">주일예배</a>
                        </li>
                        <li>
                            <a href="#">특별집회</a>
                        </li>
                        <li>
                            <a href="#">주보</a>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- youth worship visual -->

            <!-- youth worship video list-->
            <section class="worship_video_area" id="youth_worship_video">
                <div class="worship_video_delete_modifications">
                    <button id="modify">수정</button>
                    <button id="delete">삭제</button>
                </div>
                <div class="worship_recently_videowrap">
                    <!-- 타이틀 -->
                    <div class="recently_video_title">
                        <p>청년부</p>
                        <h2>주일예배</h2>
                    </div>
                    <!-- 타이틀 -->
                    <!-- 메인 예배 영상 들어갈 곳 -->
                    <div class="recently_video"></div>
                    <!-- 메인 예배 영상 들어갈 곳 -->
                    <!-- 메인 에배 영상 정보 들어갈 곳 -->
                    <div class="recently_video_info">
                        <h3 id="main_Preacher">설교자 : <span id="main_Preacher_name">현종필 목사</span></h3>
                        <p id="main_bible">본문 : <span id="main_bible_verses">베드로전서 2:13-17</span></p>
                        <p id="main_day_of_worship">설교일 : <span id="when_main_day_of_worship">2021-02-28</span></p>
                    </div>
                    <!-- 메인 에배 영상 정보 들어갈 곳 -->
                </div>
                
                <!-- 예배 영상 리스트 영역 -->
                <div class="worship_video_listwrap">
                    <div class="worship_video_list">
                        <ul class="clearfix">
                            <li>
                                <div class="list_video"></div>
                                <div class="list_video_info">
                                    <div class="list_video_info_textInner">
                                        <p class="list_title" id="list_title_1">십계명은 사랑이다.</p>
                                        <p class="list_bible" id="list_bible_1">본문 : <span id="list_bible_verses_1">베드로전서 2:13-17</span></p>
                                        <p class="list_day_of_worship" id="list_day_of_worship_1">설교일 : <span id="when_list_day_of_worship_1">2021-02-28</span></p>
                                        <h3 class="list_Preacher" id="list_Preacher_1">설교자 : <span id="list_Preacher_name_1">현종필 목사</span></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_video"></div>
                                <div class="list_video_info">
                                    <div class="list_video_info_textInner">
                                        <p class="list_title" id="list_title_2">십계명은 사랑이다.</p>
                                        <p class="list_bible" id="list_bible_2">본문 : <span id="list_bible_verses_2">베드로전서 2:13-17</span></p>
                                        <p class="list_day_of_worship" id="list_day_of_worship_2">설교일 : <span id="when_list_day_of_worship_2">2021-02-28</span></p>
                                        <h3 class="list_Preacher" id="list_Preacher_2">설교자 : <span id="list_Preacher_name_2">현종필 목사</span></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_video"></div>
                                <div class="list_video_info">
                                    <div class="list_video_info_textInner">
                                        <p class="list_title" id="list_title_3">십계명은 사랑이다.</p>
                                        <p class="list_bible" id="list_bible_3">본문 : <span id="list_bible_verses_3">베드로전서 2:13-17</span></p>
                                        <p class="list_day_of_worship" id="list_day_of_worship_3">설교일 : <span id="when_list_day_of_worship_3">2021-02-28</span></p>
                                        <h3 class="list_Preacher" id="list_Preacher_3">설교자 : <span id="list_Preacher_name_3">현종필 목사</span></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_video"></div>
                                <div class="list_video_info">
                                    <div class="list_video_info_textInner">
                                        <p class="list_title" id="list_title_4">십계명은 사랑이다.</p>
                                        <p class="list_bible" id="list_bible_4">본문 : <span id="list_bible_verses_4">베드로전서 2:13-17</span></p>
                                        <p class="list_day_of_worship" id="list_day_of_worship_4">설교일 : <span id="when_list_day_of_worship_4">2021-02-28</span></p>
                                        <h3 class="list_Preacher" id="list_Preacher_4">설교자 : <span id="list_Preacher_name_4">현종필 목사</span></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_video"></div>
                                <div class="list_video_info">
                                    <div class="list_video_info_textInner">
                                        <p class="list_title" id="list_title_5">십계명은 사랑이다.</p>
                                        <p class="list_bible" id="list_bible_5">본문 : <span id="list_bible_verses_5">베드로전서 2:13-17</span></p>
                                        <p class="list_day_of_worship" id="list_day_of_worship_5">설교일 : <span id="when_list_day_of_worship_5">2021-02-28</span></p>
                                        <h3 class="list_Preacher" id="list_Preacher_5">설교자 : <span id="list_Preacher_name_5">현종필 목사</span></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_video"></div>
                                <div class="list_video_info">
                                    <div class="list_video_info_textInner">
                                        <p class="list_title" id="list_title_6">십계명은 사랑이다.</p>
                                        <p class="list_bible" id="list_bible_6">본문 : <span id="list_bible_verses_6">베드로전서 2:13-17</span></p>
                                        <p class="list_day_of_worship" id="list_day_of_worship_6">설교일 : <span id="when_list_day_of_worship_6">2021-02-28</span></p>
                                        <h3 class="list_Preacher" id="list_Preacher_6">설교자 : <span id="list_Preacher_name_6">현종필 목사</span></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_video"></div>
                                <div class="list_video_info">
                                    <div class="list_video_info_textInner">
                                        <p class="list_title" id="list_title_7">십계명은 사랑이다.</p>
                                        <p class="list_bible" id="list_bible_7">본문 : <span id="list_bible_verses_7">베드로전서 2:13-17</span></p>
                                        <p class="list_day_of_worship" id="list_day_of_worship_7">설교일 : <span id="when_list_day_of_worship_7">2021-02-28</span></p>
                                        <h3 class="list_Preacher" id="list_Preacher_7">설교자 : <span id="list_Preacher_name_7">현종필 목사</span></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_video"></div>
                                <div class="list_video_info">
                                    <div class="list_video_info_textInner">
                                        <p class="list_title" id="list_title_8">십계명은 사랑이다.</p>
                                        <p class="list_bible" id="list_bible_8">본문 : <span id="list_bible_verses_8">베드로전서 2:13-17</span></p>
                                        <p class="list_day_of_worship" id="list_day_of_worship_8">설교일 : <span id="when_list_day_of_worship_8">2021-02-28</span></p>
                                        <h3 class="list_Preacher" id="list_Preacher_8">설교자 : <span id="list_Preacher_name_8">현종필 목사</span></h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 하단 숫자 버튼 -->
                    <div class="worship_video_list_nav">
                        <ul>
                            <li>
                                <span id="prevbtn"></span>
                            </li>
                            <li>
                                <span>1</span>
                            </li>
                            <li>
                                <span>2</span>
                            </li>
                            <li>
                                <span>3</span>
                            </li>
                            <li>
                                <span>4</span>
                            </li>
                            <li>
                                <span>5</span>
                            </li>
                            <li>
                                <span>6</span>
                            </li>
                            <li>
                                <span>7</span>
                            </li>
                            <li>
                                <span>8</span>
                            </li>
                            <li>
                                <span>9</span>
                            </li>
                            <li>
                                <span>10</span>
                            </li>
                            <li>
                                <span>...</span>
                            </li>
                            <li>
                                <span>100</span>
                            </li>
                            <li>
                                <span id="nextbtn"></span>
                            </li>
                        </ul>
                    </div>
                    <!-- 하단 숫자 버튼 -->
                </div>
                <!-- 예배 영상 리스트 영역 -->
            </section>
            <!-- youth worship video list-->
            
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
            <!-- footer -->
        </div>
    </div>
</body>
</html>