<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.11.13
	화면명	: 프로그램 게시판 작성
	서비스	: NfPgm*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		
		// 전역 변수
		var eventNo, slyouthTbKey;
	
		$(window).on("load", function(){
			eventNo = $("#eventNo").val();
			slyouthTbKey = $("#refTbKey").val();
		});
		
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
	         * 게시물 [저장] 버튼 이벤트
			 */
			$("#boardSaveBtn").click(function(){
			 	fn_boardSave();	
			});
			
			/**
	         * 게시물 [취소] 버튼 이벤트
			 */
			$("#boardCancelBtn").click(function(){
				fn_boardCancel();
			});
		});
		
		/**
         * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 썸머노트 구성
			com.summernoteInit();
			
			var fileNo = $("#fileNo").val();
			console.log(fileNo);
			
			// 첨부파일 이름 세팅 : Hidden의 파일 번호 유무의 따라 복귀가능
			if ( fileNo > 0 ) {
				$("#txtFileNm").val($("#fileNm").val());
			}
			
		};
		
		/**
         * 게시물 저장
		 * - 게시물 저장 메소드
		 */
		function fn_boardSave() {
			
			var params = new FormData(document.getElementById("editForm"));
			
			if ( !fn_saveValidation() ) {
				return;
			}
			
			if ( confirm("저장하시겠습니까?") ){
				com.fileUploadAjaxPost("/nf/pgmBoardSave", params, fn_saveBoardSaveCallback);	
			}
			
		}
		
		/**
         * 게시물 작성 취소
		 * - 게시물 작성 취소 메소드
		 */
		function fn_boardCancel() {
			if ( confirm("작성을 취소하시겠습니까?") ) {
				
				var editDivCd = $("#editDivCd").val();
				
				if ( editDivCd == "I") {
					// 등록에서 넘어왔던 경우
					var params = {};
					params.eventDivCd = $("#refDivCd").val();
					params.eventNo = eventNo;
					params.editDivCd = editDivCd;
					params.slyouthTbKey = slyouthTbKey;
					com.movePagePost("/nf/pgmDetail", params);
				} else {
					// 수정에서 넘어왔던 경우
					var params = {};
					params.cmntyNo = $("#cmntyNo").val();
					params.topFixYn = $("#topFixYn").val();
					params.editDivCd = editDivCd;
					params.slyouthTbKey = slyouthTbKey;
					com.movePagePost("/nf/pgmBoardDetail", params);
				}
			} else {
				return;
			}
		}
		
		/**
		 * 유효성 검사
		 */
		function fn_saveValidation(){
			
			// 제목
			if (!com.isEmpty("title", "제목을 입력해주세요.")) {
				return false;
			}
			
			// 내용
			if (!com.isEmpty("summernote", "내용을 입력해주세요.")) {
				return false;
			}

			return true;
		}
		
		/***************************
		** 콜백 메소드
		***************************/
		
		/**
		 * 게시판 저장 콜백
		 * - data : 수정페이지의 경우, 수정한 게시물 DVO / 등록 페이지의 경우, 새로 저장한 게시물 DVO
		 */
		function fn_saveBoardSaveCallback(data) {
			
			 if( data.cmntyNo != null && data.cmntyNo != "" ) {
				 alert("저장되었습니다.");
				 var params = {};
				 params.cmntyNo = data.cmntyNo;
				 params.eventNo = eventNo;
				 params.editDivCd = data.editDivCd;
				 params.slyouthTbKey = slyouthTbKey;
				 params.topFixYn = $("#topFixYn").val();
				 com.movePagePost("/nf/pgmBoardDetail", params);
			 } else {
				 alert("저장에 실패하였습니다. 다시 시도해주세요.");
				 return;
			 }
		}
		
	</script>
</head>
<body>
	
	<div id="edit_wrap">
		
		<div>
			<h2 th:if="${returnSVO.nfPgmCmnty.topFixYn} == 'Y'">공지사항 작성</h2>
			<h2 th:unless="${returnSVO.nfPgmCmnty.topFixYn} == 'Y'">활동게시판 작성</h2>
		</div>
		
		<form id="editForm" th:object="${returnSVO.nfPgmCmnty}">
		
			<!-- Hidden -->
			<input type="hidden" id="eventNo" name="eventNo" th:value="*{eventNo}">
			<input type="hidden" id="cmntyNo" name="cmntyNo" th:value="*{cmntyNo}">
			<input type="hidden" id="editDivCd" name="editDivCd" th:value="*{editDivCd}">
			<input type="hidden" id="cmntyDivCd" name="cmntyDivCd" th:value="*{eventDivCd}">
			<input type="hidden" id="topFixYn" name="topFixYn" th:value="*{topFixYn}">
			
			 <!-- File -->
			<input type="hidden" id="refNo" name="refNo" th:value="*{cmntyNo}" />
			<input type="hidden" id="refDivCd" name="refDivCd" th:value="*{eventDivCd}" />
			<input type="hidden" id="fileNo" name="fileNo" th:value="${returnSVO.nfPgmCmntyFile != null ? returnSVO.nfPgmCmntyFile.fileNo : 0}">
 			<input type="hidden" id="fileNm" name="fileNm" th:value="${returnSVO.nfPgmCmntyFile != null ? returnSVO.nfPgmCmntyFile.fileNm : ''}">
 			
			<!-- File Key -->
			<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${tmpFileId}" />
			<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
			
			<!-- Edit Info -->
			제목 : <input type="text" id="title" name="title" placeholder="제목을 입력하세요" th:value="*{title}">
			첨부파일 <input type="file" id="uploadFile" name="uploadFile" class="d-none">
			<input type="text" id="txtFileNm" placeholder="Upload File" readonly>
			<br>
			내용 <textarea id="summernote" name="content" th:utext="*{content}"></textarea>
		</form>
	</div>
	
	<!-- Button -->
	<input type="button" id="boardSaveBtn" value="저장">
	<input type="button" id="boardCancelBtn" value="취소">
</body>
</html>