<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.11.13
	화면명	: 프로그램 메인 조회
	서비스	: NfPgm*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		$(document).ready(function(){
			
			// 검색버튼 이벤트
			$("#searchBtn").click(function(){
				// to be
			});
			
			// 프로그램 추가 이벤트
			$("#programAddBtn").click(function(){
				fn_programAdd();
			});
		});
		
		// 상세페이지 이동
		function fn_moveDetail(program) {
			
			var params = {};
			params.eventNo = program.eventNo;
			params.slyouthTbKey = $("#refTbKey").val();
			
			com.movePagePost("/nf/pgmDetail", params);
		}
		
		/**
		 * 프로그램 추가 메소드
		 * - 프로그램 작성 페이지로 이동
		 */
		function fn_programAdd(){
			var params = {};
			params.eventDivCd = "PRG";
			params.editDivCd = "I";
			
			com.movePagePost("/nf/pgmEdit", params);
		}
	</script>
</head>
<body>
	<h2>프로그램목록</h2>
	
	<!-- 검색 -->
	<div id="search">
		<input type="text" id="eventNm" name="eventNm" th:value="${returnSVO.nfPgmDVO.eventNm}">
		<input type="button" id="searchBtn" value="검색">
	</div>
	
	<!-- 버튼 -->
	<input type="button" id="programAddBtn" value="프로그램 추가">
	
	<!-- 목록 -->
	<div id="list">
		<div th:if="${returnSVO.pgmList != null}" th:each="program : ${returnSVO.pgmList}">
			<div th:object="${program}">			
				<img th:if="*{repImgNo == 0}" src="/images/slyouth/main_visual_img.jpg" alt="프로그램 사진" style="width:300px; height:200px" th:onclick="fn_moveDetail( [[ ${program} ]] )">
                <img th:unless="*{repImgNo == 0}" th:src="@{/cm/viewImage/{no}(no=*{repImgNo})}" alt="프로그램 사진" style="width:300px; height:200px" th:onclick="fn_moveDetail( [[ ${program} ]] )">
                <br>
				프로그램 : <p th:text="*{eventNm}" th:onclick="fn_moveDetail( [[ ${program} ]] )"></p>
				<!-- 접수기간 : <p th:text="|${#temporals.format(#temporals.createDateTime(#strings.concat(program.appStrYmd, program.appStrTm), 'yyyyMMddHHmm'), 'yyyy-MM-dd HH:mm')} ~ ${#temporals.format(#temporals.createDateTime(#strings.concat(program.appEndYmd, program.appEndTm), 'yyyyMMddHHmm'), 'yyyy-MM-dd HH:mm')}|" /> -->
				접수기간 : <p th:text="|${#temporals.format(program.appStrDt, 'yyyy-MM-dd HH:mm')} ~ ${#temporals.format(program.appEndDt, 'yyyy-MM-dd HH:mm')}|"></p>
				신청인원 : <p th:text="*{peopleNum}"></p>
				
				<!-- Hidden -->
				<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
			</div>
		</div>
		<div th:unless="${returnSVO.pgmList != null}">
			진행중인 프로그램이 없습니다.
		</div>
	</div>
</body>
</html>