<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.11.13
	화면명	: 프로그램 상세 조회
	서비스	: NfPgm*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
	
		// 전역 변수
		var modal, slyouthTbKey, eventNo;
		
		$(window).on("load", function(){
			eventNo = $("#eventNo").val();
			slyouthTbKey = $("#refTbKey").val();
			
			// 초기화면 구성
			fn_defineForm();
		});
	
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
			 * [수정] 버튼 이벤트
			 * - 프로그램 수정페이지로 이동합니다.
			 */
			 $("#pgmEditBtn").click(function(){
				 // 수정 페이지 이동
				 fn_pgmEdit();
			 });
			
			/**
			 * [신청/신청취소] 버튼 이벤트
			 * - 프로그램을 신청/신청취소를 합니다.
			 */
			 $("#applyBtn").click(function(){
				 // 프로그램 신청 및 탈퇴
				 fn_applyDivision($("#applyBtn").val());
			 });
			 
			/**
			 * [신청자 명단] 버튼 이벤트
			 * - 프로그램 신청자 명단을 확인합니다.
			 */
			 $("#appMemberListBtn").click(function(e){
				 fn_showApplyMembers(); // 검토 필요
			 });
			
			/**
			 * [공지사항 등록] 버튼 이벤트
			 * - 공지사항 게시판 작성 페이지로 이동합니다.
			 */
			 $("#addListBtn").click(function(){
				 // 공지사항 작성
				 fn_addList();
			 });
			
			/**
			 * [활동게시판 등록] 버튼 이벤트
			 * - 활동게시판 작성 페이지로 이동합니다.
			 */
			 $("#addActListBtn").click(function(){
				 // 활동게시판 작성
				 fn_addActList();
			 });
			
			/**
			 * [목록] 버튼 이벤트
			 * - 프로그램 목록으로 이동합니다.
			 */
			 $("#moveProgramListBtn").click(function(){
				 fn_moveProgramList();
			 });
			
			/**
			 * [닫기] 버튼 이벤트
			 * - 동아리 모달창을 닫습니다.
			 */
			$("#closeModalBtn").click(function(e){
				console.log(e);
				modal.close();
			});
		})
		
		/**
         * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
		};
		
		/**
		 * 프로그램 수정페이지 이동 메소드
		 * - 버튼 클릭 후, 프로그램 수정페이지로 이동.
		 */
		function fn_pgmEdit(){
			
			var params = {};
			params.editDivCd = "U";
			params.eventNo = eventNo;
			params.slyouthTbKey = slyouthTbKey;
			
			com.movePagePost("/nf/pgmEdit", params);
		}
		
		/**
		 * 프로그램 신청 버튼 구분 메소드
		 * - 버튼 클릭 후, 현재의 버튼이 신청하기/신청취소 구분에 따라 호출 함수 변화
		 */
		function fn_applyDivision(btnValue){
			if ( btnValue == "신청하기" ) {
				fn_apply();
			} else {
				fn_applyCancel();
			}
		}

		/**
		 * 프로그램 신청 메소드
		 * - 버튼 클릭 후, 신청자 명단 추가되고 [신청취소] 버튼으로 변환.
		 */
		function fn_apply(){
			
			// 현재 로그인 유무 변수
			var chrNo = $("#chrNo").val();
			if ( chrNo > 0 ) {
				var params = {};
				params.eventNo = eventNo;
				params.chrNo = chrNo;
				com.loadAjaxPost("/nf/pgmApply", params, fn_applyCallback);
			} else {
				alert("로그인이 필요한 서비스 입니다.");
				location.href = "/cm/login";
			}
		}
		
		/**
		 * 프로그램 신청취소 메소드
		 * - 버튼 클릭 후, 신청자 명단에서 제거되고 [신청하기] 버튼으로 변환.
		 */
		function fn_applyCancel(){
			// 현재 로그인 유무 변수
			var chrNo = $("#chrNo").val();
			if ( chrNo > 0 ) {
				var params = {};
				params.eventNo = eventNo;
				params.chrNo = chrNo;
				com.loadAjaxPost("/nf/pgmApplyCancel", params, fn_applyCancelCallback);
			} else {
				alert("로그인이 필요한 서비스 입니다.");
				location.href = "/cm/login";
			}
		}
		
		/**
		 * 프로그램 신청자 명단 확인 메소드
		 * - 버튼 클릭 후, 팝업으로 명단 리스트를 출력.
		 */
		function fn_showApplyMembers(){
			
			var params = {};
			params.eventNo = eventNo;
			
			// 명단 조회
			com.loadAjaxPost("/nf/selectPgmAppMember", params, fn_showApplyMembersCallback);
			
			
		}
		
		/**
		 * 프로그램 공지사항 작성페이지 이동 메소드
		 * - 버튼 클릭 후, 공지사항 작성페이지로 이동 
		 */
		function fn_addList(){
			
			var params = {};
			params.editDivCd = "I";
			params.topFixYn = "Y";
			params.eventNo = eventNo;
			params.eventDivCd = $("#eventDivCd").val();
			params.slyouthTbKey = slyouthTbKey;
			
			com.movePagePost("/nf/pgmBoardEdit", params);
		}
		
		/**
		 * 프로그램 활동게시판 작성페이지 이동 메소드
		 * - 버튼 클릭 후, 활동게시판 작성페이지로 이동 
		 */
		function fn_addActList(){
			
			var params = {};
			params.editDivCd = "I";
			params.topFixYn = "N";
			params.eventNo = eventNo;
			params.eventDivCd = $("#eventDivCd").val();
			params.slyouthTbKey = slyouthTbKey;
			
			com.movePagePost("/nf/pgmBoardEdit", params);
		}
		
		/**
		 * 목록 이동 메소드
		 * - 버튼 클릭 후, 프로그램 목록으로 이동. 
		 */
		function fn_moveProgramList(){
			location.href = "/nf/pgmList";
		}
	
		/**
		 * 게시물 상세 이동 메소드
		 * - 게시물을 누르면 상세 페이지로 이동합니다. 
		 */
		function fn_moveDetail(list) {
			
			var params = {};
			params.eventNo = eventNo;
			params.cmntyNo = list.cmntyNo;
			params.slyouthTbKey = slyouthTbKey;
			params.topFixYn = list.topFixYn;
			
			com.movePagePost("/nf/pgmBoardDetail", params);
		}
		
		/***************************
		** 콜백 메소드
		***************************/
		
		/**
		 * 프로그램 신청 콜백 함수
		 * - 정상 저장(1) : 신청자 명단을 조회를 갱신, 신청하기 버튼이 신청중으로 변경
		 */
		function fn_applyCallback(data){
			if ( data != 0 && data != undefined && data != null ) {
				alert("신청이 완료되었습니다.");
				$("#applyBtn").val("신청취소");
			} else {
				alert("프로그램 신청에 실패했습니다.");
				return;
			}
		}
		 
		/**
		 * 프로그램 신청취소 콜백 함수
		 * - 정상 저장(1) : 신청자 명단을 조회를 갱신, 신청취소 버튼이 신청하기으로 변경
		 */
		function fn_applyCancelCallback(data){
			if ( data != 0 && data != undefined && data != null ) {
				alert("신청이 취소되었습니다.");
				$("#applyBtn").val("신청하기");
			} else {
				alert("프로그램 신청취소에 실패했습니다.");
				return;
			}
		}
		
		/**
		 * 프로그램 신청명단 조회
		 * - data : 신청자 명단 데이터(List), 데이터를 그립니다.
		 */
		function fn_showApplyMembersCallback(data){
			
			if ( data != null && data != undefined ) {
				var html = "";
				for(var i=0; i < data.length; i++) {
					html += "<tr><td></td><td>" + data[i].name + "</td><td>" + data[i].grade + "</td></tr>"
				}
				
				$("#memberList").html(html);
			}
			
			modal = $("#modal").bPopup({
				modalClose:false
		    });
		}
	</script>
</head>
<body>
	<h2>프로그램 상세조회</h2>
	<div id="program">
		<!-- Program Info -->
		<div id="pgm_wrap" th:object="${returnSVO.nfPgmDVO}">
		
			<img th:if="*{repImgNo == 0}" src="/images/slyouth/main_visual_img.jpg" alt="프로그램 사진" style="width:300px; height:200px" />
            <img th:unless="*{repImgNo == 0}" th:src="@{/cm/viewImage/{no}(no=*{repImgNo})}" alt="프로그램 사진" style="width:300px; height:200px" />
			<br>
			제목 : <p th:text="*{eventNm}"></p>
			담당교역자 : <p th:text="*{name}"></p>
			<!-- 접수기간 : <p th:text="|${#temporals.createDateTime(program.appStrYmd, 'yyyyMMdd')} ~ ${#temporals.format(#temporals.createDateTime(#strings.concat(program.appEndYmd, program.appEndTm), 'yyyyMMddHHmm'), 'yyyy-MM-dd HH:mm')} 까지|" /> -->
			접수기간 : <p th:text="|${#temporals.format(returnSVO.nfPgmDVO.appStrDt, 'yyyy-MM-dd HH:mm')} ~ ${#temporals.format(returnSVO.nfPgmDVO.appEndDt, 'yyyy-MM-dd HH:mm')}|"></p>
			현재인원 : <p th:text="*{peopleNum}"></p>
			시작일 : <p th:text="${#temporals.createDate(returnSVO.nfPgmDVO.strYmd, 'yyyyMMdd')}"></p>
			<label id="appStatus">신청예정</label>
			
			<!-- Hidden -->
			<input type="hidden" id="chrNo" name="chrNo" th:value="${chrNo}" />
			<input type="hidden" id="eventNo" th:value="*{eventNo}"/>
			<input type="hidden" th:value="*{mngNo}"/>
			<input type="hidden" id="eventDivCd" th:value="*{eventDivCd}">
			<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
			
			<!-- Button -->
			<input id="pgmEditBtn" type="button" value="수정">
			<input id="applyBtn" type="button" value="신청하기">
			<input id="appMemberListBtn" type="button" value="신청자명단">
			
			<!-- Modal -->
			<div id="modal" style="display: none; background-color: white; width: 250px; height: 400px;">
				모달창
				<table>
					<thead>
						<tr>
							<td>사진</td>
							<td>이름</td>
							<td>기수</td>
						</tr>
					</thead>
					<tbody id="memberList"></tbody>
				</table>
				<input type="button" id="closeModalBtn" value="닫기">
			</div>
		</div>
		
		<br>
		
		<!-- Tab1 -->
		<div id="tab1_wrap">

			<h2>상세내용</h2>
		
			<!-- Detail Info -->
			<div id="detailInfo_wrap" th:object="${returnSVO.nfPgmDVO}">
				<p th:utext="*{eventIntro}"></p>
			</div>
		</div>
		
		<br>
		
		<!-- Tab2 -->
		<div id="tab2_wrap">
		
			<h2>공지사항</h2>
			
			<!-- Table -->
			<div id="pgmNotice_wrap">
				<table>
					<thead>
						<tr>
							<th>글번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>등록일</th>
							<th>조회수</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${returnSVO.nfPgmCmntyList != null}" th:onclick="fn_moveDetail( [[ ${list} ]])" th:each=" list, listRow : ${returnSVO.nfPgmCmntyList}">
							<td th:text="${list.cmntyNo}"></td>
							<td th:text="${list.title}"></td>
							<td th:text="${list.name}"></td>
							<td th:text="${#temporals.format(list.lstMdfDt, 'yyyy-MM-dd')}"></td>
							<td th:text="${list.viewCnt}"></td>
						</tr>
						<tr th:unless="${returnSVO.nfPgmCmntyList != null}"> 
							<td>등록된 공지사항이 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Button -->
			<input type="button" id="addListBtn" value="등록">
			
			<!-- Paging -->
			<div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
		</div>
		
		<br>
		
		<!-- Tab3 -->
		<div id="tab3_wrap">
		
			<h2>활동게시판</h2>
			
			<!-- Table -->
			<div id="pgmNotice_wrap">
				<table>
					<thead>
						<tr>
							<th>글번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>등록일</th>
							<th>조회수</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${returnSVO.nfPgmActCmntyList != null}" th:onclick="fn_moveDetail( [[ ${actList} ]])" th:each=" actList, listRow : ${returnSVO.nfPgmActCmntyList}">
							<td th:text="${actList.cmntyNo}"></td>
							<td th:text="${actList.title}"></td>
							<td th:text="${actList.name}"></td>
							<td th:text="${#temporals.format(actList.lstMdfDt, 'yyyy-MM-dd')}"></td>
							<td th:text="${actList.viewCnt}"></td>
						</tr>
						<tr th:unless="${returnSVO.nfPgmActCmntyList != null}"> 
							<td>등록된 활동게시판이 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Button -->
			<input type="button" id="addActListBtn" value="등록">
			
			<!-- Paging -->
			<div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
		</div>
		
		<!-- Modal -->
		<div id="modal_wrap">
			<div id="modal" style="display: none; background-color: white; width: 250px; height: 400px;">
				모달창
				<table>
					<thead>
						<tr>
							<td>사진</td>
							<td>이름</td>
							<td>기수</td>
						</tr>
					</thead>
					<tbody id="memberList"></tbody>
				</table>
				<input type="button" id="closeModalBtn" value="닫기">
			</div>
		</div>
		
		<br>
		<!-- File -->
		<div id="file_wrap">
			첨부파일
			<div th:if="${returnSVO.nfPgmFile != null}" th:each="fileList, fileInfo : ${returnSVO.nfPgmFile}">
				<a th:href="@{/cm/fileDownload/{no}(no=*{fileList.fileNo})}">[[${fileList.fileNm}]]</a>
			</div>
		</div>
		
		<!-- Button -->
		<div id="button_wrap">
			<input type="button" id="moveProgramListBtn" value="목록">
		</div>
	</div>
</body>
</html>