<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.11.13
	화면명	: 프로그램 작성
	서비스	: NfPgm*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
			 * [파일선택] 버튼 클릭 이벤트
			 * - 선택한 이미지를 미리보기 한다.
			 */
			$("#uploadFile").on("change", function(e){
				fn_previewImage(e.target);
			});
			
			/**
			 * [저장] 버튼 이벤트
			 * - 프로그램 내용을 저장합니다.
			 */
			$("#saveProgramBtn").on("click", function(e){
				// 프로그램 저장
				fn_saveProgram(e);
			});
			
			/**
			 * [취소] 버튼 이벤트
			 */
			$("#cancelBtn").click(function(){
				// 작성 취소 
				fn_editCancel();
			});
		});
		
		/**
         * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 썸머노트 구성
			com.summernoteInit();
			
			// 파일 이름 세팅
			fileInfo();
		};
		
		/**
		 * 프로그램 저장 이벤트 함수
		 * - 프로그램을 저장 후 상세페이지로 이동시킵니다.
		 */
		function fn_saveProgram(e){
			
/* 			if (!fn_saveValidation()) {
				e.preventDefault();
				return;
			}; */
			
			var params = new FormData($("#editForm")[0]);
			
			if ( confirm("프로그램을 저장하시겠습니까?") ) {
				com.fileUploadAjaxPost("/nf/pgmSave", params, fn_saveBtnCallback);	
			}
		}
		 
		/**
         * 업로드 이미지 미리보기 함수
		 */
		function fn_previewImage(uploadFile) {
		    if (uploadFile.files && uploadFile.files[0]) {
		    	
		    	//TODO 이미지 파일인지 검증
// 		    	$("#uploadFile").val("");
// 		    	return;	
		    	
		    	// FileReader 생성
		    	var reader = new FileReader();

		    	// 미리보기 img src 변경
		        reader.onload = e => {
		        	$("#previewImage").attr("src", e.target.result);
		        };
		        
		        // FileReader 이미지 로드
		        reader.readAsDataURL(uploadFile.files[0]);
		    }
		};
		
		/**
		 * 유효성 검사 함수
		 */
		function fn_saveValidation(){
			
			// 파일
			if (!($("#repImgNo").val() > 0)) {
				com.isEmpty("uploadFile", "대표이미지를 선택해주세요.");
				return false;
			}
			
			// 프로그램 이름
			if (!com.isEmpty("eventNm", "프로그램 이름을 입력해주세요.")) {
				return false;
			}
			
			// 프로그램 시작날짜
			if (!com.isEmpty("strYmd", "프로그램 시작일자를 선택해주세요.")) {
				return false;
			}
			
			// 프로그램 종료날짜
			if (!com.isEmpty("endYmd", "프로그램 시작일자를 선택해주세요.")) {
				return false;
			}
			
			// 프로그램 신청시작날짜
			if (!com.isEmpty("appStrDt", "프로그램 접수 시작일자를 선택해주세요.")) {
				return false;
			}
			
			// 프로그램 신청종료날짜
			if (!com.isEmpty("appEndDt", "프로그램 접수 종료일자를 선택해주세요.")) {
				return false;
			}
			
			return true;
		}
		
		/**
		 * 첨부파일 세팅 함수
		 * - 수정 페이지의 각 파일 이름들을 세팅한다.
		 */
		function fileInfo() {
			// 프로그램 이미지 파일 이름 세팅
			if ( $("#eventNo").val() > 0 ) {
				$("#imgTxtFileNm").val($("#imgFileNm").val());
			}
			
			// 프로그램 첨부파일 이름 세팅
			if ( $("#fileNo").val() > 0 ) {
				$("#txtFileNm").val($("#uploadFileNm").val());
			}
		}
		
		/**
		 * 작성 취소 함수
		 * - 어느 화면에서 넘어왔냐에 따라 프로그램 메인 조회 또는 프로그램 상세로 돌아간다.
		 */
		function fn_editCancel() {
			if ( confirm("작성을 취소하시겠습니까?") ) {
				
				// 등록 수정이냐에 따라 돌아가는 페이지가 다르기 때문에 구분해서 이동
				if ( $("#editDivCd").val() == "I" ) {
					// 등록인 경우
					location.href="/nf/pgmList";	
								
				} else {
					// 수정인 경우
					var params = {};
					params.eventNo = $("#eventNo").val();
					params.slyouthTbKey = $("#refTbKey").val();
					com.movePagePost("/nf/pgmDetail", params);
				}
				
			} else {
				return;	
			}
		}
		
		/***************************
		** 콜백 메소드
		***************************/
		
		/*
		 * 저장 콜백 함수
		 * - data : 저장된 프로그램 번호가 들어있는 DVO 
		 */
		 function fn_saveBtnCallback(data){
			
			 if ( data != 0 && data != undefined && data != null ){
					
			 	alert("정상적으로 저장되었습니다!");
				var params = {};
				params.eventNo = data.eventNo;
				params.slyouthTbKey = $("#refTbKey").val();
				com.movePagePost("/nf/pgmDetail", params);
			}
			else {
				alert("프로그램 저장에 실패하였습니다.");
				return;
			}
		}
		
	</script>
</head>
<body>
	<!-- Title -->
	<div>
		<h2 th:if="${returnSVO.nfPgmDVO.editDivCd == 'I'}">프로그램 등록</h2>
		<h2 th:unless="${returnSVO.nfPgmDVO.editDivCd == 'I'}">프로그램 수정</h2>
	</div>
	
	<form id="editForm" th:object="${returnSVO.nfPgmDVO}">
                	
       	<!-- Hidden -->
       	<input type="hidden" id="eventNo" name="eventNo" th:value="*{eventNo}" />
       	<input type="hidden" id="eventDivCd" name="eventDivCd" th:value="*{eventDivCd}" />
       	<input type="hidden" id="editDivCd" name="editDivCd" th:value="*{editDivCd}" />
       	<input type="hidden" id="repImgNo" name="repImgNo" th:value="*{repImgNo}" />
       	<input type="hidden" th:value="*{mngNo}">
                 	
        <!-- File -->
        <input type="hidden" id="fileNo" name="fileNo" th:value="${returnSVO.nfPgmFile.fileNo}" />
        <input type="hidden" id="uploadFileNm" th:value="${returnSVO.nfPgmFile.fileNm}" />
        <input type="hidden" id="imgFileNm" th:value="*{fileNm}" />
		<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${tmpFileId}" />
		<input type="hidden" id="refNo" name="refNo" th:value="*{eventNo}" />
		<input type="hidden" id="refDivCd" name="refDivCd" th:value="*{eventDivCd}" />
		<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
	
		<!-- Program Image File -->
         <img th:if="*{eventNo} == 0" id="previewImage" src="/images/slyouth/main_visual_img.jpg" alt="미리보기" style="width:400px; height:300px" />
         <img th:unless="*{eventNo} == 0" id="previewImage" th:src="@{/cm/viewImage/{fileNo}(fileNo=*{repImgNo})}" alt="미리보기" style="width:400px; height:300px" />
         <span>
           	프로그램 대표사진
           	<br><input type="file" id="uploadFile" name="uploadFile" />
           	<input type="text" id="imgTxtFileNm" placeholder="Upload File" readonly>
		</span>	
		
		<!-- Program Info -->
		<input type="text" id="eventNm" name="eventNm" placeholder="프로그램 이름을 입력하세요(필수)" th:value="*{eventNm}">
		<input type="text" id="place" name="place" placeholder="프로그램 장소를 입력하세요(선택)" th:value="*{place}">
		<br> 프로그램 기간 
		<input th:if="${returnSVO.nfPgmDVO.strYmd != null}" type="date" id="strYmd" name="strYmd" th:value="${#temporals.createDate(returnSVO.nfPgmDVO.strYmd, 'yyyyMMdd')}">
		<input th:unless="${returnSVO.nfPgmDVO.strYmd != null}" type="date" id="strYmd" name="strYmd"> ~
		<input th:if="${returnSVO.nfPgmDVO.endYmd != null}" type="date" id="endYmd" name="endYmd" th:value="${#temporals.createDate(returnSVO.nfPgmDVO.endYmd, 'yyyyMMdd')}">
		<input th:unless="${returnSVO.nfPgmDVO.endYmd != null}" type="date" id="endYmd" name="endYmd"> 
		
		<br>신청기간<input type="datetime-local" id="appStrDt" name="appStrDt" th:value="*{appStrDt}"> ~ <input type="datetime-local" id="appEndDt" name="appEndDt" th:value="*{appEndDt}">
		<br>첨부파일<input type="file" id="uploadFiles" name="uploadFiles">
		<input type="text" id="txtFileNm" placeholder="Upload File" readonly>
		<br>프로그램 내용 <textarea id="summernote" name="eventIntro" th:utext="${returnSVO.nfPgmDVO.eventIntro}"></textarea>
	</form>
	
	<!-- Button -->
	<div id="button_wrap">
		<input type="button" id="saveProgramBtn" value="저장">
		<input type="button" id="cancelBtn" value="취소">
	</div>
</body>
</html>