<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.11.13
	화면명	: 프로그램 게시판 상세 조회
	서비스	: NfPgm*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		
		// 전역 변수
		var eventNo, slyouthTbKey;
	
		$(window).on("load", function(){
			eventNo = $("#eventNo").val();
			slyouthTbKey = $("#refTbKey").val();
			
			// 초기화면 구성
			fn_defineForm();
		});
	
		$(document).ready(function(){
			
			/**
			 * [수정] 버튼 이벤트
			 * - 프로그램 게시판을 수정합니다.
			 */
			 $("#modifyBoardBtn").click(function(){
				 fn_modifyBoard();
			 });
			
			/**
			 * [삭제] 버튼 이벤트
			 * - 프로그램 게시판을 삭제합니다.
			 */
			 $("#deleteBoardBtn").click(function(){
				 fn_deleteBoard();
			 });
			
			/**
			 * [목록] 버튼 이벤트
			 * - 목록으로 돌아갑니다.
			 */
			 $("#boardListBtn").click(function(){
				 fn_moveProgramDetail();
			 });
		});
		
		/**
         * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {

		};
		
		/**
         * 수정버튼 메소드
		 * - 게시물 수정 페이지로 이동
		 */
		function fn_modifyBoard() {
			
			var params = {};
			params.eventNo = eventNo;
			params.editDivCd = "U";
			params.cmntyNo = $("#cmntyNo").val();
			params.slyouthTbKey = slyouthTbKey;
			params.topFixYn = $("#topFixYn").val();
			
			com.movePagePost("/nf/pgmBoardEdit", params);
		};
		
		/**
         * 삭제버튼 메소드
		 * - 게시물을 삭제
		 */
		function fn_deleteBoard() {
			
			var params = {};
			params.eventNo = eventNo;
			params.cmntyNo = $("#cmntyNo").val();
			params.refDivCd = $("#refDivCd").val();
			params.fileNo = $("#fileNo").val();
			params.slyouthTbKey = slyouthTbKey;
			
			if ( confirm("삭제하시겠습니까?") ) {
				com.loadAjaxPost("/nf/pgmBoardDel", params, fn_deleteBoardCallback);	
			}
		};
		
		/**
         * 목록버튼 메소드
		 * - 프로그램 상세 페이지로 이동
		 */
		function fn_moveProgramDetail() {
			
			var params = {};
			params.eventNo = eventNo;
			params.slyouthTbKey = slyouthTbKey;
			
			com.movePagePost("/nf/pgmDetail", params);
		};
		
		/***************************
		** 콜백 메소드
		***************************/
		
		/**
		 * 게시판 삭제 콜백
		 * - data.eventNo : 삭제한 후 프로그램 상세로 넘어가기 위한 프로그램 일련번호
		 * - data.cmntyNo : 게시물의 정상 삭제 리턴값(성공 : 1 / 실패 : 0)
		 */
		function fn_deleteBoardCallback(data){
			
			if ( data.eventNo > 0 && data.cmntyNo == 1 ) {
				alert("삭제가 완료되었습니다.");
				var params = {};
				params.eventNo = data.eventNo;
				params.slyouthTbKey = slyouthTbKey;
				com.movePagePost("/nf/pgmDetail", params);
			} else {
				alert("삭제를 실패했습니다. 다시 시도해주세요.");
				return;
			}
		}
	</script>
</head>
<body>
	<!-- Detail info-->
	<div id="info_wrap">
		
		<!-- Title -->
		<div>
			<h2 th:if="${returnSVO.nfPgmCmnty.topFixYn} == 'Y'">공지사항</h2>
			<h2 th:unless="${returnSVO.nfPgmCmnty.topFixYn} == 'Y'">활동게시판</h2>
		</div>
		
		<div id="board_wrap" th:object="${returnSVO.nfPgmCmnty}">
			
				<!-- Hidden -->
				<input type="hidden" id="cmntyNo" name="cmntyNo" th:value="*{cmntyNo}">
				<input type="hidden" id="eventNo" name="eventNo" th:value="*{eventNo}">
				<input type="hidden" id="topFixYn" name="topFixYn" th:value="*{topFixYn}">
				<input type="hidden" id="editDivCd" name="editDivCd" th:value="*{editDivCd}">
				
				<!-- File -->
				<input type="hidden" id="fileNo" name="fileNo" th:value="${returnSVO.nfPgmCmntyFile != null ? returnSVO.nfPgmCmntyFile.fileNo : 0}">
				<input type="hidden" id="refDivCd" name="refDivCd" th:value="*{eventDivCd}" />
				<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${tmpFileId}" />
				<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
												
				<!-- Detail -->
				<p>[[ *{title} ]]</p>
				<P>등록일 : [[ ${#temporals.format(returnSVO.nfPgmCmnty.lstMdfDt, 'yyyy-MM-dd')} ]]</P>
				<P>작성자 : [[ *{name} ]]</P>
				<p>조회수 : [[ *{viewCnt} ]]</p>
				내용 <p th:utext="*{content}"></p>
				
				<!-- File -->
				첨부파일
				<div th:each="fileList, fileInfo : ${returnSVO.nfPgmCmntyFile}">
					<a th:href="@{/cm/fileDownload/{no}(no=${fileList.fileNo})}">[[${fileList.fileNm}]]</a>
				</div>
			</div>
			
			<!-- Button -->
			<div id="button_wrap">
				<input type="button" id="modifyBoardBtn" value="수정">
				<input type="button" id="deleteBoardBtn" value="삭제">
				<input type="button" id="boardListBtn" value="목록">
			</div>
		
	</div>
</body>
</html>