<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<div th:fragment="fragment-asideMenu">
		<script type="text/javascript">
			$(document).ready(function(){
				/**
				 *	로그아웃 버튼 이벤트
				 *  - 로그아웃 후 세션을 삭제하고 메인페이지로 이동합니다.
				 */
				$("#logout").click(function(){
					
					if (confirm("로그아웃하시겠습니까?")) {
						location.href = "/cm/logout";
					}
				});
			});
			
			/**
		 	 * [영상] 메뉴 링크 클릭 이벤트
		 	 * - 영상은 공통으로 구현되어 URL을 코드값으로 분리
		 	 * > 일반 화면 링크와 다르게 별도 처리
		 	 */
			function fn_moveVideoPage(url, videoDivCd) {
				var params = {};
				params.videoDivCd = videoDivCd;
				
				com.movePagePost(url, params);
			}

		 	/**
		 	 * [영상] 메뉴 링크 클릭 이벤트
		 	 * - 영상은 공통으로 구현되어 URL을 코드값으로 분리
		 	 * > 일반 화면 링크와 다르게 별도 처리
		 	 */
			function fn_moveMyPage() {
				var params = $("#asideForm").serializeObject();
				com.movePagePost("/cm/mypage", params);
			}
		</script>
		
		<!-- Form Data -->
		<form id="asideForm">
			<input type="hidden" name="chrNo" th:value="${chrNo}" />
			<input type="hidden" name="nickname" th:value="${nickname}" />
		</form>
		
		<!-- Aside Menu -->
		<div id="menu_box">
	        <div id="menu_inner">
	            <div id="menubtn_box_close_fixed">
	                <div id="menubtn_box_position">
	                    <div id="menubtn_box_close">
	                        <div id="menu_btn">
	                            <span></span>
	                            <span></span>
	                            <span></span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div id="menu_allbox"></div>
	            <div id="menu_join">
	                <ul sec:authorize="isAnonymous()">
	                    <li><a href="/cm/join">회원가입</a></li>
	                    <li><a href="/cm/login">로그인</a></li>
	                </ul>
	                <ul sec:authorize="isAuthenticated()">
	                    <li><a href="#" onclick="fn_moveMyPage()">마이페이지(<span sec:authentication="principal.usrNm"></span>)</a></li>
	                    <li><a href="#" id="logout">로그아웃</a></li>
	                </ul>
	            </div>
	            <!-- 사이드 메뉴바 시작 -->
	            <div id="menu_nav">
	                <ul>
	                    <li class="meueclick1">
	                        <span>청년부소개</span>
	                        <ul class="menublock1">
	                            <li><a href="/mi/greeting">인사말</a></li>
	                            <li><a href="/mi/serveGroup">섬기는사람들</a></li>
	                            <li sec:authorize="isAuthenticated()"><a href="/mi/youthLeader">청년부임원</a></li>
	                            <li><a href="/mi/newcomer">새가족반</a></li>
	                            <li><a href="/mi/worshipInfo">예배안내</a></li>
	                            <li><a href="/mi/location">오시는길</a></li>
	                        </ul>
	                    </li>
	                    <li class="meueclick2">
	                        <span>예배와 말씀</span>
	                        <ul class="menublock2">
	                            <li><a href="#" onclick="fn_moveVideoPage('/ws/video', 'SYW')">주일예배</a></li>
	                            <li><a href="#" onclick="fn_moveVideoPage('/ws/video', 'SYV')">주일말씀</a></li>
			                    <li><a href="#" onclick="fn_moveVideoPage('/ws/video', 'SYS')">특별집회</a></li>
	                            <li><a href="/ws/bulletinList">주보</a></li>
	                        </ul>
	                    </li>
	                    <li class="meueclick3">
	                        <span>찬양과 셀라</span>
	                        <ul class="menublock3">
			                	<li><a href="/ps/selah">셀라소개</a></li>
	                           	<li><a href="#" onclick="fn_moveVideoPage('/ps/video', 'WMS')">주일찬양</a></li>
                            	<li><a href="#" onclick="fn_moveVideoPage('/ps/video', 'WSS')">특송</a></li>
	                           	<li><a href="#">찬양공유</a></li>
	                        </ul>
	                    </li>
	                    <li class="meueclick4">
	                        <span>커뮤니티</span>
	                        <ul class="menublock4">
	                            <li><a href="/nt/noticeList">공지사항</a></li>
	                            <li><a href="/nt/chatList">자유게시판</a></li>
	                            <li><a href="/nt/sharingList">QT나눔</a></li>
	                            <li><a href="/nt/circleList">동아리</a></li>
	                            <li><a href="#" onclick="fn_moveVideoPage('/nt/video', 'SYC')">승리청년채널</a></li>
	                        </ul>
	                    </li>
	                    <li class="meueclick11">
	                    	<span>양육과 훈련</span>
	                    	<ul class="menublock11">
	                        	<li><a href="/nf/vision">승리청년비전</a></li>
	                        	<li><a href="/nf/pgmList">프로그램</a></li>
	                        </ul>
	                    </li>
	                    <li class="meueclick5" sec:authorize="isAuthenticated()">
	                        <span>기준정보</span>
	                        <ul class="menublock5">
	                            <li><a href="/sd/codeList">코드관리</a></li>
	                            <li><a href="#">로그인관리</a></li>
	                            <li><a href="#">권한관리</a></li>
	                            <li><a href="#">메뉴관리</a></li>
	                            <li><a href="#">교적관리</a></li>
	                            <li><a href="#">출결관리</a></li>
	                        </ul>
	                    </li>
	                    <li class="meueclick6" sec:authorize="isAuthenticated()">
	                        <span>공동체관리</span>
	                        <ul class="menublock6">
	                            <li><a href="/um/memberList">공동체관리</a></li>
	                            <li><a href="#">출결관리</a></li>
	                        </ul>
	                    </li>
	                    <li class="meueclick7" sec:authorize="isAuthenticated()">
	                        <span>사랑방</span>
	                        <ul class="menublock7">
	                            <li><a href="/yg/sharaingList">사랑방나눔자료</a></li>
	                            <li><a href="#">사랑방보고서</a></li>
	                            <li><a href="#">사랑방활동</a></li>
	                        </ul>
	                    </li>
	                    <li class="meueclick8" sec:authorize="isAuthenticated()">
	                        <span>업무</span>
	                        <ul class="menublock8">
	                            <li><a href="#">일정등록</a></li>
	                            <li><a href="#">사랑방구성원</a></li>
	                            <li><a href="#">회의록</a></li>
	                            <li><a href="#">일정등록</a></li>
	                            <li><a href="/wk/volDeptList">봉사부서관리</a></li>
	                        </ul>
	                    </li>
	                    <li class="meueclick9" sec:authorize="isAuthenticated()">
	                        <span>일정</span>
	                        <ul class="menublock9">
	                            <li><a href="#">일정조회</a></li>
	                        </ul>
	                    </li>
	                    <li class="meueclick10" sec:authorize="isAuthenticated()">
	                        <span>현황</span>
	                        <ul class="menublock10">
	                            <li><a href="#">현황조회</a></li>
	                        </ul>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>
</html>