<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="fragment-footer">
		<footer class="clearfix">
                <div id="footer_logo">
                    <a href="index.html">
                        <img th:src="@{/images/slyouth/footer_logo.png}" alt="승리교회 로고 white">
                    </a>
                </div>
                <div id="footer_text">
                    <div id="footer_nav">
                        <ul>
                            <li>
                                <a href="#">로그인</a>
                            </li>
                            <li>
                                <a href="#">회원가입</a>
                            </li>
                            <li>
                                <a href="#">개인정보처리방침</a>
                            </li>
                            <li>
                                <a href="#">이용약관</a>
                            </li>
                            <li>
                                <a href="#">찾아오시는길</a>
                            </li>
                        </ul>
                    </div>
                    <div id="footer_info">
                        <p id="footer_addr">Addr. [10365] 경기도 고양시 일산서구 호수로 712</p>
                        <p id="footer_tel">Tel. 031-911-9191 / 931-20002</p>
                        <p id="footer_fex">Fax. 031-931-2039</p>
                    </div>
                    <p id="footer_copy">
                        Copyright by 2018 Seung Lee Church. All Rights Reserved. Send E-mail to Administrator
                    </p>
                </div>
            </footer>
	</div>
</html>