<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<div th:fragment="fragment-headerMenu">
		<script type="text/javascript">
			/**
		 	 * [영상] 메뉴 링크 클릭 이벤트
		 	 * - 영상은 공통으로 구현되어 URL을 코드값으로 분리
		 	 * > 일반 화면 링크와 다르게 별도 처리
		 	 */
			function fn_moveVideoPage(url, videoDivCd) {
				var params = {};
				params.videoDivCd = videoDivCd;
				
				com.movePagePost(url, params);
			}
		</script>
		<div id="header_wrap">
            <header class="clearfix">
                <div id="logo">
                    <h1>
                        <a th:href="@{/mi/main}">
                            <img th:src="@{/images/slyouth/logo_black.png}" alt="승리교회 로고" />
                        </a>
                    </h1>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="#">청년부소개</a>
                            <ul>
                                <li><a href="/mi/greeting">인사말</a></li>
                                <li><a href="/mi/serveGroup">섬기는사람들</a></li>
                                <li sec:authorize="isAuthenticated()"><a href="/mi/youthLeader">청년부임원</a></li>
                                <li><a href="/mi/newcomer">새가족반</a></li>
                                <li><a href="/mi/worshipInfo">예배안내</a></li>
                                <li><a href="/mi/location">오시는길</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">예배와 말씀</a>
                            <ul>
                            	<li><a href="#" onclick="fn_moveVideoPage('/ws/video', 'SYW')">주일예배</a></li>
                            	<li><a href="#" onclick="fn_moveVideoPage('/ws/video', 'SYV')">주일말씀</a></li>
			                    <li><a href="#" onclick="fn_moveVideoPage('/ws/video', 'SYS')">특별집회</a></li>
                                <li><a href="/ws/bulletinList">주보</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">찬양과 셀라</a>
                            <ul>
                            	<li><a href="/ps/selah">셀라소개</a></li>
                            	<li><a href="#" onclick="fn_moveVideoPage('/ps/video', 'WMS')">주일찬양</a></li>
                            	<li><a href="#" onclick="fn_moveVideoPage('/ps/video', 'WSS')">특송</a></li>
                            	<li><a href="#">찬양공유</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">커뮤니티</a>
                            <ul>
                                <li><a href="/nt/noticeList">공지사항</a></li>
                                <li><a href="/nt/chatList">자유게시판</a></li>
                                <li><a href="/nt/sharingList">QT나눔</a></li>
                                <li><a href="/nt/circleList">동아리</a></li>
                                <li><a href="#" onclick="fn_moveVideoPage('/nt/video', 'SYC')">승리청년채널</a></li>
                            </ul>
                        </li>
                        <li>
                        	<a href="#">양육과 훈련</a>
                        	<ul>
                        		<li><a href="/nf/vision">승리청년비전</a></li>
	                        	<li><a href="/nf/pgmList">프로그램</a></li>
                        	</ul>
                        </li>
                    </ul>
                </nav>
                <div id="menubtn_box_touch">
                    <div id="menubtn_box">
                        <div id="menu_btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </header>
        </div>
	</div>
</html>