<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<div th:fragment="fragment-worshipVisual">
		<script type="text/javascript">
			/**
		 	 * [영상] 메뉴 링크 클릭 이벤트
		 	 * - 영상은 공통으로 구현되어 URL을 코드값으로 분리
		 	 * > 일반 화면 링크와 다르게 별도 처리
		 	 */
			function fn_moveVideoPage(url, videoDivCd) {
				var params = {};
				params.videoDivCd = videoDivCd;
				
				com.movePagePost(url, params);
			}
		</script>
		<section class="worship_visual">
			<div class="worship_visual_main">
				<p>SEUNGLEE<br/>
				YOUTH WORSHIP</p>
			</div>
			<div class="worship_visual_nav">
               <ul class="clearfix">
               		<!-- 청년부소개 -->
					<li th:if="${#strings.contains(#request.requestURI,'/mi/')}">
						<a href="/mi/greeting" th:class="${#request.requestURI.contains('/mi/greeting')} ? 'page_here' : ''">
							인사말
						</a>
					</li>
                    <li th:if="${#strings.contains(#request.requestURI,'/mi/')}">
                    	<a href="/mi/serveGroup" th:class="${#request.requestURI.contains('/mi/serveGroup')} ? 'page_here' : ''">
                    		섬기는사람들
                    	</a>
                    </li>
                    <li th:if="${#strings.contains(#request.requestURI,'/mi/')}" sec:authorize="isAuthenticated()">
                    	<a href="/mi/youthLeader" th:class="${#request.requestURI.contains('/mi/youthLeader')} ? 'page_here' : ''">
                    		청년부임원
                    	</a>
                    </li>
                    <li th:if="${#strings.contains(#request.requestURI,'/mi/')}">
                    	<a href="/mi/newcomer" th:class="${#request.requestURI.contains('/mi/newcomer')} ? 'page_here' : ''">
                    		새가족반
                    	</a>
                    </li>
                    <li th:if="${#strings.contains(#request.requestURI,'/mi/')}">
                    	<a href="/mi/worshipInfo" th:class="${#request.requestURI.contains('/mi/worshipInfo')} ? 'page_here' : ''">
                    		예배안내
                    	</a>
                    </li>
                    <li th:if="${#strings.contains(#request.requestURI,'/mi/')}">
                    	<a href="/mi/location" th:class="${#request.requestURI.contains('/mi/location')} ? 'page_here' : ''">
                    		오시는길
                    	</a>
                    </li>
                    
                    <!-- 예배와 말씀 -->
                    <li th:if="${#strings.contains(#request.requestURI,'/ws/')}">
                    	<a href="#" onclick="fn_moveVideoPage('/ws/video', 'SYW')" th:class="${videoDivCd == 'SYW'} ? 'page_here' : ''">
                    		주일예배
                    	</a>
                    </li>
                    <li th:if="${#strings.contains(#request.requestURI,'/ws/')}">
                    	<a href="#" onclick="fn_moveVideoPage('/ws/video', 'SYV')" th:class="${videoDivCd == 'SYV'} ? 'page_here' : ''">
                    		주일말씀
                    	</a>
                    </li>
          			<li th:if="${#strings.contains(#request.requestURI,'/ws/')}">
          				<a href="#" onclick="fn_moveVideoPage('/ws/video', 'SYS')" th:class="${videoDivCd == 'SYS'} ? 'page_here' : ''">
          					특별집회
          				</a>
          			</li>
                    <li th:if="${#strings.contains(#request.requestURI,'/ws/')}">
                    	<a href="/ws/bulletinList" th:class="${#request.requestURI.contains('/ws/bulletin')} ? 'page_here' : ''">
                    		주보
                    	</a>
                    </li>
                    
                    <!-- 찬양과 셀라 -->
                    <li th:if="${#strings.contains(#request.requestURI,'/ps/')}">
                    	<a href="/ps/selah" th:class="${#request.requestURI.contains('/ps/selah')} ? 'page_here' : ''">
                    		셀라소개
                    	</a>
                    </li>
                    <li th:if="${#strings.contains(#request.requestURI,'/ps/')}">
                    	<a href="#" onclick="fn_moveVideoPage('/ps/video', 'WMS')" th:class="${videoDivCd == 'WMS'} ? 'page_here' : ''">
                    		주일찬양
                    	</a>
                    </li>
                    <li th:if="${#strings.contains(#request.requestURI,'/ps/')}">
                    	<a href="#" onclick="fn_moveVideoPage('/ps/video', 'WSS')" th:class="${videoDivCd == 'WSS'} ? 'page_here' : ''">
                    		특송
                    	</a>
                    </li>
                    <li th:if="${#strings.contains(#request.requestURI,'/ps/')}">
                    	<a href="#" th:class="${#request.requestURI.contains('/ng/ngIntro/CHH')} ? 'page_here' : ''">
                    		찬양공유
                    	</a>
                    </li>
  					
  					<!-- 커뮤니티 -->
  					<li th:if="${#strings.contains(#request.requestURI,'/nt/')}">
  						<a href="/nt/noticeList" th:class="${#request.requestURI.contains('/nt/noticeList')} ? 'page_here' : ''">
  							공지사항
  						</a>
  					</li>
  					<li th:if="${#strings.contains(#request.requestURI,'/nt/')}">
  						<a href="/nt/chatList" th:class="${#request.requestURI.contains('/nt/chat')} ? 'page_here' : ''">
  							자유게시판
  						</a>
  					</li>
  					<li th:if="${#strings.contains(#request.requestURI,'/nt/')}">
  						<a href="/nt/heartSoundList" th:class="${#request.requestURI.contains('/nt/heartSoundList')} ? 'page_here' : ''">
  							QT나눔
  						</a>
  					</li>
  					<li th:if="${#strings.contains(#request.requestURI,'/nt/')}">
  						<a href="/nt/circleList" th:class="${#request.requestURI.contains('/nt/circle')} ? 'page_here' : ''">
  							동아리 
  						</a>
  					</li>
  					<li th:if="${#strings.contains(#request.requestURI,'/nt/')}">
  						<a href="#" onclick="fn_moveVideoPage('/nt/video', 'SYC')" th:class="${videoDivCd == 'SYC'} ? 'page_here' : ''">
                    		승리청년채널
                    	</a>
  					</li>
  					
  					<!-- 양육과 훈련 -->
  					<li th:if="${#strings.contains(#request.requestURI,'/nf/')}">
  						<a href="/nt/vision" th:class="${#request.requestURI.contains('/nf/vision')} ? 'page_here' : ''">
  							승리청년비전 
  						</a>
  					</li>
  					<li th:if="${#strings.contains(#request.requestURI,'/nf/')}">
  						<a href="/nt/pgmList" th:class="${#request.requestURI.contains('/nf/pgm')} ? 'page_here' : ''">
  							프로그램
  						</a>
  					</li>

					<!-- 교적관리 -->
					<li th:if="${#strings.contains(#request.requestURI,'/um/')}">
  						<a href="/um/memberList" th:class="${#request.requestURI.contains('/um/member')} ? 'page_here' : ''">
  							공동체관리 
  						</a>
  					</li>

  					<!-- 사랑방 -->
  					<li th:if="${#strings.contains(#request.requestURI,'/yg/')}">
  						<a href="/yg/sharingList" th:class="${#request.requestURI.contains('/yg/sharing')} ? 'page_here' : ''">
  							사랑방나눔자료
  						</a>
  					</li>
				</ul>
			</div>
		</section>
	</div>
</html>