<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script th:inline="javascript">
		
		window.onload = function(){
			$("#openYn").prop("checked", "checked");
		}
	
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
			 * [저장] 버튼 클릭 이벤트
			 * - 작성된 내용을 신규등록/수정한다.
			 */
			$("#suggestSave").click(function(){
				var title = $("#title").val();
				var content = $("#summernote").val();
				var form = $("#suggestForm").serializeObject();
				
				if(title == "" || title == null){
					alert("제목을 입력하세요.");
					return;
				}

				if(content == "" || content == null){
					alert("내용을 입력하세요.");
					return;
				}
				
				var saveConfirm = confirm("저장하시겠습니까?");
				if(saveConfirm){
					com.loadAjaxPost("/nt/suggestSave", form, fn_suggestSaveCallback);
				}
			
			});
			
			/**
			 * [취소] 버튼 클릭 이벤트
			 * - 작성된 내용을 취소하고 이전화면으로 돌아간다.
			 */
			$("#suggestCancel").click(function(){
				var selDivCd = $("#selDivCd").val();
				
				if(selDivCd == 'U' || selDivCd == 'RS'){
					var cmntyNo = $("#cmntyNo").val();
					
					var params = {};
					params.cmntyNo = cmntyNo;
					params.selDivCd = 'D';
					
					com.movePagePost("/nt/suggestDetail", params);
				}else{
					location.href = "/nt/suggestList";
				}
			});
			
		});
		
		/**
		 * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 썸머노트 구성
			com.summernoteInit();
			// 공개여부 체크박스 구성
			fn_makeCheckBox();
			// 콤보박스(커스텀) 구성
			fn_makeCombo();
		}
		
		/**
		 * 체크박스 구성 함수
		 * - 페이지 로드 시 공개여부 체크박스를 구성한다.
		 */
		function fn_makeCheckBox(){
			var openYn = $("#openYn").val();
			
			if(openYn == 'Y'){
				$("input:checkbox[id='openYn']").prop("checked", true);
			}else{
				$("input:checkbox[id='openYn']").prop("checked", false);
			}
		}
		
		/**
		 * 체크박스 readOnly 함수
		 * - 답글 작성 시 공개여부는 readOnly로 구성한다.
		 */
		function readOnlyCheck(checked, name){
			
			var selDivCd = $("#selDivCd").val();
			var grpOrd = $("#grpOrd").val();
			
			if(selDivCd == 'RS' || grpOrd != 0){
				document.getElementById(name).checked = !checked;
			}
		}
		
		/**
		 * suggestSave callback 메소드
		 * - 등록&수정시 callback 처리되는 함수이다.
		 */
		function fn_suggestSaveCallback(res) {
			location.href = "/nt/suggestList";
			
			if(res[0] != 0){
				alert("저장되었습니다.");
				
				if(res[1] == null || res[1] == ''){
					location.href = "/nt/suggestList";
				}else {
					var params = {};
					params.cmntyNo = res[1];
					params.selDivCd = 'D';
					
					com.movePagePost("/nt/suggestDetail", params);
				}
			}else{
				alert("DB 에러가 발생하였습니다.");
			}
		}
		
		/**
		 * 콤보박스 구성 함수
		 * - 페이지에 해당되는 콤보박스 커스텀을 구현한다.
		 */
		function fn_makeCombo(){
			var codeParams = [];
			codeParams.push({"codeKey":"TRUCKER", "comboId":"mngNo", "comboType":" ", "codeType":"0"});	// 게시판조회구분코드
			
			com.makeCustomCombo(codeParams, comboCallback);
		}
		
		/**
		 * 콤보박스 callback 함수
		 * - 담당 교역자를 selected 하는 callback 함수이다.
		 */
		function comboCallback(){
			var selDivCd = $("#selDivCd").val();
			
			if(selDivCd == 'U'){
				var mngNo = /*[[${returnSVO.ntSuggestDVO.mngNo}]]*/'';
			
				$("#mngNo").val(mngNo).prop("selected", true);
			}
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
		    	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<section class="writingArea_wrap">
				<div class="introduction_to_church_title">
					<p>커뮤니티</p>
            		<h2>건의사항</h2>
        		</div>
				
				<form id="suggestForm" th:object="${returnSVO.ntSuggestDVO}">
					<div class="writingArea_titleAndWriter">
						<input type="text" id="title" name="title" th:value="*{title}" placeholder="제목을 입력하세요">
						<p>작성자 : <span th:text="*{name}"></span></p>
					</div>
					<div class="view_details_content_info" id="writingArea_info">
						<div class="TopFixedCheckbox">
							<label th:if="${returnSVO.ntSuggestDVO?.selDivCd} != 'RS' and ${returnSVO.ntSuggestDVO?.grpOrd} == '0'" for="checked">담당사역자 : </label>
							<select th:if="${returnSVO.ntSuggestDVO?.selDivCd} != 'RS' and ${returnSVO.ntSuggestDVO?.grpOrd} == '0'" id="mngNo" name="mngNo"></select>
							<label for="checked">공개 : </label>
							<input type="checkbox" onclick="readOnlyCheck(this.checked, 'openYn')" id="openYn" name="openYn" th:value="*{openYn}"/>
						</div>
					</div>
					<div>
						<textarea rows="15" id="summernote" name="content" placeholder="내용을 입력하세요">[[${returnSVO.ntSuggestDVO?.content}]]</textarea>
					</div>
				
					<!-- hidden  -->
					<input th:if="${returnSVO.ntSuggestDVO?.cmntyNo}" type="hidden" id="cmntyNo" name="cmntyNo" th:value="*{cmntyNo}" />
					<input type="hidden" id="grpNo" name="grpNo" th:value="*{grpNo}" />
					<input type="hidden" id="grpOrd" name="grpOrd" th:value="*{grpOrd}" />
					<input th:if="${returnSVO.ntSuggestDVO?.selDivCd}" type="hidden" id="selDivCd" name="selDivCd" th:value="*{selDivCd}" />
					<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${returnSVO.ntSuggestDVO.tmpFileId}" />
					<input type="hidden" id="tskDivCd" name="tskDivCd" th:value="CB" />
				</form>
				
				<!-- Button -->
				<div class="community_list_btn_wrap">
					<div class="next_generation_info_delete_modifications">
						<input type="button" id="suggestSave" class="Btn" value="저장" />
						<input type="button" id="suggestCancel" class="Btn" value="취소" />
					</div>
				</div>
			</section>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>