<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.09.29
	화면명 	: 동아리 메인 조회 > 동아리 상세 조회
	서비스 	: NtCircle*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header" />

	<script type="text/javascript">
		
		// 전역 변수
		var modal, eventNo, slyouthTbKey;
	
		$(window).on("load", function(){
			eventNo = $("#eventNo").val();
			slyouthTbKey = $("#refTbKey").val();
		});
	
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
			 * [수정] 버튼 이벤트
			 * - 동아리 수정 페이지로 이동합니다. 
			 */
			$("#cirleEditBtn").click(function(){
				// 동아리 수정
				fn_circleEdit();
			});
			
			
			/**
			 * [등록] 버튼 이벤트
			 * - 동아리 게시판 등록페이지로 이동합니다.
			 */
			$("#editBoardBtn").click(function(){
				fn_editBoard();
			});
			
			/**
			 * [추가] 버튼 이벤트
			 * - 동아리 인원을 추가합니다.
			 */
			$("#joinCircleBtn").click(function(e){
				// 동아리 미가입 인원 추가
				fn_joinCircle();
			});
			
			/**
			 * [닫기] 버튼 이벤트
			 * - 동아리 모달창을 닫습니다.
			 */
			$("#closeModalBtn").click(function(){
				// 모달 종료
				modal.close();
			});
			
			/**
			 * [저장] 버튼 이벤트
			 * - 동아리 추가 인원을 저장합니다.
			 */
			$("#saveMemberBtn").click(function(e){
				// 동아리 멤버 저장
				fn_saveMember();
			});
			
			/**
			 * [목록] 버튼 이벤트
			 * - 동아리 목록으로 페이지 이동합니다.
			 */
			$("#moveCircleListBtn").click(function(){
				
				location.href="/nt/circleList";
			});
		});
		
		/**
         * 초기화면 구성 메소드
		 * - 페이지 로드 시 초기화면을 구성
		 */
		function fn_defineForm() {
			
		};
		
		/**
		 * 게시판 이동 메소드
		 * - 게시판 상세페이지로 이동
		 */
		function fn_moveDetail(data) {
			
			var params = {};
			params.cmntyNo = data.cmntyNo;
			
			com.movePagePost("/nt/circleBoardDetail", params);
		}
		
		/** 
		 * 동아리 수정 메소드
		 * - 동아리 수정 페이지로 이동
		 */
		function fn_circleEdit() {
			var params = {};
			params.editDivCd = "U";
			params.eventNo = eventNo;
			params.slyouthTbKey = slyouthTbKey;
			
			com.movePagePost("/nt/circleEdit", params);
		}
		
		/**
		 * 동아리 게시판 작성 메소드
		 * - 게시판 등록 페이지로 이동
		 */
		function fn_editBoard() {
			var params = {};
			params.eventNo = eventNo;
			params.editDivCd = "I";
			params.eventDivCd = $('#eventDivCd').val();
			
			com.movePagePost("/nt/circleBoardEdit", params);
		}
		
		/**
		 * 동아리 가입 메소드
		 * - 동아리에 가입되지 않은 전체 인원 목록을 조회해서 페이지에 그린 후 팝업으로 출력
		 */
		function fn_joinCircle() {
			// 교인 목록 데이터
			com.loadAjaxPost("/nt/selectChrMemberModal", {}, fn_modalCallback);
			
			e.preventDefault();
			
			// 모달창
			modal = $("#modal").bPopup({
				modalClose:false
		    });
		}
		
		/**
		 * 가입 멤버 저장 메소드
		 * - 미가입 인원목록에서 선택한 멤버들을 동아리원으로 저장
		 */
		function fn_saveMember() {
			// ajax 보낼 데이터 배열변수
			var paramsArr = [];
			
			// 체크박스 값 가져와서 배열에 담기
			$("input[name=members]:checked").each(function(){
				var params = {};
				params.eventNo = eventNo;
				params.chrNo = $(this).val();
				paramsArr.push(params);
			});
			
			// json타입을 string 타입으로 변환
			paramsArr = JSON.stringify(paramsArr);
			
			// ajax 호출
			com.loadAjaxPost("/nt/memberModalSave", {arr : paramsArr}, fn_memberModalSaveCallback);
		}
		
		/****************
		 * 콜백 메소드
		 ****************/
		
		/**
		 * 모달 조회 콜백 함수
		 * - 동아리 미가입 인원을 화면에 그립니다.
		 * - data : 교적 정보(교적 번호, 이름, 기수)를 담고 있는 DVO
		 */
		function fn_modalCallback(data) {
			
			var html = "";
			for(var i=0; i < data.length; i++) {
				html += "<tr><td><input type='checkbox' name='members' value='" + data[i].chrNo + "\'></td><td>" 
					 	+ data[i].name + "</td><td>" + data[i].grade + "</td></tr>"
			}
			
			$("#memberList").html(html);
		}
		
		/**
		 * 모달 인원 저장 콜백 함수
		 * - 신청자 인원을 저장 한 후 페이지를 새로고침합니다.
		 * - data : DB 저장 리턴값(정상저장 : 1, 저장실패 : 0)
		 */
		function fn_memberModalSaveCallback(data) {
			if ( data != 0 ){
				alert("신청인원을 저장하였습니다.");
				var params = {};
				params.eventNo = $("#eventNo").val();
				com.movePagePost("/nt/circleDetail", params);
			} else {
				alert("신청인원 저장에 실패했습니다.");
			}
		}
		
		
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- Hidden -->
			<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}">
			
			<!-- Circle Info -->
			<div id="circleInfo_wrap" th:object="${returnSVO.ntCircleDVO}">
			
				<img th:if="*{repImgNo == 0}" src="/images/slyouth/main_visual_img.jpg" alt="동아리 사진" style="width:300px; height:200px" />
                <img th:unless="*{repImgNo == 0}" th:src="@{/cm/viewImage/{no}(no=*{repImgNo})}" alt="동아리 사진" style="width:300px; height:200px" />
			
				동아리 : <p th:text="*{eventNm}"></p>
				동아리장 : <p th:text="*{name}"></p>
				현재인원 : <p th:text="*{peopleNum}"></p>
				동아리 창립일 : <p th:text="${#temporals.createDate(returnSVO.ntCircleDVO.strYmd, 'yyyyMMdd')}"></p>
				
				<!-- Hidden -->
				<input type="hidden" id="eventNo" th:value="*{eventNo}"/>
				<input type="hidden" th:value="*{mngNo}"/>
				<input type="hidden" id="eventDivCd" th:value="*{eventDivCd}">
				
				<!-- Button -->
				<input type="button" id="cirleEditBtn" value="수정">
				<input type="button" id="circleDelBtn" value="삭제">
			</div>
			
			<br>
			
			<!-- Tab1 -->
			<div id="tab1_wrap">
			
				<div id="title_wrap">
					<h2>상세내용</h2>
				</div>
			
				<!-- Detail Info -->
				<div id="detailInfo_wrap" th:object="${returnSVO.ntCircleDVO}">
					<p th:utext="*{eventIntro}"></p>
				</div>
			</div>
			
			<br>
			
			<!-- Tab2 -->
			<div id="tab2_wrap">
			
				<div id="title_wrap">
					<h2>게시판</h2>
				</div>
				
				<!-- Table -->
				<div id="circleBoard_wrap">
					<table>
						<thead>
							<tr>
								<th>글번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>등록일</th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${returnSVO.ntCircleCmntyList != null}" th:onclick="fn_moveDetail( [[ ${list} ]])" th:each=" list, listRow : ${returnSVO.ntCircleCmntyList}">
								<td th:text="${list.cmntyNo}"></td>
								<td th:text="${list.title}"></td>
								<td th:text="${list.name}"></td>
								<td th:text="${#temporals.format(list.lstMdfDt, 'yyyy-MM-dd')}"></td>
								<td th:text="${list.viewCnt}"></td>
							</tr>
							<tr th:unless="${returnSVO.ntCircleCmntyList != null}">등록된 게시물이 없습니다.</tr>
						</tbody>
					</table>
				</div>
				
				<!-- Button -->
				<input type="button" id="editBoardBtn" value="등록">
				
				<!-- Paging -->
				<div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
			</div>
			
			<br>
			
			<!-- Tab3 -->
			<div id="tab3_wrap">
			
				<div id="title_wrap">
					<h2>명단</h2>
				</div>
			
				<!-- Circle Member List -->
				<div id="circleMemberList_wrap">
					<div th:each=" member, listRow : ${returnSVO.ntCircleAppMemberList}">
						<span>
							[[${member.name}]]
							<span th:if="${member.chrNo == member.mngNo}"> 동아리장</span>
							<input th:unless="${member.chrNo == member.mngNo}" type="button" value="위임">
						</span>
					</div>	
				</div>
				
				<!-- Button -->
				<input type="button" id="joinCircleBtn" value="동아리원 추가"/>
				
				<!-- Modal -->
				<div id="modal" style="display: none; background-color: white; width: 250px; height: 400px;">
					모달창
					<table>
						<thead>
							<tr>
								<td></td>
								<td>이름</td>
								<td>기수</td>
							</tr>
						</thead>
						<tbody id="memberList"></tbody>
					</table>
					<input type="button" id="saveMemberBtn" value="저장">
					<input type="button" id="closeModalBtn" value="닫기">
				</div>
			</div>
			
			<!-- File -->
			<div id="file_wrap">
				<div th:each="fileList, fileInfo : ${returnSVO.ntCircleFile}">
					<a th:href="@{/cm/fileDownload/{no}(no=*{fileList.fileNo})}">[[${fileList.fileNm}]]</a>
				</div>
			</div>
			
			<!-- Button -->
			<div id="button_wrap">
				<input type="button" id="moveCircleListBtn" value=" 목록">
			</div>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>