<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.09.29
	화면명 	: 동아리 작성(등록/수정)
	서비스 	: NtCircle*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
	
		// 전역 변수
		var slyouthTbKey;
	
		$(window).on("load", function(){
			slyouthTbKey = $("#refTbKey").val();
		});
	
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
			 * [파일선택] 버튼 클릭 이벤트
			 * - 선택한 이미지를 미리보기 한다.
			 */
			$("#uploadFile").on("change", function(e){
				fn_previewImage(e.target);
			});
			
			/**
			 * [저장] 버튼 이벤트
			 */
			$("#saveCircleBtn").click(function(){
				// 동아리 저장
				fn_saveCirle();
			});
			
			/**
			 * [취소] 버튼 이벤트
			 */
			$("#cancelBtn").click(function(){
				// 작성 취소
				fn_cancel();
			});
		});
		
		/**
         * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 썸머노트 구성
			com.summernoteInit();
			
			// 파일이름 세팅
			fn_fileInfo();
		};
		
		/**
         * 업로드 이미지 미리보기 메소드
		 */
		function fn_previewImage(uploadFile) {
		    if (uploadFile.files && uploadFile.files[0]) {
		    	
		    	//TODO 이미지 파일인지 검증
// 		    	$("#uploadFile").val("");
// 		    	return;	
		    	
		    	// FileReader 생성
		    	var reader = new FileReader();

		    	// 미리보기 img src 변경
		        reader.onload = e => {
		        	$("#previewImage").attr("src", e.target.result);
		        };
		        
		        // FileReader 이미지 로드
		        reader.readAsDataURL(uploadFile.files[0]);
		    }
		};
		
		/**
         * 동아리 저장 메소드
         * - form의 동아리 정보를 저장
		 */
		function fn_saveCirle(){
			
			// 이미지 업로드 파일
			var uploadFile = document.getElementById("uploadFile");
			
			if ( (uploadFile.files && uploadFile.files[0]) || $("#repImgNo").val() > 0 ) {
				
		    	//TODO 이미지 파일인지 검증
// 		    	$("#uploadFile").val("");
// 		    	return;	

				//TODO 파일사이즈 체크 (3M)
				
				
				// 유효성
				var eventNm = $("#eventNm").val();
				if ( eventNm == "" || eventNm == null || eventNm == undefined ) {
					alert("동아리 제목을 입력해주세요.");
					return
				}
				
				var params = new FormData($('#editForm')[0]);
				
				if ( confirm("저장하시겠습니까?") ) {
					com.fileUploadAjaxPost("/nt/circleSave", params, fn_saveCirleCallback);	
				} else {
					return;
				}
				
			} else {
				alert("변경할 이미지를 선택해주세요.");
			}
		};
		
		/**
		 * 작성 취소 메소드
		 * - 등록 / 수정 구분에 따라 페이지 이동
		 */
		function fn_cancel() {
			if ( confirm("작성을 취소하시겠습니까?") ) {
				
				// 등록 수정이냐에 따라 돌아가는 페이지가 다르기 때문에 구분해서 이동
				if ( $("#editDivCd").val() == "I" ) {
					// 등록인 경우
					location.href="/nt/circleList";	
								
				} else {
					// 수정인 경우
					var params = {};
					params.eventNo = $("#eventNo").val();
					params.slyouthTbKey = slyouthTbKey;
					com.movePagePost("/nt/circleDetail", params);
				}
				
			} 
		}
		
		/**
		 * 파일 이름 세팅 메소드
		 * - 첨부파일이 존재하는 경우 첨부파일 이름 세팅
		 */
		function fn_fileInfo() {
			
			// 이미지 파일 번호가 존재한다면
			if ( $("#repImgNo").val() > 0 ) {
				// 파일 이름 세팅
				$("#imgTxtFileNm").val($("#imgFileNm").val());
			}
			
			// 첨부파일이 존재한다면
			if ( $("#fileNo").val() > 0 ) {
				$("#txtFileNm").val($("#fileNm").val());
			}
		} 
		
		/****************
		 * 콜백 메소드
		 ****************/
		
		/**
         * 동아리 저장 함수 콜백
         * - 동아리 저장 후, 동아리 상세 조회로 이동
         * - data.eventNo : 등록/수정 완료 후 저장된 동아리 일련번호
		 */
		function fn_saveCirleCallback(data){
			if ( data.eventNo != 0 && data.eventNo != null && data.eventNo != undefined) {
				alert('정상적으로 저장되었습니다.');
				var params = {};
				params.eventNo = data.eventNo;
				params.slyouthTbKey = slyouthTbKey;
				com.movePagePost("/nt/circleDetail", params);
			} else {
				alert('저장에 실패하였습니다.');
				return;
			}
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- Edit Form -->
			<div id="edit_wrap">
				
				<!-- Title -->
				<div>
					<h2 th:if="${returnSVO.ntCircleDVO.editDivCd == 'I'}">동아리 등록</h2>
					<h2 th:unless="${returnSVO.ntCircleDVO.editDivCd == 'I'}">동아리 수정</h2>
				</div>
				
				<!-- ########### -->
				<!-- #동아리 등록폼# -->
				<!-- ########### -->
				
				<form id="editForm" th:object="${returnSVO}">
                   	
                   	<!-- Hidden -->
                   	<input type="hidden" id="eventNo" name="eventNo" th:value="*{ntCircleDVO.eventNo}" />
                   	<input type="hidden" id="eventDivCd" name="eventDivCd" th:value="*{ntCircleDVO.eventDivCd}" />
                   	<input type="hidden" id="editDivCd" name="editDivCd" th:value="*{ntCircleDVO.editDivCd}" />
                   	<input type="hidden" id="mngNo" name="mngNo" th:value="*{ntCircleDVO.mngNo}">
                    	
                     <!-- File -->
					<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${tmpFileId}" />
					<input type="hidden" id="refNo" name="refNo" th:value="*{ntCircleDVO.eventNo}" />
					<input type="hidden" id="refDivCd" name="refDivCd" th:value="*{ntCircleDVO.eventDivCd}" />
					<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
					<input type="hidden" id="imgFileNm" th:value="*{ntCircleDVO.fileNm}" />
                   	<input type="hidden" id="fileNm" th:value="*{ntCircleFile.fileNm}" />
                   	<input type="hidden" id="repImgNo" name="repImgNo" th:value="*{ntCircleDVO.repImgNo}" />
                   	<input type="hidden" id="fileNo" name="fileNo" th:value="*{ntCircleFile.fileNo}" />
				
					<!-- Circle Image File -->
					<div id="preview_imgage_wrap">
                    	<img th:if="*{ntCircleDVO.repImgNo} == 0" id="previewImage" src="/images/slyouth/main_visual_img.jpg" alt="미리보기" style="width:400px; height:300px" />
                    	<img th:unless="*{ntCircleDVO.repImgNo} == 0" id="previewImage" th:src="@{/cm/viewImage/{no}(no=*{ntCircleDVO.repImgNo})}" alt="미리보기" style="width:400px; height:300px" />
                    	<span>
							동아리 대표사진<br>
							<input type="file" id="uploadFile" name="uploadFile" />
							<input type="text" id="imgTxtFileNm" placeholder="Upload File" readonly>
						</span>	
                    </div>
					
					<!-- Circle Info -->
					<input type="text" id="eventNm" name="eventNm" placeholder="동아리 이름을 입력하세요(필수)" th:value="*{ntCircleDVO.eventNm}">
					<input type="text" id="place" name="place" placeholder="동아리 장소를 입력하세요(선택)" th:value="*{ntCircleDVO.place}">
					동아리장 : <p th:text="*{ntCircleDVO.name}"></p>
					동아리 시작 
					<input th:if="${returnSVO.ntCircleDVO.strYmd != null}" type="date" id="strYmd" name="strYmd" th:value="${#temporals.createDate(returnSVO.ntCircleDVO.strYmd, 'yyyyMMdd')}">
					<input th:unless="${returnSVO.ntCircleDVO.strYmd != null}" type="date" id="strYmd" name="strYmd"> 
					첨부파일 <input type="file" id="uploadFiles" name="uploadFiles">
					<input type="text" id="txtFileNm" placeholder="Upload File" readonly>
					<br>
					동아리 내용 <textarea id="summernote" name="eventIntro" th:text="*{ntCircleDVO.eventIntro}"></textarea>
				</form>
				
				<!-- Button -->
				<div id="button_wrap">
					<input type="button" id="saveCircleBtn" value="저장">
					<input type="button" id="cancelBtn" value="취소">
				</div>
			</div>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>