<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/cm/header :: fragment-header" />
		<script>
		
			var cmntyNo, editDivCd;
			
			$(window).on("load", function(){
				cmntyNo = $("#cmntyNo").val();			// 글 번호
				editDivCd = $("#editDivCd").val();		// 저장 구분 코드(I: 등록, U: 수정)
				frsWrtDivCd = $("#frsWrtDivCd").val();	// 작성 구분 선택값

				// 초기화면 구성
				fn_defineForm();
				
				// 수정인 경우, 기존값 설정
				if (editDivCd == "U") {
					$("#selWrtDivCd").val(frsWrtDivCd);
				}
			});
		
			$(document).ready(function(){
				
				/**
				 * [저장] 버튼 클릭 이벤트
				 * - 작성된 내용을 신규등록/수정한다.
				 */
				$("#saveBtn").click(function(e){
					var params = $("#chatForm").serializeObject();

					if (!fn_saveValidation()) {
						e.preventDefault();
						return;
					};
					
					if (confirm("저장하시겠습니까?")) {
						com.loadAjaxPost("/nt/chatSave", params, fn_chatSaveCallback);
					}
				});
				
				/**
				 * [취소] 버튼 클릭 이벤트
				 * - 작성된 내용을 취소하고 이전화면으로 돌아간다.
				 */
				$("#cancelBtn").click(function(){
					var cmntyNo = $("#cmntyNo").val();
					
					var cancelConfirm = confirm("작성중인 내용이 있습니다. 취소하시겠습니까?");
					if(cancelConfirm){
						if(cmntyNo != null){
							var params = {};
							params.cmntyNo = cmntyNo;
							
							com.movePagePost("/nt/chatDetail", params);
						}else{
							location.href = "/nt/chatList";
						}
					}
				});
			});
			
			/**
			 * 초기화면 구성 함수
			 * - 페이지 로드 시 초기화면을 구성한다.
			 */
			function fn_defineForm() {
				
				// 콤보박스 구성
				fn_makeCombo();
				
				// 썸머노트 구성
				com.summernoteInit();
			}
			
			/**
			 * 콤보박스 구성 함수
			 * - 페이지에 해당되는 콤보박스를 구현한다.
			 */
			function fn_makeCombo() {
				var codeParams = [];
				codeParams.push({"codeKey":"NT0001", "comboId":"selWrtDivCd", "comboType":"S"});	// 자유게시판구분코드
				
				com.makeCombo(codeParams, "", false);
			};
			
			/**
			 * [저장] 유효성 체크 함수
			 */
			function fn_saveValidation() {
				
				// 작성구분
				if (!com.isEmpty("selWrtDivCd", "작성구분을 선택하세요.")) {
					return false;
				}
				
				// 제목
				if (!com.isEmpty("title", "제목을 입력하세요.")) {
					return false;
				}

				// 내용
				if (!com.isEmpty("summernote", "내용을 입력하세요.")) {
					return false;
				}
				
				return true;
			};
			
			/**
			 * [저장] 버튼 클릭 콜백 함수
			 * - 처리내용
		     * 1) 자유게시판 등록 정상 :: 자유게시판 메인조회 화면으로 이동한다.
			 *    자유게시판 수정 정상 :: 자유게시판 상세조회 화면으로 이동한다. 
			 * 2) 자유게시판 저장 실패 :: 안내문구 출력
			 */
			fn_chatSaveCallback = function(data) {
				if (data.resultCnt > 0) {
					alert("정상적으로 저장되었습니다.");
					
					// [등록] 버튼을 통해 들어온 경우, 목록으로 이동
					if (editDivCd == "I") {
						location.href = "/nt/chatList";
					}
					// [수정] 버튼을 통해 들어온 경우, 상세로 이동
					else if (editDivCd == "U") {
						var params = {};
						params.cmntyNo = cmntyNo;
							
						com.movePagePost("/nt/chatDetail", params);
					}
				} else {
					alert("저장 중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
				}
			}
		</script>
	</head>
	<body>
		<!-- asideMenu -->
		<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
		
		<!-- header -->
    	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
		
		<div id="wrap">
			<div id="section_wrap">
			
				<!-- Worship Visual -->
				<section class="worship_visual">
		           	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
				</section>
				
				<!-- Chat Wrap -->
				<section class="community_list_wrap">
				
					<!-- Title -->
					<div class="community_list_title" id="view_details">
		        		<p>커뮤니티</p>
		        		<h2>자유게시판</h2>
					</div>
					<div class="writingArea_wrap">
						<form id="chatForm" th:object="${returnSVO.ntChatDVO}">
							<div class="writingArea_titleAndWriter">
								<select id="selWrtDivCd" name="wrtDivCd"></select>
								<input type="text" id="title" name="title" th:value="*{title}" placeholder="제목을 입력하세요.">
							</div>
							<div>
								<textarea id="summernote" name="content" th:text="*{content}"></textarea>
							</div>
		
							<!-- hidden -->
							<input type="hidden" id="chrNo" name="chrNo" th:value="${chrNo}" />
							<input type="hidden" id="cmntyNo" name="cmntyNo" th:value="*{cmntyNo}" />
							<input type="hidden" id="editDivCd" name="editDivCd" th:value="*{editDivCd}" />
							<input type="hidden" id="frsWrtDivCd" name="frsWrtDivCd" th:value="*{wrtDivCd}" />
							
							<!-- File -->
							<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${tmpFileId}" />
							<input type="hidden" id="refNo" name="refNo" th:value="*{cmntyNo}" />
							<input type="hidden" id="refDivCd" name="refDivCd" th:value="*{cmntyDivCd}" />
							<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
						</form>
					</div>
					
					<!-- Button -->
					<div class="community_list_btn_wrap">
						<div class="next_generation_info_delete_modifications">
							<input type="button" id="saveBtn" value="저장" class="Btn" />
							<input type="button" id="cancelBtn" value="취소" class="Btn" /> 
						</div>
					</div>
				</section>	
			</div>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</body>
</html>