<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" ></th:block>
	<script>
		$(document).ready(function(){
			/**
			 * 뒤로가기 버튼
			 * - 공지사항 리스트 화면으로 이동합니다.
			 */
			$("#backBtn").click(function(){
				
				location.href = "/nt/noticeList";
			});
		})
		
		/**
		 * 수정하기 버튼
		 * - 공지사항을 수정합니다.
		 */
		function noticeEdit(ntNoticeDVO) {
			
			var params = {};
			params.editDivCd = "U";
			params.cmntyNo = ntNoticeDVO.cmntyNo;
			
			com.movePagePost("/nt/noticeEdit",params);
		}
		
		/**
		 * 삭제하기 버튼
		 * - 공지사항을 삭제합니다.
		 */
		function removeNotice(ntNoticeDVO) {
			
			var params = {};
			params.cmntyNo = ntNoticeDVO.cmntyNo;
			
			var comfirm = confirm("삭제하시겠습니까?");
			if(comfirm) {
				com.loadAjaxPost("/nt/removeNotice", params, function(res){
					if(res != 0){
						alert("삭제되었습니다.");
						location.href = "/nt/noticeList";
					}
					else {
						alert("삭제중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
					}
				});
			}
		}
		
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
		
	<div id="wrap">
		<div id="section_wrap">
		
			<!-- Worship Visual -->
			<section class="worship_visual">
           	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
            </section>

			<!-- content list -->
			<section class="community_list_wrap">
            	<div class="community_list_title" id="view_details">
                    <p>커뮤니티</p>
                    <h2>공지사항</h2>
                </div>
                <div class="view_details_content">
					<form role="form" th:object=${returnSVO.ntNoticeDVO}>
						<div class="view_details_content_title">
							<h2 th:text="${returnSVO.ntNoticeDVO.title}"></h2>
							<p th:text="${returnSVO.ntNoticeDVO.name}"></p>
						</div>
						<div class="view_details_content_info">
							<div>
								<p>조회수 :</p><span th:text="${returnSVO.ntNoticeDVO.viewCnt}"></span>
							</div>
							<div>
								<span th:text="${#temporals.format(returnSVO.ntNoticeDVO.frsRegDt,'yyyy-MM-dd HH:mm')}"></span>
							</div>
							<div>
								<span th:text="${#temporals.format(returnSVO.ntNoticeDVO.lstMdfDt,'yyyy-MM-dd HH:mm')}"></span>
							</div>
							<div>
			                	<label>공지등록</label><br>
			                 	<p th:text="${returnSVO.ntNoticeDVO.topFixYn}"></p>
				            </div>      
						</div>
						<div class="view_details_Contents">
							<p th:utext="${returnSVO.ntNoticeDVO.content}"></p>
						</div>
						<!-- Button -->
						<div class="view_details_content_btn_wrap">
							<div class="next_generation_info_delete_modifications">				
								<button type="button" class="Btn" id="modifyBtn" th:onclick="noticeEdit([[ ${returnSVO.ntNoticeDVO} ]])" th:text="|수정|"></button>
								<button type="button" class="Btn" id="removeBtn" th:onclick="removeNotice([[ ${returnSVO.ntNoticeDVO} ]])" th:text="|삭제|"></button>
								<button type="button" class="Btn" id="backBtn" th:text="|목록|"></button>
							</div>
						</div>
						
						<!-- Hidden -->
						<input type="hidden" id="title" name="title" th:value="${returnSVO.ntNoticeDVO.title}">
						<input type="hidden" id="chrNo" name="chrNo" th:value="${returnSVO.ntNoticeDVO.chrNo}">
						<input type="hidden" id="viewCnt" name="viewCnt" th:value="${returnSVO.ntNoticeDVO.viewCnt}">
						<input type="hidden" id="frsRegDt" name="frsRegDt" th:value="${returnSVO.ntNoticeDVO.frsRegDt}">
						<input type="hidden" id="lstMdfDt" name="lstMdfDt" th:value="${returnSVO.ntNoticeDVO.lstMdfDt}">
			            <input type="hidden" id="topFixYn" name="topFixYn" th:value="${returnSVO.ntNoticeDVO.topFixYn}">
						<input type="hidden" id="content" name="content" th:value="${returnSVO.ntNoticeDVO.content}">
					</form>
				</div>
			</section>
		</div>
		<!-- footer -->
		<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
	</div>
</body>
</html>