<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.09.29
	화면명 	: 동아리 게시판 작성
	서비스 	: NtCircle*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
	
		// 전역 변수
		var slyouthTbKey;
	
		$(window).on("load", function(){
			slyouthTbKey = $("#refTbKey").val();
		});
		
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
	         * 게시물 [저장] 버튼 이벤트
			 */
			$("#boardSaveBtn").click(function(){
				// 저장
				fn_boardSave();
			});
			
			/**
	         * 게시물 [취소] 버튼 이벤트
			 */
			$("#boardCancelBtn").click(function(){
				// 게시물 작성 취소
				fn_boardCancel();
			});
		});
		
		/**
         * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			// 썸머노트 구성
			com.summernoteInit();
		};
		
		/**
		 * 게시물 저장 메소드
		 * - 게시물 정보를 DB에 저장
		 */
		function fn_boardSave() {
			var params = new FormData(document.getElementById("editForm"));
			
			// 유효성
			if ( !fn_saveValidateion() ) {
				return;
			}
			
			// 저장
			if ( confirm("저장하시겠습니까?") ) {
				com.fileUploadAjaxPost("/nt/circleBoardSave", params, fn_saveCirleCmntyCallback);	
			}
		}
		
		/**
		 * 유효성 검사 메소드
		 * - 작성 페이지의 유효성을 검사
		 */
		function fn_saveValidateion() {
			// 제목
			if (!com.isEmpty("title", "제목을 입력해주세요.")) {
				return false;
			}
			
			// 내용
			if (!com.isEmpty("summernote", "내용을 입력해주세요.")) {
				return false;
			}
			
			return true;
		}
		
		/**
		 * 게시물 작성 취소 메소드
		 * - 이전의 넘어온 페이지가 등록/수정 인지를 구분하여 페이지 이동
		 */
		function fn_boardCancel() {
			if ( confirm("작성을 취소하시겠습니까?") ) {
				
				if ( $("#editDivCd").val() == "I") {
					// 등록에서 넘어왔던 경우
					var params = {};
					params.eventDivCd = $("#refDivCd").val();
					params.eventNo = $("#eventNo").val();
					params.slyouthTbKey = slyouthTbKey;
					com.movePagePost("/nt/circleDetail", params);
				} else {
					// 수정에서 넘어왔던 경우
					var params = {};
					params.cmntyNo = $("#cmntyNo").val();
					params.slyouthTbKey = slyouthTbKey;
					com.movePagePost("/nt/circleBoardDetail", params);
				}
			} else {
				return;
			}
		} 
		 
		/****************
		 * 콜백 메소드
		 ****************/
		 
		/**
		 * 게시판 저장 콜백
		 * - 저장 후 게시물 상세로 넘어갑니다.
		 * - data : 등록/수정 후의 게시물 DVO
		 * - data.cmntyNo : 저장된 게시물 일련번호
		 * - data.eventDivCd : 이벤트 구분코드(CIR)
		 */
		function fn_saveCirleCmntyCallback(data){
					
			if ( data != null && data != "" ) {
				alert("저장되었습니다.");
				var params = {};
				params.cmntyNo = data.cmntyNo;
				params.eventNo = $("#eventNo").val();
				params.eventDivCd = data.eventDivCd;
				com.movePagePost("/nt/circleBoardDetail", params);
			} else {
				alert("저장에 실패하였습니다. 다시 시도해주세요.");
				return;
			}
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- Title -->
			<div id="title_wrap">
				<p th:if="${returnSVO.ntCircleCmnty.editDivCd == 'I'}"> 동아리 게시판 등록 </p>
				<p th:unless="${returnSVO.ntCircleCmnty.editDivCd == 'I'}"> 동아리 게시판 수정 </p>
			</div>
			
			<!-- Edit Form -->
			<div id="edit_wrap">
				<form id="editForm" th:object="${returnSVO.ntCircleCmnty}">
				
					<!-- Hidden -->
					<input type="hidden" id="eventNo" name="eventNo" th:value="*{eventNo}">
					<input type="hidden" id="cmntyNo" name="cmntyNo" th:value="*{cmntyNo}">
					<input type="hidden" id="editDivCd" name="editDivCd" th:value="*{editDivCd}">
					<input type="hidden" id="cmntyDivCd" name="cmntyDivCd" th:value="*{eventDivCd}">
					
					 <!-- File -->
					<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${tmpFileId}" />
					<input type="hidden" id="refNo" name="refNo" th:value="*{cmntyNo}" />
					<input type="hidden" id="refDivCd" name="refDivCd" value="*{eventDivCd}" />
					<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
					<input type="hidden" id="fileNo" name="fileNo" th:value="${returnSVO.ntCircleCmnty.fileNo}" />
					<input type="hidden" id="fileNm" name="fileNm" th:value="${returnSVO.ntCircleCmnty.fileNm}" />
				
					<!-- Edit Info -->
					제목 : <input type="text" id="title" name="title" placeholder="제목을 입력하세요" th:value="*{title}">
					첨부파일 <input type="file" id="uploadFile" name="uploadFile">
					<input type="text" id="txtFileNm" placeholder="Upload File" readonly>
					내용 <textarea id="summernote" name="content" th:text="*{content}"></textarea>
				</form>
			</div>
			
			<!-- Button -->
			<input type="button" id="boardSaveBtn" value="저장">
			<input type="button" id="boardCancelBtn" value="취소">
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>