<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.09.29
	화면명 	: [커뮤니티] > 동아리 메인 조회
	서비스 	: NtCircle*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
	
		// 전역 변수
		var slyouthTbKey;
	
		$(window).on("load", function(){
			slyouthTbKey = $("#refTbKey").val();
		});
	
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
			 * 동아리 추가 버튼 이벤트
			 * - 동아리 등록 페이지로 이동합니다.
			 */
			$("#addCircleBtn").click(function(){
				// 동아리 추가
				fn_addCircle();
			});
			
			/**
			 * 동아리 검색 버튼 이벤트
			 * - 동아리 제목으로 검색합니다.
			 */
			$("#searchBtn").click(function(){
				// 검색
				fn_search();
			});
		});
		
		/**
         * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 검색어 세팅
			fn_putInKeyword();
		};
		
		/**
         * 상세페이지 이동 메소드
		 * - 목록 리스트를 클릭하면 상세페이지로 이동합니다.
		 */
		function fn_moveDetail(circle) {
			
			var params = {};
			params.eventNo = circle.eventNo;
			params.eventDivCd = circle.eventDivCd;
			params.slyouthTbKey = slyouthTbKey;
			
			com.movePagePost("/nt/circleDetail", params);
		};
		
		/**
         * 상단 검색 값 세팅 메소드
		 * - 검색 후 검색어 키워드가 남아있도록 합니다.
		 */
		function fn_putInKeyword(){
			
			var keyword = $("#eventNm").val();
			
			if ( keyword != "" && keyword != null && keyword != undefined ) {
				$("#searchKeyword").val(keyword);
			}
		}
		
		/**
         * 검색 메소드
		 * - 검색 조건으로 동아리를 검색합니다.
		 */
		function fn_search(){
			var params = {};
			params.eventDivCd = "CIR";
			params.eventNm = $("#searchKeyword").val();
			
			com.movePagePost("/nt/circleList", params);
		}
		
		/**
         * 동아리 추가 메소드
		 * - 동아리 등록 페이지로 이동합니다.
		 */
		function fn_moveAddCircle(){
			var params = {};
			params.editDivCd = "I";
			params.eventDivCd = "CIR";
			
			com.movePagePost("/nt/circleEdit", params);
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- Title -->
			<div id="title_wrap">
				<h2>동아리 목록</h2>
			</div>
			
			<!-- Search -->
			<div id="search_wrap">
				<span>
					<input type="text" id="searchKeyword" placeholder="제목으로 검색합니다">
					<input type="button" id="searchBtn" value="검색">
				</span>
			</div>
			
			<!-- Button -->
			<div id="btn_wrap">
				<input type="button" id="addCircleBtn" value="동아리 추가">
			</div>
			
			<!-- Circle List -->
			<div id="circleList_wrap">
				<div th:if="${returnSVO.ntCircleList != null}" th:each="circle : ${returnSVO.ntCircleList}">
					<div th:object="${circle}" th:onclick="fn_moveDetail( [[ ${circle} ]] )">
						
						<!-- Hidden -->
						<input type="hidden" id="eventNm" th:value="${returnSVO.ntCircleDVO.eventNm}">
						
						<!-- File -->
						<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}">
					
						<img th:if="*{repImgNo == 0}" src="/images/slyouth/main_visual_img.jpg" alt="동아리 사진" style="width:300px; height:200px" />
                        <img th:unless="*{repImgNo == 0}" th:src="@{/cm/viewImage/{no}(no=*{repImgNo})}" alt="동아리 사진" style="width:300px; height:200px" />
                        
                        <br>
						동아리 : <p th:text="*{eventNm}"></p>
						동아리장 : <p th:text="*{name}"></p>
						인원 : <p th:text="*{peopleNum}"></p>
						동아리 창립일 : <p th:text="${#temporals.createDate(circle.strYmd, 'yyyyMMdd')}"></p>
					</div>
				</div>
				<div th:unless="${returnSVO.ntCircleList != null}">
					등록된 동아리가 없습니다.
				</div>
			</div>
			
			<!-- Pagination -->
			<div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
			
		</div>
	</div>
</body>
</html>