<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
			 * [조회] 버튼 클릭 이벤트
			 * - 검색창에 입력한 내용으로 리스트를 조회한다.
			 */
 			$("#searchBtn").click(function(){
 				fn_search();
			});
			
			/**
			 * [조회] 검색폼 엔터 이벤트
			 * - 검색폼에서 엔터 클릭 시 리스트를 조회한다.
			 */
			$("#searchForm").keydown(function(e){
				if(e.keyCode == 13){
					fn_search();
				}
			})
			
			/**
			 * [등록] 버튼 클릭 이벤트
			 * - 게시글을 등록하는 화면으로 이동한다.
			 */
			$("#registBtn").click(function(){
				var params = {};
				params.editDivCd = "I";
				
				com.movePagePost("/nt/chatEdit", params);
			});
		});
		
		/**
		 * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 콤보박스 구성
			fn_makeCombo();
		};
		
		/**
		 * 콤보박스 구성 함수
		 * - 페이지에 해당되는 콤보박스를 구현한다.
		 */
		function fn_makeCombo() {
			var codeParams = [];
			codeParams.push({"codeKey":"NT0001", "comboId":"srhWrtDivCd", "comboType":"A"});	// 자유게시판구분코드
			
			com.makeCombo(codeParams);
		};
		
		/**
		 * [조회] 자유게시판 목록 조회 이벤트
		 * - 검색창에 입력한 내용으로 리스트를 조회한다.
		 */
		function fn_search(){
			var params = $("#searchForm").serializeObject();
			com.movePagePost("/nt/chatList", params);
		}
		
		/**
		 * [상세조회] 버튼 클릭 이벤트
		 * - 게시글을 상세조회하는 화면으로 이동한다.
		 */
		function chatDetail(chatDVO) {
			var params = {};
			params.cmntyNo = chatDVO.cmntyNo;
			params.pageNo = $("#pageNo").val();

			com.movePagePost("/nt/chatDetail", params);
		};
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
		
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- Chat Wrap -->
			<section class="community_list_wrap">
				
				<!-- Search -->
				<div id="search_wrap" class="community_search_wrap" th:object="${returnSVO.ntChatDVO}">
					<div class="community_search">
						<div class="search_wrap">
							<div class="community_list_title">
			                	<p>커뮤니티</p>
			                    <h2>자유게시판</h2>
							</div>
							<form id="searchForm"> 
								<table>
									<tbody>
										<tr>
											<td class="search_division">작성구분</td>
											<td class="search_inputbox">
												<select id="srhWrtDivCd" name="wrtDivCd"></select>
											</td>
											<td class="search_division">제목</td>
											<td class="search_inputbox">
												<input type="text" id="srhTitle" name="title" th:value="*{title}"/>
											</td>
											<td class="search_division">작성자</td>
											<td class="search_inputbox">
												<input type="text" id="srhName" name="name" th:value="*{name}"/>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
							<div class="search_btn">
								<div class="search_btn_wrap">
									<input type="button" id="searchBtn" class="Btn" value="조회" />
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<!-- List -->
				<div class="community_list_table_wrap">
					<table class="community_list_table">
						<thead>
							<tr>
								<th>No</th>
 								<th>글구분</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
								<th>조회</th>
<!-- 								<th>댓글</th> -->
<!-- 								<th>좋아요</th> -->
							</tr>
						</thead>
							<tr th:if="${not #lists.isEmpty(returnSVO.ntChatDVOList)}" th:onclick="chatDetail([[ ${chatDVO} ]])" th:each="chatDVO : ${returnSVO.ntChatDVOList}">
								<td th:text="${chatDVO.cmntyNo}"></td>
 								<td th:text="${chatDVO.wrtDivNm}"></td>
								<td th:text="${chatDVO.title}"></td>
								<td th:text="${chatDVO.name}"></td>
								<td th:text="${#temporals.format(chatDVO.lstMdfDt, 'yyyy-MM-dd')}"></td>
								<td th:text="${chatDVO.viewCnt}"></td>
<!-- 								<td th:text="${chatDVO.commentCnt}"></td> -->
<!-- 								<td th:text="${chatDVO.favorCnt}"></td> -->
							</tr>
							<tr th:unless="${not #lists.isEmpty(returnSVO.ntChatDVOList)}">
								<td colspan="8">조회된 결과가 없습니다.</td>
							</tr>
						</tbody>
					</table>
					
					<!-- Button -->
					<div class="community_list_table_btn_wrap">
						<div class="community_list_table_btn">
							<input type="button" id="registBtn" value="작성" class="Btn" />
						</div>
					</div>
				</div>
			
				<!-- Pagination -->
				<div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
			</section>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>