<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" ></th:block>
	<script>
	
		var cmntyNo, editDivCd;
		
		window.onload = function(){
			editDivCd = $("#editDivCd").val();			// 저장 구분 코드(I: 등록, U: 수정)
			cmntyNo = $("#cmntyNo").val();			// 글 번호
			console.log(editDivCd);

		};
	
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			 /**
			 * 나눔 등록/수정 버튼 이벤트
			 * - 게시물을 등록 및 수정합니다.
			 */
			 $("#sharingSave").click(function(e){
				 // form에서 가져오기
				 var params = $("#registForm").serializeObject();
				 
				 //유효성 검사 
				 if (!fn_saveValidation()) {
					e.preventDefault();
					return;
				};
				 
				// 저장
				if (confirm("저장하시겠습니까?")) {
					com.loadAjaxPost("/nt/sharingSave", params, fn_sharingSaveCallback);
				}
			 });			
			
			 /**
			 * [취소] 버튼 클릭 이벤트
			 * - 작성된 내용을 취소하고 이전화면으로 돌아간다.
			 */
		    $("#backBtn").click(function(){
				var cmntyNo = ("#cmntyNo").val();
				
				confirm("작성중인 내용이 있습니다. 취소하시겠습니까?");
				if(cmntyNo != null){
					
					location.href = "/nt/sharingDetail";
				}
		    	
		       	location.href = "/nt/sharingList";
		    });
			 
		    /**
			 * 초기화면 구성 함수
			 * - 페이지 로드 시 초기화면을 구성한다.
			 */
			function fn_defineForm() {
				
				// 썸머노트 구성
				com.summernoteInit();
			};
		
			 /**
			 * [저장] 유효성 체크 함수
			 */
			function fn_saveValidation() {
				
				// 제목
				if (!com.isEmpty("title", "제목을 입력하세요.")) {
					return false;
				}

				// 내용
				if (!com.isEmpty("summernote", "내용을 입력하세요.")) {
					return false;
				}
				
				return true;
			};
			
			/**
			 * [저장] 버튼 클릭 콜백 함수
			 * - 처리내용
		     * 1) 자유게시판 등록 정상 :: 나눔 메인조회 화면으로 이동한다.
			 *    자유게시판 수정 정상 :: 나눔 상세조회 화면으로 이동한다. 
			 * 2) 자유게시판 저장 실패 :: 안내문구 출력
			 */
			fn_sharingSaveCallback = function(data) {
				 if(data.resultCnt > 0) {
					 alert("정상적으로 저장되었습니다.");
					 
					 if(data.cmntyNo == 0 || data.cmntyNo == '') {
					 	location.href = "/nt/sharingList";
					 }else {
						 var params = {};
						 params.cmntyNo = data.cmntyNo;
						 
						 com.movePagePost("/nt/sharingDetail", params);
					 }
				 }else {
					 alert("저장 중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
				 }
			 }
		});
		
	</script>
</head>
<body>
	<div id="wrap">
		<div class="writingArea_wrap">
			<div class="community_list_title" id="writingArea_title">
		        <p>커뮤니티</p>
		        <h2>나눔 등록&수정</h2>
			</div>
			<div>
				<form id="registForm" th:object=${returnSVO.ntSharingDVO}>
					<div class="writingArea_titleAndWriter">
						<input type="text" id="title" name="title" th:value="*{title}" placeholder="제목을 입력하세요">
						<p>작성자 : <span th:text="${returnSVO.ntSharingDVO.name}"></span></p>
					</div>	
					<div class="view_details_content_info" id="writingArea_info">
						<!--  -->
					</div>
					<div>
						<textarea id="summernote" name="content" th:text="*{content}"></textarea>
					</div>
					<!-- Button -->
					<div class="next_generation_info_delete_modifications">
						<div class="next_generation_info_delete_modifications">
							<button th:text="|저장|" type="button" id="sharingSave" class="Btn"></button>
							<button th:text="|돌아가기|" type="button" id="backBtn" class="Btn"></button>
						</div>
					</div>
					
					<!-- Hidden -->
					<input type="hidden" id="chrNo" name="chrNo" th:value="${chrNo}" />
					<input type="hidden" id="frsRegNo" name="frsRegNo" th:value="*{frsRegNo}">
					<input type="hidden" id="viewCnt" name="viewCnt" th:value="*{viewCnt}">		
					<input type="hidden" id="cmntyNo" name ="cmntyNo" th:value="*{cmntyNo}">
					<input type="hidden" id="editDivCd" name="editDivCd" th:value="*{editDivCd}">
				</form>
			</div>
		</div>
	</div>
</body>
</html>