<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/cm/header :: fragment-header" />
		<script>
			$(document).ready(function(){
				
				/**
				 * [목록] 버튼 클릭 이벤트
				 * - 자유게시판 목록 조회 페이지로 이동한다.
				 */
				$("#listBtn").click(function(){
					var params = $("#chatForm").serializeObject();
					com.movePagePost("/nt/chatList", params);
				});
				
				/**
				 * [수정] 버튼 클릭 이벤트
				 * - 자유게시판을 수정하는 페이지로 이동한다.
				 */
				$("#modifyBtn").click(function(){
					var params = $("#chatForm").serializeObject();
					params.editDivCd = "U";
					
					com.movePagePost("/nt/chatEdit", params);
				});

				/**
				 * [삭제] 버튼 클릭 이벤트
				 * - 자유게시판 글을 삭제 후, 목록 조회 페이지로 이동한다.
				 */
				$("#deleteBtn").click(function(){
					var params = $("#chatForm").serializeObject();
					
					if (confirm("삭제하시겠습니까?")) {
						com.loadAjaxPost("/nt/chatDelete", params, fn_chatDeleteCallback);
					}
				});
				
// 				$("#commentSave").click(function(){
// 					var content = $("#content").val();
// 					var form = $("#commentForm").serializeObject();
					
// 					if(content == "" || content == null){
// 						alert("내용을 입력하세요.");
// 						return;
// 					}
					
// 					com.loadAjaxPost("/nt/commentSave", form, fn_commentSaveCallback);
// 				});
			});

			
// 			fn_commentSaveCallback = function(data){
// 				var params = {};
// 				params.cmntyNo = data.refNo;
					
// 				com.movePagePost("/nt/chatDetail", params);
// 			}
			
// 			function commentDelete(ntCommentDVO){
// 				var params = {};
// 				params.commentNo = ntCommentDVO.commentNo;
// 				params.refNo = ntCommentDVO.refNo;
				
// 				var commentDeleteConfirm = confirm("삭제하시겠습니까?");
// 				if(commentDeleteConfirm){
// 					com.loadAjaxPost("/nt/commentDelete", params, fn_commentDeleteCallback)
// 				}
// 			}
			
// 			fn_commentDeleteCallback = function(data){
// 				var params = {};
// 				params.cmntyNo = data.refNo;
					
// 				com.movePagePost("/nt/chatDetail", params);
// 			}

		   /***************************
			** 콜백 메소드
			***************************/
			/**
		     * [삭제] 이벤트 콜백
			 * - 처리내용		     
		     * 1) 자유게시판 삭제 정상 :: 자유게시판 조회 화면으로 이동한다.
			 * 2) 자유게시판 삭제 실패 :: 안내문구 출력
			 */					 
			 function fn_chatDeleteCallback(data) {
				if (data.resultCnt > 0) {
					alert("정상적으로 삭제되었습니다.");
					location.href = "/nt/chatList";
				} else {
					alert("삭제 중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
				}
			}			
		</script>
	</head>
	<body>
		<!-- asideMenu -->
		<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>

			<!-- header -->
			<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>

			<div id="wrap">
				<div id="section_wrap">
					
					<!-- worshipVisual -->
					<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
					
					<section class="community_list_wrap">
						<div class="view_details_content">
							<form role="form" id="chatForm" th:object="${returnSVO.ntChatDVO}">
							
								<!-- Title -->
								<div class="view_details_content_title">
									<h2 th:text="*{title}"></h2>
								</div>
								
								<!-- Base Info -->
								<div class="view_details_content_info">
									<div>
										<span>|프로필이미지|</span>
										<span th:text="*{name}"></span>
									</div>
									<div>
										<span th:text="${#temporals.format(returnSVO.ntChatDVO.lstMdfDt, 'yyyy-MM-dd HH:mm')}"></span>
										<span th:text="|조회수 : *{viewCnt}|"></span>
									</div>
								</div>
								
								<!-- Content -->
								<div class="view_details_Contents" th:utext="*{content}"></div>
								
								<!-- Hidden -->
								<input type="hidden" id="cmntyNo" name="cmntyNo" th:value="*{cmntyNo}" />
								<input type="hidden" id="pageNo" name="pageNo" th:value="*{pageNo}" />
							</form>
						</div>
						
						<!-- Button -->
						<div class="view_details_content_btn_wrap">
							<div class="next_generation_info_delete_modifications">
								<input type="button" id="replyBtn" value="댓글쓰기" class="Btn" />	
								<input type="button" id="modifyBtn" value="수정" class="Btn" />
								<input type="button" id="deleteBtn" value="삭제" class="Btn" />
								<input type="button" id="listBtn" value="목록" class="Btn" />
							</div>
						</div>
					</section>
<!-- 					<section> -->
<!-- 						<div class="container"> -->
<!-- 							<label for="content">댓글</label> -->
<!-- 							<form id="commentForm"> -->
<!-- 								<div class="input-group"> -->
<!-- 									<input type="text" class="form-control" id="content" name="content" placeholder="내용을 입력하세요." /> -->
<!-- 									<input type="hidden" id="refNo" name="refNo" th:value="${returnSVO.ntChatDVO.cmntyNo}" /> -->
<!-- 									<input type="button" id="commentSave" class="Btn" value="등록" /> -->
<!-- 								</div> -->
<!-- 							</form> -->
<!-- 						</div> -->
<!-- 						<div id="comment_list" th:each="commentDVO : ${returnSVO.ntCommentDVOList}" > -->
<!-- 							<p>작성자 :</p><span th:text="${commentDVO.name}"></span> -->
<!-- 							<p>내용 :</p><span th:text="${commentDVO.content}"></span> -->
<!-- 							<p>작성일시 :</p><span th:text="${#temporals.format(commentDVO.lstMdfDt, 'MM/dd HH:mm')}"></span> -->
<!-- 							<input type="button" id="commentEdit" class="Btn" value="수정" /> -->
<!-- 							<input type="button" th:onclick="commentDelete([[ ${commentDVO} ]])" class="Btn" value="삭제" /> -->
<!-- 						</div> -->
<!-- 					</section> -->
				</div>
				
				<!-- footer -->
				<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
			</div>
	</body>
</html>