<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script>
		$(document).ready(function(){
			
			/**
			 * [조회] 버튼 클릭 이벤트
			 * - 검색창에 입력한 내용으로 리스트를 조회합니다.
			 */
 			$("#searchBtn").click(function(){
				var params = $("#searchForm").serializeObject();
				
				com.movePagePost("/nt/noticeList", params);
			});
			
		});
		
		/**
		 * 공지사항 등록 이벤트
		 * - 공지사항을 등록합니다.
		 */
		function fn_moveRegist(){
			var params = {};
			params.editDivCd = "I";
			
			com.movePagePost("/nt/noticeEdit", params);
		}
		
		/**
		 * 공지사항 리스트 상세내용
		 * - 공지사항 상세내용을 조회합니다.
		 */
		function noticeDetail(cmntyNo){
			var params = {};
			params.cmntyNo = cmntyNo;
			
			com.movePagePost("/nt/noticeDetail", params);
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>

	<!-- headerMenu -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<section class="community_list_wrap">
			
			<!-- Search -->
			<div class="search_wrap" th:object="${returnSVO.ntNoticeDVO}">
				<div class="community_list_title">
                    <p>커뮤니티</p>
                    <h2>공지사항</h2>
                </div>     
                <form id="searchForm" >
					<table>
						<tbody>
							<tr>
								<td class="search_division" for="title">제목</td>
								<td class="search_inputbox">
									<input type="text" id="title" name="title" th:value="*{title}"/>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
				<div class="search_btn">
					<div class="search_btn_wrap">
						<input type="button" class="Btn" value="초기화"/>
						<input type="button" class="Btn" value="조회" id="searchBtn"/>
					</div>
				</div>
			</div>
				
            <!-- List -->
            <div class="community_list_table_wrap">
				<table class="community_list_table">
					<thead>
						<tr>
							<th>번호</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>등록일자</th>
                            <th>조회수</th>
                            <th>첨부파일</th>
                        </tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(returnSVO.ntNoticeDVOTopList)}" th:id="top-fixed-posts" 
							th:each="ntNoticeDVO, rowStat: ${returnSVO.ntNoticeDVOTopList}">
							<td th:text="${ntNoticeDVO.cmntyNo}" id="cmntyNo"></td>
							<td th:text="${ntNoticeDVO.name}"></td>
							<td th:text="${ntNoticeDVO.title}" id="title" 
								th:onclick="noticeDetail([[ ${ntNoticeDVO.cmntyNo} ]]);" ></td>
							<td th:text="${#temporals.format(ntNoticeDVO.frsRegDt,'yyyy-MM-dd')}"></td>
							<td th:text="${ntNoticeDVO.viewCnt}"></td>
							<!-- <p th:if="${ntNoticeDVO.fileSeq == 0}"><td th:text="N"></td></p>
							<p th:unless="${ntNoticeDVO.fileSeq == 0}"><td th:text="Y"></td></p>	 -->		
						</tr>
						<tr th:if="${not #lists.isEmpty(returnSVO.ntNoticeDVOList)}"  
							th:each="ntNoticeDVO, rowStat: ${returnSVO.ntNoticeDVOList}">
							<td th:text="${ntNoticeDVO.cmntyNo}" id="cmntyNo"></td>
							<td th:text="${ntNoticeDVO.name}"></td>
							<td th:text="${ntNoticeDVO.title}" id="title"
								th:onclick="noticeDetail([[ ${ntNoticeDVO.cmntyNo} ]]);"></td>
							<td th:text="${#temporals.format(ntNoticeDVO.frsRegDt,'yyyy-MM-dd')}"></td>
							<td th:text="${ntNoticeDVO.viewCnt}"></td>		
							<!-- <p th:if="${ntNoticeDVO.fileSeq == 0}"><td th:text="N"></td></p>
							<p th:unless="${ntNoticeDVO.fileSeq == 0}"><td th:text="Y"></td></p> -->		
						</tr>
						<tr th:if="${#lists.isEmpty(returnSVO.ntNoticeDVOList)} and ${#lists.isEmpty(returnSVO.ntNoticeDVOTopList)}">
							<td colspan="5">조회된 결과가 없습니다.</td>
						</tr>
					</tbody>
				</table>
				<!-- Button -->
				<div class="community_list_table_btn_wrap">
					<div class="community_list_table_btn">
						<button type="button" id="registBtn" th:text="|글등록|" class="Btn" th:onclick="fn_moveRegist()"></button>
					</div>
				</div>
			</div>
		</section>
			
			<!-- Paging -->
			<div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>