<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" ></th:block>
	<script th:inline="javascript">
		
		var editDivCd;
	
		window.onload = function(){			
			/**
			 * 상단고정 체크박스 체크유지
			 * - 체크박스 체크여부가 수정시에도 유지됩니다.
			 */
			editDivCd = $("#editDivCd").val();			// 저장 구분 코드(I: 등록, U: 수정)
			console.log(editDivCd);
			// $("input:checkbox[id='id값']").prop("checked", true);    
			if(editDivCd=='U'){	
				var pivot = /*[[${returnSVO.ntNoticeDVO.topFixYn}]]*/'';
				if(pivot == 'Y'){
					$('#topFixYn').prop("checked", "checked"); 
				}
			} else {
				$('#topFixYn').prop("checked", false); 
			}

			
		};
		
	   $(document).ready(function() {
		   
			// 초기화면 구성
			fn_defineForm();
		
		    /**
			 * 공지사항 등록버튼 이벤트
			 * - 버튼을 누르면 게시물 내용을 DB에 등록합니다.
			 */
	         $("#noticeSave").click(function() {
	           
	        	var params = $("#noticeForm").serializeObject();
	        	if($("input:checkbox[name=topFixYn]").is(":checked") == true) {
	        		  params.topFixYn = "Y";
	        	} else {
	        		params.topFixYn = "N";
	        	}
	           	
	            // 유효성 검사
	            if(!fn_saveValidation(params)) {
	            	return;
	            };
	            	
               // 등록하기
               var noticeConfirm = confirm("저장하시겠습니까?");
               if(noticeConfirm){
                  com.loadAjaxPost("/nt/noticeSave", params, fn_noticeSaveCallback);
               }
	         });
		    
	         // 뒤로가기
	         $("#backBtn").click(function(){
	            
	            location.href = "/nt/noticeList";
	         });
	      });
	   		
	   		/**
		 	* [저장] 유효성 체크 함수
		 	*/
			function fn_saveValidation(params){
	   			
				// 유효성 검사
	            if(params.title == "" || params.title == null){
	               alert("제목을 입력하세요.");
	               return false;
	            }
	            
	            if(params.content == "" || params.content == null){
	               alert("내용을 입력하세요.");
	               return false;
	            }
	            
	            return true;
	   		};
	   		
	   	 	/***************************
			** 콜백 메소드
			***************************/
			function fn_noticeSaveCallback(data){
		   		if(data != 0 && data != "" && data != undefined) {
	                alert("저장되었습니다.");
	                
		   			var params = {};
		   			if(editDivCd == 'U') {
		   				params.editDivCd = editDivCd;
		   			}
		   			params.cmntyNo = data;
		   			com.movePagePost("/nt/noticeDetail", params);
	             }else {
	                alert("저장중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
	             }
	   	 	}
	   	 	
	   	 	// 애가 왜 있는지는 일단 보류
			function test(){
	
		    	$("input[name='topFixYn']").each(function(){
		    		var thisVal = $(this).val();
		    		if( thisVal.length > 0 ){
		    			$(this).attr("checked", true );
		    		}
				}); 
			}
			
		   /**
			 * 초기화면 구성 함수
			 * - 페이지 로드 시 초기화면을 구성한다.
			 */
			function fn_defineForm() {
				
				// 썸머노트 구성
				com.summernoteInit();
			};
		
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div class="writingArea_wrap">
			<div class="community_list_title" id="writingArea_title">
		        <p>커뮤니티</p>
		        <h2>게시글 등록&수정</h2>
			</div>
			<div>
				<form id="noticeForm" th:object=${returnSVO.ntNoticeDVO}>
					<div class="writingArea_titleAndWriter">
						<input type="text" id="title" name="title" th:value="*{title}" placeholder="제목을 입력하세요">
						<p>작성자 : <span th:text="${returnSVO.ntNoticeDVO.name}"></span></p>
					</div>	
					<div class="view_details_content_info" id="writingArea_info">
						<div class="TopFixedCheckbox">
							<label for="checked">상단에 고정하기</label>
							<input type="checkbox" th:checked="${isExist}" id="topFixYn" th:value="*{topFixYn}" name="topFixYn">
						</div>
					</div>
					<div>
						<textarea id="summernote" name="content" th:value="*{content}" placeholder="내용을 입력하세요"></textarea>
					</div>
					<!-- Button -->
					<div class="community_list_btn_wrap">
						<div class="next_generation_info_delete_modifications">
							<button th:text="|저장|" type="button" id="noticeSave" class="Btn"></button>
							<button th:text="|돌아가기|" type="button" id="backBtn" class="Btn"></button>
						</div>
					</div>
					
					<!-- Hidden -->
					<input type="hidden" id="chrNo" name="chrNo" th:value="${returnSVO.ntNoticeDVO.chrNo}">
					<input type="hidden" id="cmntyNo" name="cmntyNo" th:value="${returnSVO.ntNoticeDVO.cmntyNo}">
					<input type="hidden" id="viewCnt" name="viewCnt" th:value="${returnSVO.ntNoticeDVO.viewCnt}">
					<input type="hidden" id="frsRegDt" th:value="${returnSVO.ntNoticeDVO.frsRegDt}">
					<input type="hidden" id="lstMdfDt" th:value="${returnSVO.ntNoticeDVO.lstMdfDt}">
					<input th:value="${returnSVO.ntNoticeDVO.cmntyNo}" type="hidden" id="cmntyNo">
					<input type="hidden" id="editDivCd" name="editDivCd" th:value="${returnSVO.ntNoticeDVO.editDivCd}">
						
					<!-- File -->
					<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${returnSVO.ntNoticeDVO.tmpFileId}" />
					<input type="hidden" id="refNo" name="refNo" th:value="${returnSVO.ntNoticeDVO.cmntyNo}" />
					<input type="hidden" id="refDivCd" name="refDivCd" th:value="${returnSVO.ntNoticeDVO.cmntyDivCd}" />
					<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>