<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header"></th:block>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- headerMenu -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>

	<div id="wrap">
	
  	 	<!-- 메인소개부분 -->
      	<div id="section_wrap">
      	
          	<!-- Worship Visual -->
			<section class="worship_visual">
          		<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- 영상 부분 -->
			<div th:replace="fragments/cm/video/videoEdit :: fragment-commonVideoEdit"></div>
			
		</div>
	</div>
	
	<!-- footer -->
	<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
</body>
</html>