<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" ></th:block>
	<script>
		$(document).ready(function(){
			/**
			 * [목록] 버튼 클릭 이벤트
			 * - 자유게시판 목록 조회 페이지로 이동한다.
			 */
			 $("#listBtn").click(function(){
				location.href = "/nt/sharingList";
			});
			
			/**
			* [수정] 버튼 클릭 이벤트
			* - 나눔 글을 수정합니다.
			*/
			 $("#modifyBtn").click(function(){
				var params = $("#sharingForm").serializeObject();
				params.editDivCd = "U";
				//params.cmntyNo = ntSharingDVO.cmntyNo;
				
				com.movePagePost("/nt/sharingEdit", params);
			});
			
			 /**
			 * [삭제] 버튼 클릭 이벤트
			 * - 자유게시판 글을 삭제 후, 목록 조회 페이지로 이동한다.
			 */
			$("#deleteBtn").click(function(){
				var params = $("#sharingForm").serializeObject();
				
				if (confirm("삭제하시겠습니까?")) {
					com.loadAjaxPost("/nt/removeSharing", params, fn_sharingDeleteCallback);
				}
			});
			
		})
		
		/* 
		 * [수정] 버튼 클릭 이벤트
		 * - 나눔 글을 수정합니다.
		 *
		function sharingEdit(ntsharingDVO) {
			
			var params = {};
			params.editDivCd = "U";
			params.cmntyNo = ntsharingDVO.cmntyNo;
			
			com.movePagePost("/nt/sharingEdit",params);
		}
		
		/**
		 * 삭제하기 버튼
		 * - 나눔 글을 삭제합니다.
		 *
		function removeSharing(ntSharingDVO) {
			
			var params = {};
			params.cmntyNo = ntSharingDVO.cmntyNo;
			
			if(comfirm("삭제하시겠습니까?")) {
				com.loadAjaxPost("/nt/removeSharing", params, fn_sharingDeleteCallback);
			}
		} */
		
		/***************************
		** 콜백 메소드
		***************************/
		/**
	     * [삭제] 이벤트 콜백
		 * - 처리내용		     
	     * 1) 자유게시판 삭제 정상 :: 자유게시판 조회 화면으로 이동한다.
		 * 2) 자유게시판 삭제 실패 :: 안내문구 출력
		 */		
		function fn_sharingDeleteCallback(data) {
			if(data.resultCnt > 0){
				alert("정상적으로 삭제되었습니다.");
				location.href = "/nt/sharingList";
			} else {
				alert("삭제 중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
			}
		}
		
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
		
		<!-- header -->
		<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
		
		<div id="wrap">
			<div id="section_wrap">
	        	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
	            
				<section class="community_list_wrap">
	            	<div class="community_list_title" id="view_details">
	                    <p>커뮤니티</p>
	                    <h2>나눔</h2>
	                </div>
	                <div class="view_details_content">
						<form role="form" id="sharingForm" th:object=${returnSVO.ntSharingDVO}>
							<div class="view_details_content_title">
								<h2 th:text="*{title}"></h2>
								<p th:text="*{name}"></p>
							</div>
							<div  class="view_details_content_info">
								<div>
									<p>조회수 :</p><span th:text="*{viewCnt}"></span>
								</div>
							</div>
							<div class="view_details_Contents">
								<p th:utext="*{content}"></p>
							</div>
							<!-- Button -->
							<div class="view_details_content_btn_wrap">
								<div class="next_generation_info_delete_modifications">				
									<input type="button" id="modifyBtn" value="수정" class="Btn" />
									<input type="button" id="deleteBtn" value="삭제" class="Btn" />
									<input type="button" id="listBtn" value="목록" class="Btn" />
								</div>
							</div>
							
							<!-- Hidden -->
							<input type="hidden" id="title" name="title" th:value="*{title}">
							<input type="hidden" id="frsRegNo" name="frsRegNo" th:value="*{frsRegNo}">
							<input type="hidden" id="viewCnt" name="viewCnt" th:value="*{viewCnt}">
							<!-- <input type="hidden" id="frsRegDt" name="frsRegDt" th:value="*{frsRegDt}">
							<input type="hidden" id="lstMdfDt" name="lstMdfDt" th:value="*{lstMdfDt}"> -->
							<!-- <input type="hidden" id="likeCnt" name="likeCnt" th:value="*{likeCnt}"> -->
							<input type="hidden" id="content" name="content" th:value="*{content}">
							<input type="hidden" id="cmntyNo" name="cmntyNo" th:value="*{cmntyNo}" />
						</form>
					</div>
				</section>
			</div>
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
</body>
</html>