<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		$(document).ready(function(){
			
			/**
			 * [조회] 버튼 클릭 이벤트
			 * - 검색창에 입력한 내용으로 리스트를 조회한다.
			 */
 			$("#searchBtn").click(function(){
				var params = $("#searchForm").serializeObject();
				com.movePagePost("/nt/suggestList", params);
			});
			
			/**
			 * [등록] 버튼 클릭 이벤트
			 * - 건의사항을 등록하는 페이지로 이동한다.
			 */
 			$("#suggestEdit").click(function(){
				location.href="/nt/suggestEdit";
			});
		});
		
		/**
		 * [상세조회] 버튼 클릭 이벤트
		 * - 상담 상세조회 페이지로 이동한다.
		 */
		function suggestDetail(suggestDVO) {
			var params = {};
			params.cmntyNo = suggestDVO.cmntyNo;
			params.grpNo = suggestDVO.grpNo;
			
			com.movePagePost("/nt/suggestDetail", params);
		};
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<section class="community_list_wrap">
				
				<!-- title -->
				<div class="community_list_title">
	        		<p>커뮤니티</p>
	            	<h2>건의사항</h2>
				</div>
				
				<!-- Search -->
				<div id="search_wrap" class="community_search_wrap" th:object="${returnSVO.ntSuggestDVO}">
					<div class="community_search">
						<div class="search_wrap">
							<form id="searchForm"> 
								<table>
									<tbody>
										<tr>
											<td class="search_division">제목</td>
											<td class="search_inputbox">
												<input type="text" id="title" name="title" th:value="*{title}"/>
											</td>
											<td class="search_division">작성자</td>
											<td class="search_inputbox">
												<input type="name" id="name" name="name" th:value="*{name}"/>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
							<div class="search_btn">
								<input type="button" class="Btn" value="초기화" />
								<input type="button" id="searchBtn" class="Btn" value="조회" />
							</div>
						</div>
					</div>
				</div>
				
				<!-- List -->
				<div class="community_list_table_wrap">
					<table class="community_list_table"> 
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>등록일자</th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody>
							<tr th:onclick="suggestDetail([[ ${ntSuggestDVO} ]])" th:if="${not #lists.isEmpty(returnSVO.ntSuggestDVOList)}" th:each="ntSuggestDVO : ${returnSVO.ntSuggestDVOList}">
								<td th:text="${ntSuggestDVOStat.index + 1}"></td>
								<td th:text="${ntSuggestDVO.title}"></td>
								<td th:text="${ntSuggestDVO.name}"></td>
								<td th:text="${#temporals.format(ntSuggestDVO.lstMdfDt, 'yyyy-MM-dd')}"></td>
								<td th:text="${ntSuggestDVO.viewCnt}"></td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(returnSVO.ntSuggestDVOList)}">
								<td colspan="6">조회된 결과가 없습니다.</td>
							</tr>
						</tbody>
					</table>
					<input type="button" id="suggestEdit" class="Btn" value="등록" />
				</div>
			</section>
			
			<!-- Pagination -->
			<div class="worship_video_list_nav">	
				<div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
			</div>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>