<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		$(document).ready(function(){
			
			/**
			 * [파일선택] 버튼 클릭 이벤트
			 * - 선택한 이미지를 미리보기 한다.
			 */
			$("#uploadFile").on("change", function(e){
				fn_previewImage(e.target);
			});
			
			/**
			 * [저장] 버튼 클릭 이벤트
			 * - 변경된 이미지를 저장한다.
			 */
			$("#saveBtn").on("click", function(e){
				fn_saveSelahInfo();
			});
		});

		/**
         * 업로드 이미지 미리보기 함수
		 */
		function fn_previewImage(uploadFile) {
		    if (uploadFile.files && uploadFile.files[0]) {
		    	
		    	//TODO 이미지 파일인지 검증
// 		    	$("#uploadFile").val("");
// 		    	return;	
		    	
		    	// FileReader 생성
		    	var reader = new FileReader();

		    	// 미리보기 img src 변경
		        reader.onload = e => {
		        	$("#previewImage").attr("src", e.target.result);
		        };
		        
		        // FileReader 이미지 로드
		        reader.readAsDataURL(uploadFile.files[0]);
		    }
		};
		
		/**
         * 셀라소개 정보 저장 함수
		 */
		function fn_saveSelahInfo() {
			// 이미지 업로드 파일
			var uploadFile = document.getElementById("uploadFile");
			
			if (uploadFile.files && uploadFile.files[0]) {
				
		    	//TODO 이미지 파일인지 검증
// 		    	$("#uploadFile").val("");
// 		    	return;	

				//TODO 파일사이즈 체크 (3M)
				
				var params = new FormData($('#fileForm')[0]);
				com.fileUploadAjaxPost("/ps/saveSelahInfo", params, fn_saveSelahInfoCallback);
			} else {
				alert("변경할 이미지를 선택해주세요.");
			}
		};
		
		/**
         * 셀라소개 정보 저장 콜백 함수
		 */
		function fn_saveSelahInfoCallback(data) {
			if (data.fileNo > 0) {
				alert("정상적으로 저장되었습니다.");
				location.href = "/ps/selah";
			} else {
				alert("저장중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");		
			}
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<section class="groupIntroduction_wrap">
                <div class="groupIntroduction_title">
                    <p>셀라</p>
                    <h2>기존이미지</h2>
                </div>
                <div class="groupIntroduction_content">
                    <div class="groupIntroduction_content_img" th:object="${returnSVO.psIntroDVO}">
                    	<div id="main_image_wrap">
	                        <img th:if="*{fileNo == 0}" src="/images/slyouth/main_visual_img.jpg" alt="셀라 단체사진" />
	                        <img th:unless="*{fileNo == 0}" th:src="@{/cm/viewImage/{no}(no=*{fileNo})}" alt="셀라 단체사진" />
                    	</div>
                    </div>
               	</div>
               	<div class="groupIntroduction_title">
                    <h2>변경이미지</h2>
                </div>
 				<div class="groupIntroduction_content">
                    <div class="groupIntroduction_content_img">
                    	<div id="preview_imgage_wrap">
                    		<img id="previewImage" src="/images/slyouth/main_visual_img.jpg" alt="미리보기" />
                    	</div>
                    </div>
                    
                    <!-- fileForm -->
                    <form id="fileForm">
                    	<!-- Btn -->
                    	<input type="file" id="uploadFile" name="uploadFile" />
                        <input type="button" id="saveBtn" class="Btn" value="저장" />
                    	
                    	<!-- Hidden -->
                    	<input type="hidden" id="introDivCd" name="introDivCd" th:value="${returnSVO.PsIntroDVO.introDivCd}" />
                    	
                        <!-- File -->
						<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${returnSVO.PsIntroDVO.tmpFileId}" />
						<input type="hidden" id="refNo" name="refNo" th:value="${returnSVO.PsIntroDVO.introNo}" />
						<input type="hidden" id="refDivCd" name="refDivCd" th:value="${returnSVO.PsIntroDVO.introDivCd}" />
						<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
                    </form>
               	</div>
            </section>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>