<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header"></th:block>
</head>
<body>
<!-- asideMenu -->
<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
    <div id="wrap">
    
    	<!-- header -->
    	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
    	
    	 <!-- 메인소개부분 -->
        <div id="section_wrap">
        
            	<!-- 헤더 및 공통으로 들어갈 메인비주얼 주의사항 : section class="worship_visual" 안에다가 넣어야 합니다. -->
        		<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
        		
        </div>
        
		<!-- 영상 부분 -->
		<th:block th:replace="fragments/cm/video/videoLookUp :: fragment-commonVideoLookUp" />
		<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
	 </div>
</body>
</html>