<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		function moveInfoEdit(){
			location.href = "/mi/worshipInfoEdit";
		}
	
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
	
	<div id="section_wrap">
       	<section class="groupIntroduction_wrap">
                <div class="groupIntroduction_title">
                    <p>공동체</p>
                    <h2>예배안내</h2>
                </div>
                <div class="groupIntroduction_explanation" id="WorshipGuideInformation_wrap">
                    <ul class="clearfix">
                        <li class="WorshipGuideInformation">
                            <div class="groupIntroduction_explanation_icon" id="WorshipGuideInformation1"></div>
                            <div class="groupIntroduction_explanation_text">
                                <h4>예배시간</h4>
                                <p>매주 주일 오후 2시</p>
                            </div>
                        </li>
                        <li class="WorshipGuideInformation">
                            <div class="groupIntroduction_explanation_icon" id="WorshipGuideInformation2"></div>
                            <div class="groupIntroduction_explanation_text">
                                <h4>예배장소</h4>
                                <p>양우로데오렌드 A동 4층<br/>
                                    (승리교회 비전센터 푸른초장)</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="WorshipGuideInformation_img" th:object="${returnSVO.MiIntroDVO}"><!-- 여기가 에디터 영역 -->
                    <div class="WorshipGuideInformation_text_btn">
                    	<p th:utext="*{content}"></p>
                        <input type="button" class="Btn" value="수정" th:onclick="moveInfoEdit()">
                    </div>
                </div>
                
            </section>
		<!-- footer -->
		<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
	</div>
</body>
</html>