<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/css/kakao/map.css}" rel="stylesheet" />
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3cb1a415de48b19d5523a70446efb1d5"></script>
		<th:block th:replace="fragments/cm/header :: fragment-header" ></th:block>
	</head>
	<body>
		<!-- asideMenu -->
		<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
		<!-- asideMenu -->
		
		<div id="wrap">
			<!-- header -->
	    	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	    	<!-- header -->

            <!-- worshipVisual -->
			<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			<!-- worshipVisual -->
			
			<!-- location -->
			<section class="introduction_to_church_wrap">
                <div class="introduction_to_church_title" id="introduction_to_church_title_center">
                    <p>교회소개</p>
                    <h2>오시는길</h2>
                </div>
                <div class="introduction_to_church_content">
                    <ul class="clearfix" id="directions_ul">
                        <li id="directions_img">
                            <img src="/images/slyouth/directions_img.png" alt="승리교회 오시는길">
                        </li>
                        <li id="directions_kakao">
                            <div id="directions_kakao_Area">
								<div th:replace="fragments/mi/kakaoLocation :: fragment-kakaoLocation"></div>
							</div>
                        </li>
                    </ul>
                </div>
            </section>

			<!-- location -->
			<script type="text/javascript" th:src="@{/js/kakao/map.js}"></script>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
            <!-- footer -->
		</div>
	</body>
</html>
