<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" ></th:block>
    <script type="text/javascript">
	    /**
	     * 수정하기 버튼
	     * - 메인 소개 정보를 수정합니다.
	     */
	    function moveIntroEdit() {
	       location.href = "/mi/mainEdit";
	    };
	    
	    /**
		 * 공지사항 리스트 상세내용
		 * - 공지사항 상세내용을 조회합니다.
		 */
		 function noticeDetail(cmntyNo){
			var params = {};
			params.cmntyNo = cmntyNo;
			
			com.movePagePost("/nt/noticeDetail", params);
			}
   </script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	<!-- asideMenu -->
    <div id="wrap">
    	<!-- header -->
    	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
    	<!-- header -->
    	
        <!-- 메인소개부분 -->
        <div id="section_wrap" th:object="${returnSVO.miIntroDVO}">
            <section id="main_visual">
               <div id="visual_titlebox">
                    <p th:text="*{title}"></p>
                    <h2 th:text="*{subject}"><br/></h2>
                    <span th:text="*{content}"></span>
                    <button id="main_visual_text" type="button" th:text="|수정|" th:onclick="moveIntroEdit()" class="Btn"></button>
                </div>
            </section>

            <section id="main_sermontoday">
                <div class="main_titlebox">
                    <span>SERMON TODAY</span>
                    <h2>승리교회 청년부<br/> 생명의 말씀</h2>
                    <h3>2021 SEUNGLEE YOUTH 예수로 사는 청년들</h3>
                    <p>우리는 이 세상의 가치와 문화, 지식과 번영에서 존재의 이유를 찾는 사람이 아니라 오직 예수 그리스도의 십자가 안에서 회복하신 존재와 가치를 발견하고, 꿈과 비전을 재설정 하며, 믿음의 공동체로 하나 되게 하신 예수 그리스도를 자랑하며 캠퍼스와 직장, 그리고 가정에서 충만한 하나님의 생명으로 살아가는 사람들이다.</p>
                    <div class="golink_btn">
                        <a href="/ws/sunWorship/SYW">유튜브 페이지로 이동</a>
                    </div>
                </div>
            </section>

            <section id="main_church">
                <div class="main_titlebox">
                    <span>CHURCH</span>
                    <h2>승리교회 청년부를 소개합니다</h2>
                    <h3>“회복하시는 아버지 품으로”</h3>
                    <p>1. 복음의 능력으로 구원의 감격을 회복하라<br/>
                        2. 주님의 제자된 리더십을 회복하라<br/>
                    3. 기쁨의 공동체로 하나됨을 회복하라<br/>
                    4. 마지막 때의 선교 비전을 회복하라</p>
                </div>

                <div id="church_contents">
                    <ul class="clearfix">
                        <li>
                            <a href="/mi/worshipInfo">
                                <div class="church_contents_img"></div>
                                <div class="church_contents_textinner">
                                    <div class="church_contents_textbox church_contents_13">
                                        <h3>예배 안내</h3>
                                        <p>은혜롭고 경건한 예배<br/>
                                            시간을 소개합니다.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/mi/location">
                                <div class="church_contents_icon"></div>
                                <div class="church_contents_textbox church_contents_24">
                                    <h3>오시는 길</h3>
                                    <p>승리교회 청년부로 내딛는<br/>
                                        모든 길을 안내합니다.</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="church_contents_img"></div>
                                <div class="church_contents_textinner">
                                    <div class="church_contents_textbox church_contents_13">
                                        <h3>새가족 안내</h3>
                                        <p>처음 교회에 오신<br/>
                                            모든 분들을 환영합니다.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.gosl.net" target="_blank">
                                <div class="church_contents_icon"></div>
                                <div class="church_contents_textbox church_contents_24">
                                    <h3>승리교회 홈페이지</h3>
                                    <p>승리교회 본당 홈페이지로<br/>
                                    안내합니다.</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="main_community">
                <div class="main_titlebox">
                    <span>COMMUNITY</span>
                    <h2>승리교회 청년부 소식과 나눔</h2>
                </div>

                <div id="community_contents">
                    <ul>
                        <li th:each="ntNoticeListDVO : ${returnSVO.ntList}">
                            <div class="community_day">
                                <a href="#">
                                    <span th:text="${#temporals.format(ntNoticeListDVO.frsRegDt,'dd')}"></span>
                                    <span th:text="${#temporals.format(ntNoticeListDVO.frsRegDt,'yyyy.MM')}"></span>
                                </a>
                            </div>
                            <div class="community_text">
                                <p th:utext="${ntNoticeListDVO.title}"></p>
                                <p th:utext="${ntNoticeListDVO.content}"></p>
                            </div>
                            <div class="community_golink">
                                <button th:onclick="noticeDetail([[ ${ntNoticeListDVO.cmntyNo} ]]);">
                                    <span></span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="golink_btn">
                    <a href="/nt/noticeList">VIEW MORE</a>
                </div>
            </section>
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
            <!-- footer -->
        </div>
    </div>
</body>
</html>