<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/cm/header :: fragment-header" />
		<script>
			$(document).ready(function(){
				$("#greetingEdit").click(function(){
					location.href = "/mi/greetingEdit";
				});	
			});
		</script>
	</head>
	<body>
		<!-- asideMenu -->
		<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
		<!-- asideMenu -->
		
		<div id="wrap">
			<!-- header -->
	    	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	    	<!-- header -->

			<!-- worshipVisual -->
			<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			<!-- worshipVisual -->
			
			<!-- greetingView -->
			<section class="introduction_to_church_wrap">
                <div class="introduction_to_church_title">
                    <p>교회소개</p>
                    <h2>인사말</h2>
                </div>
                <div class="introduction_to_church_content">
                    <ul class="clearfix" id="introduction_to_church_ul">
                    <li id="greeting_img_reactive">
                            <img src="/images/slyouth/greeting_img.jpg" alt="박규성 담임목사">
                        </li>
                        <li id="greeting_text">
                            <h2 th:text="${returnSVO.MiIntroDVO.subject}"></h2>
                            <p th:utext="${returnSVO.MiIntroDVO.content}"></p>
                            <input type="button" id="greetingEdit" class="Btn" th:value="|수정|">
                        </li>
                        <li id="greeting_img">
                            <img src="/images/slyouth/greeting_img.jpg" alt="박규성 담임목사">
                        </li>
                    </ul>
                </div>
            </section>
			<!-- greetingView -->

			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
            <!-- footer -->
		</div>
	</body>
</html>