<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/cm/header :: fragment-header" />
		<script>
			$(document).ready(function(){
				
			});
		</script>		
	</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- headerMenu -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>

	<div id="wrap">
		<div id="section_wrap">
		
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- youthLeader -->            
            <section class="thoseWhoServe_wrap" id="thoseWhoServe_wrap_point">
                <div class="thoseWhoServe_title">
                    <p>공동체소개</p>
                    <h2>청년부임원</h2>
                </div>
                <div class="thoseWhoServe_Executive">
                    <div class="thoseWhoServe_pastor_title">
                        <span></span>
                        <h2>임원단</h2>
                    </div>
                    <ul class="clearfix">
                        <li>
                            <div class="thoseWhoServe_Executive_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_1.jpeg" alt="권병록">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>권병록</span> 회장</p>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_Executive_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_2.jpeg" alt="윤민호 형제">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>윤민호</span> 부회장</p>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_Executive_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_3.jpeg" alt="최주영 자매">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>최주영</span> 총무</p>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_Executive_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_4.jpeg" alt="신지현 자매">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>신지현</span> 서기</p>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_Executive_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_5.jpeg" alt="송근영 형제">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>송근영</span> 회계</p>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_Executive_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_6.jpeg" alt="유기원 형제">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>유기원</span> 예배부장</p>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_Executive_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_7.jpeg" alt="부예은 자매">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>부예은</span> <br/>
                                    양육부장(윗마을)</p>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_Executive_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_2.jpeg" alt="김예림 자매">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>김예림</span> <br/>
                                    양육부장(아랫마을)</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

			<!-- Footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>