<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		$(document).ready(function() {
			
			// 초기화면 구성
			fn_defineForm();
			
			// [저장] 버튼 클릭 이벤트
			$("#wsInfoSave").click(function() {
				var params = $("#worshipInfoForm").serializeObject();
		
				var saveConfirm = confirm("수정하시겠습니까?");
				if (saveConfirm) {
					com.loadAjaxPost("/mi/worshipInfoSave", params, fn_worshipInfoSaveCallback);
				}
			});	
			
			// [취소] 버튼 클릭 이벤트
			$("#wsInfoCancel").click(function() {
				location.href = "/mi/worshipInfo";
			});
			
		});

		/**
         * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 썸머노트 구성
			com.summernoteInit();
		};
		
		/**
		 * [저장] 버튼 클릭 콜백 함수
		 * - 처리내용
		 * 1) 예배정보 수정 정상 :: 예배정보 조회 화면으로 이동한다.
		 * 2) 예배정보 수정 실패 :: 안내문구 출력
		 */
		function fn_worshipInfoSaveCallback(data) {
			if (data.resultCnt > 0) {
				alert("정상적으로 저장되었습니다.");
				location.href = "/mi/worshipInfo";
			} else {
				alert("저장 중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
			}
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
		
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- worshipInfo -->
			<section class="introduction_to_church_wrap">
	        	<div class="introduction_to_church_title">
	            	<p>교회소개</p>
	                <h2>예배안내</h2>
	            </div>
	           	<form id="worshipInfoForm" th:object="${returnSVO.MiIntroDVO}">
					<textarea id="summernote" name="content">[[${returnSVO.MiIntroDVO.content}]]</textarea>
	
					<!-- Hidden -->
					<input type="hidden" id="introDivCd" name="introDivCd" th:value="*{introDivCd}" />
					
					<!-- File -->
					<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${returnSVO.MiIntroDVO.tmpFileId}" />
					<input type="hidden" id="fileNo" name="fileNo" th:value="${returnSVO.MiIntroDVO.introNo}" />
					<input type="hidden" id="fileDivCd" name="fileDivCd" th:value="${returnSVO.MiIntroDVO.introDivCd}" />
					<input type="hidden" id="fileTbKey" name="fileTbKey" th:value="${slyouthTbKey}" />
				</form>
				
				<!-- Button -->
				<input type="button" id="wsInfoSave" class="Btn" value="저장">
				<input type="button" id="wsInfoCancel" class="Btn" value="취소">
			</section>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>