<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/cm/header :: fragment-header" />
		<script type="text/javascript">
			$(document).ready(function(){
				
				// 초기화면 구성
				fn_defineForm();
				
				$("#greetingSave").click(function(){
					var subject = $("#subject").val();
					var content = $("#summernote").val();
					var form = $("#greetingForm").serializeObject();

					if(subject == "" || subject == null){
						alert("주제를 입력하세요.");
						return;
					}
					
					if(content == "" || content == null){
						alert("내용을 입력하세요.");
						return;
					}

					var greetingConfirm = confirm("저장하시겠습니까?");
					if(greetingConfirm){
						com.loadAjaxPost("/mi/greetingSave", form, fn_greetingSaveCallback);
					}
				});
				
				$("#greetingCancel").click(function(){
					location.href = "/mi/greeting";
				});
				
				// summernote.keyup
				$('#summernote').on('summernote.keyup', function() {
					
				});
			});
			
			/**
			 * [저장] 버튼 클릭 콜백 함수
			 * - 처리내용
			 * 1) 인사말 수정 정상 :: 인사말 조회 화면으로 이동한다.
			 * 2) 인사말 수정 실패 :: 안내문구 출력
			 */
			function fn_greetingSaveCallback(data){
				
				// 저장이 되면 저장된 행의 갯수 반환
				if(data.resultCnt > 0){
					alert("정상적으로 저장되었습니다.");
					location.href = "/mi/greeting";
				}else {
					alert("저장 중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
				}
			}
			
			/**
			 * 초기화면 구성 함수
			 * - 페이지 로드 시 초기화면을 구성한다.
			 */
			function fn_defineForm(){
				
				// 썸머노트 구성
				com.summernoteInit();
			}
		</script>
	</head>
	<body>
		<!-- asideMenu -->
		<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
		
		<!-- header -->
		<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
		
		<div id="wrap">
			<div id="section_wrap">
				<!-- Worship Visual -->
				<section class="worship_visual">
	            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
				</section>
				
				<!-- Intro -->
				<section class="writingArea_wrap">
				
					<!-- Title -->
	                <div class="writingArea_title">
	                    <p>교회소개</p>
	        			<h2>인사말 수정</h2>
	                </div>	
	                
	                <form id="greetingForm" th:object="${returnSVO.MiIntroDVO}">
						<div class="writingArea_titleAndWriter">
							<input type="text" id="subject" name="subject" th:value="${returnSVO.MiIntroDVO.subject}" placeholder="주제를 입력하세요">
						</div>
						<div>
							<textarea id="summernote" name="content" placeholder="내용을 입력하세요">[[${returnSVO.MiIntroDVO.content}]]</textarea>
						</div>
						<div class="greetingFormBtn">
							<div class="greetingFormBtninner">
								<input type="hidden" id="introDivCd" name="introDivCd" th:value="${returnSVO.MiIntroDVO.introDivCd}">
								<input type="button" id="greetingSave" class="Btn" value="저장" />
								<input type="button" id="greetingCancel" class="Btn" value="취소" />
							</div>
						</div>
					</form>
	            </section>
				
				<!-- footer -->
				<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
			</div>
		</div>		
	</body>
</html>