<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/cm/header :: fragment-header" />
		<script>
			$(document).ready(function(){
				
			});
		</script>		
	</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- headerMenu -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>

	<div id="wrap">
		<div id="section_wrap">
		
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
            
            <!-- serveGroup -->
            <section class="thoseWhoServe_wrap">
                <div class="thoseWhoServe_title">
                    <p>공동체소개</p>
                    <h2>섬기는사람들</h2>
                </div>
                <div class="thoseWhoServe_pastorInCharge">
                    <ul class="clearfix">
                        <li>
                            <div class="thoseWhoServe_pastorInCharge_img">
                                <img src="/images/slyouth/thoseWhoServe_pastorInCharge_img_1.png" alt="진희근 원로목사">
                            </div>
                            <div class="thoseWhoServe_pastorInCharge_text">
                                <p><span>진희근</span> 원로목사</p>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_pastorInCharge_img">
                                <img src="/images/slyouth/thoseWhoServe_pastorInCharge_img_2.png" alt="박규성 담임목사">
                            </div>
                            <div class="thoseWhoServe_pastorInCharge_text">
                                <p><span>박규성</span> 담임목사</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="thoseWhoServe_pastor">
                    <div class="thoseWhoServe_pastor_title">
                        <span></span>
                        <h2>담당 교역자</h2>
                    </div>
                    <ul class="clearfix">
                        <li>
                            <div class="thoseWhoServe_pastor_inner">
                                <div class="thoseWhoServe_pastor_img">
                                    <img src="/images/slyouth/thoseWhoServe_Executive_1.jpeg" alt="현종필 목시">
                                </div>
                                <div class="thoseWhoServe_pastor_text">
                                    <p><span>현종필</span> 목사</p>
                                    <div class="thoseWhoServe_pastor_phone">
                                        <p class="thoseWhoServe_label">연락처</p>
                                        <p class="thoseWhoServe_labeltext">000-0000-0000</p>
                                    </div>
                                    <div class="thoseWhoServe_pastor_charge">
                                        <p class="thoseWhoServe_label">담당</p>
                                        <p class="thoseWhoServe_labeltext">청년부(말씀)</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_pastor_inner">
                                <div class="thoseWhoServe_pastor_img">
                                    <img src="/images/slyouth/thoseWhoServe_Executive_1.jpeg" alt="김홍래 전도사">
                                </div>
                                <div class="thoseWhoServe_pastor_text">
                                    <p><span>김홍래</span> 전도사</p>
                                    <div class="thoseWhoServe_pastor_phone">
                                        <p class="thoseWhoServe_label">연락처</p>
                                        <p class="thoseWhoServe_labeltext">000-0000-0000</p>
                                    </div>
                                    <div class="thoseWhoServe_pastor_charge">
                                        <p class="thoseWhoServe_label">담당</p>
                                        <p class="thoseWhoServe_labeltext">청년부(찬양)</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="thoseWhoServe_mentor">
                    <div class="thoseWhoServe_pastor_title">
                        <span></span>
                        <h2>담당 멘토</h2>
                    </div>
                    <ul class="clearfix">
                        <li>
                            <div class="thoseWhoServe_mentor_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_1.jpeg" alt="정무설 장로">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>정무설</span> 장로</p>
                                <div class="thoseWhoServe_mentor_charge">
                                    <p class="thoseWhoServe_label">담당</p>
                                    <p class="thoseWhoServe_labeltext">청년부 장로</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_mentor_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_1.jpeg" alt="지현석 부장">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>지현석</span> 집사</p>
                                <div class="thoseWhoServe_mentor_charge">
                                    <p class="thoseWhoServe_label">담당</p>
                                    <p class="thoseWhoServe_labeltext">청년부 부장</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thoseWhoServe_mentor_img">
                                <img src="/images/slyouth/thoseWhoServe_Executive_1.jpeg" alt="손덕주 차장">
                            </div>
                            <div class="thoseWhoServe_mentor_text">
                                <p><span>손덕주</span> 집사</p>
                                <div class="thoseWhoServe_mentor_charge">
                                    <p class="thoseWhoServe_label">담당</p>
                                    <p class="thoseWhoServe_labeltext">청년부 차장</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

			<!-- Footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>