<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="fragments/cm/header :: fragment-header" />
<script>
	$(document).ready(function() {
		$("#modify").click(function() {
			// 유효성 체크
			var form = $('#modifyForm').serializeObject();
			
			if (form.title == '') {
				alert("제목을 입력해주세요.");
				return;
			} else if (form.subject == '') {
				alert("주제를 입력해주세요.");
				return;
			} else if (form.content == '') {
				alert("내용을 입력해주세요.");
				return;
			}

			// Ajax(Post) 호출
			com.loadAjaxPost("/mi/introSave", form, function(res) {
				if (res.uCnt == 0) {
					alert("오류가 발생했습니다. 다시 시도해주세요.");
				} else {
					alert("정상적으로 수정되었습니다.");
					location.href = "/mi/main";
				}
			});
		});
	});
	
	/**
	 * 취소하기 버튼
	 * - 하던 작업을 취소하고 메인화면으로 돌아갑니다.
	 */
	function backBtn(mainPageUrl) {
		
		location.href = mainPageUrl;
	}
</script>
</head>
<body>
	<div>
        <div id="section_wrap" th:object="${returnSVO}">
           <section id="main_visual">
                  <div id="visual_titlebox">
                      <p th:text="*{title}" th:field="*{title}" th:value="*{title}"></p>
                      <h2 th:text="*{subject}" th:field="*{subject}" th:value="*{subject}"><br/></h2>
                      <span th:text="*{content}" th:field="*{content}" th:value="*{content}"></span>
                  </div>
                  <div id="visual_titlebox_modifiy">
                  <form id="modifyForm">
                      <input th:field="*{title}" th:value="*{title}" id="title" name="title">
                      <input th:field="*{subject}" th:value="*{subject}" id="subject" name="subject">
                      <input th:field="*{content}" th:value="*{content}" id="content" name="content"> 
                  </form>
                  <div class="next_generation_info_delete_modifications main_modifications" id="main_modifications_Btnwrap">
                          <button id="modify" class="Btn" th:text="|저장|" type="button" value="저장"></button>
                          <button id="delete" class="Btn" th:text="|취소|" type="button" value="취소" th:onclick="history.back()">삭제</button>
                      </div>
                  </div>
              </section>
           </div>
      </div>
</body>
</html>