<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
			 * [비밀번호변경] 버튼 클릭 이벤트
			 * - 비밀번호 변경화면으로 이동한다.
			 */
			$("#mypagePw").click(function(){
				location.href="/cm/mypagePw";
			});
		});
		
		/**
         * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
		};
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<section class="community_list_wrap">
    			<div class="community_list_title" id="view_details">
					<h2>마이페이지</h2>
        		</div>
				
				<div>
					<span th:text="|기수 : ${returnSVO.cmMypageDVO.grade}|"></span>
				</div>
				<div>
					<span th:text="|이름 : ${returnSVO.cmMypageDVO.name}|"></span>
				</div>
				<div>
					<span th:text="|닉네임 : ${returnSVO.cmMypageDVO.nickname}|"></span>
				</div>
				<div>
					<span th:text="|핸드폰번호 : ${returnSVO.cmMypageDVO.mbTelNo}|"></span>
					<input type="button" id="" onclick="mbTelNoEdit" class="Btn" value="수정" />
					<div id="mbTelNoInfo" style="display : none">
						
					</div>  
				</div>
				<div>
					<span th:text="|이메일 : ${returnSVO.cmMypageDVO.email}|"></span>
				</div>
				
				<div class="view_details_content_btn_wrap">
					<div class="next_generation_info_delete_modifications">	
						<input type="button" id="" class="Btn" value="수정" />
						<input type="button" id="mypagePw" class="Btn" value="비밀번호변경" />
					</div>
				</div>
			</section>

			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>