<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
	
		/**
		 * 전역변수 선언
		 * - time, timer: 인증번호 유효시간 처리 변수
		 */
		var time, timer;
	
		$(document).ready(function(){
			
			/**
	         * [인증하기] 버튼 이벤트
			 * - 버튼 클릭 시 알림톡으로 인증번호를 제공합니다.
			 */
			$("#certBtn").click(function(){
				var params = $("#certForm").serializeObject();
				
				if (!fn_certValidation(params, "G")) {
					return;
				};
				
				// 인증번호 생성
				com.loadAjaxPost("/cm/authNoGen", params, fn_authNoGenCallback);
			});
			
			/**
	         * [인증확인] 버튼 이벤트
			 * - 버튼 클릭 시 입력받은 값을 비교하여 본인인증을 합니다.
			 */
			$("#certCheckBtn").click(function(){
				var params = $("#certForm").serializeObject();
				
				if (!fn_certValidation(params, "C")) {
					return;
				};
				
				com.loadAjaxPost("/cm/authNoCheck", params, fn_authNoCheckCallback);
			});
			
			/**
	         * [회원가입] 버튼 이벤트
			 * - 작성된 회원가입 정보를 저장합니다.
			 */
			$("#joinBtn").click(function(){
				var params = $("#joinForm").serializeObject();
				
				if (!fn_joinValidation(params)) {
					return;
				};
				
				com.loadAjaxPost("/cm/joinSave", params, fn_joinSaveCallback);
			});
			
			/**
	         * 비밀번호확인 이벤트 
			 * - 비밀번호를 재확인 합니다.
			 */
			$("#usrPwCheck").on("blur", function(){
				
				var usrPw = $("#usrPw").val();
				var usrPwCheck = $("#usrPwCheck").val();
				var checkMsg;
				
				if (usrPw == usrPwCheck) {
					checkMsg = "비밀번호가 일치합니다.";
				} else {
					checkMsg = "비밀번호가 일치하지 않습니다.";
				}
				
				$("#checkPwTxt").text(checkMsg);
			});
		});
		
		/**
		 * 본인인증 유효성 검증
		 * - params	 : 본인인증 기본 입력정보
		 * - certDiv : 검증구분(G: 인증하기, C: 인증확인) 
		 */
		function fn_certValidation(params, certDiv) {
			
			// 이름			
			if (params.certName == null || params.certName == "") {
				$("#certName").focus();
				alert("이름을 입력해주세요.");
				return false;
			};
			
			// 생년월일
			if (params.certBirth == null || params.certBirth == "") {
				$("#certBirth").focus();
				alert("생년월일을 입력해주세요.(ex.20001101)");
				return false;
			};
			
			// 핸드폰번호
			if (params.certPhone == null || params.certPhone == "") {
				$("#certPhone").focus();
				alert("핸드폰번호를 입력해주세요.(ex.01000000000)");
				return false;
			};
			
			// 검증구분이 인증확인(C)인 경우에만 입력 본인인증번호 체크
			if (certDiv == "C") {
				if (params.certNo == null || params.certNo == "") {
					$("#certNo").focus();
					alert("인증번호 6자리를 입력해주세요.(ex.123456)");
					return false;
				};
			}
			
			return true;
		};

		/**
		 * 회원가입 유효성 검증
		 * - params	 : 회원가입 기본 입력정보
		 */
		function fn_joinValidation(params) {
			
			// 아이디			
			if (params.usrId == null || params.usrId == "") {
				$("#usrId").focus();
				alert("아이디를 입력해주세요.");
				return false;
			};
			
			// 닉네임
			if (params.nickname == null || params.nickname == "") {
				$("#nickname").focus();
				alert("닉네임을 입력해주세요.");
				return false;
			};
			
			// 비밀번호
			if (params.usrPw == null || params.usrPw == "") {
				$("#usrPw").focus();
				alert("비밀번호를 입력해주세요.");
				return false;
			};

			// 비밀번호확인
			if (params.usrPwCheck == null || params.usrPwCheck == "") {
				$("#usrPwCheck").focus();
				alert("비밀번호 확인을 입력해주세요.");
				return false;
			};

			// 비밀번호체크
			if (!(params.usrPw == params.usrPwCheck)) {
				$("#usrPw").focus();
				alert("비밀번호를 확인해주세요.");
				return false;
			}
			
			return true;
		};
		
		/**
		 * [인증번호] 입력 유효시간 초기화
		 */
		function fn_timerInit() {
			time = 300;
			fn_timer();
		}

		/**
		 * [인증번호] 유효시간 처리 함수
		 */
		function fn_timer() {
			
			// 1초마다 반복 호출 (time값을 1씩 감소)
			timer = setTimeout(fn_timer, 1000);
			
			if (time == 0) {
				alert("유효시간이 만료되었습니다. 인증하기를 다시 눌러주세요!");
				clearTimeout(timer);
				$("#certAuth").hide();
				return;
			}
			
			time -= 1;
			var minute = parseInt(time / 60);
			var second = time - (minute * 60);
			
			// 화면에 인증 유효시간 표시
			$("#validateTime").html(minute + "분 " + second + "초");
		};
		
		/***************************
		 ** 콜백 메소드
		 ***************************/
		/**
	     * [인증하기] 이벤트 콜백
		 * - 교적에 존재하는 경우에만 인증하기 로직을 진행한다.
		 */		 
		function fn_authNoGenCallback(data) {
			
			if (data == '') {
				alert("교인으로 등록되지 않았습니다. 교역자에게 문의해주세요.");
				return;
			} else {
				
				// 가입된 아이디가 있는 경우
				if (data.usrId != null && data.usrId != '') {
					alert("이미 가입한 회원입니다.");
					return;
				}
				
				// 인증번호가 정상적으로 생성된 경우
				if (data.authNoCnt > 0) {
					alert("제한시간 안에 인증번호를 입력해주세요!");
					
					// 인증번호 초기화
					fn_timerInit();
					
					// 인증 폼 show
					$("#certAuth").show();
				} else {
					alert("인증번호 생성에 실패했습니다.");
					return;
				}
			}
		};	 
		
		/**
         * [인증확인] 이벤트 콜백
		 * - 회원가입 입력 폼을 표시한다.
		 */
		function fn_authNoCheckCallback(data) {
			
			if (data.isAuthPass) {
				alert("인증이 되었습니다.");
				clearTimeout(timer);
				
				// 회원가입 폼 구성
				$("#certAuth").hide();
				$("#joinInfo").show();

				// 회원가입 정보
				$("#chrNo").val(data.chrNo);
				$("#posDivCd").val(data.posDivCd);
			} else {
				alert("인증번호가 일치하지 않습니다.");
				return;
			}
		};
		
		/**
         * [회원가입] 저장 이벤트 콜백
		 * - 회원가입이 정상적으로 처리된 경우 로그인 페이지로 이동한다.
		 */
		function fn_joinSaveCallback(isJoinPass) {
			if (isJoinPass) {
				alert("정상적으로 회원가입 되었습니다.");
				location.href="/cm/login";
			} else {
				alert("에러가 발생했습니다. 다시 시도해주시기 바랍니다.");
				return;
			}
		};
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
		
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<section class="community_list_wrap">
				<div class="community_list_title" id="view_details">
	        		<p>사용자</p>
	        		<h2>회원가입</h2>
				</div>
				
				<!-- Agree Info -->
				<div id="search_wrap" class="community_search_wrap">
					<div class="community_search">
						<div class="search_wrap">
							<form id="certForm"> 
								<table>
									<tbody>
										<tr>
											<td class="search_division">이름</td>
											<td class="search_inputbox">
												<input type="text" name="certName" id="certName" />
											</td>
											<td class="search_division">생년월일</td>
											<td class="search_inputbox">
												<input type="text" name="certBirth" id="certBirth" />
											</td>
											<td class="search_division">핸드폰</td>
											<td class="search_inputbox">
												<input type="tel" name="certPhone" id="certPhone" />
											</td>
											<td class="search_inputbox">
												<input type="button" id="certBtn" value="인증하기" />
											</td>
										</tr>
										<tr id="certAuth" style="display: none">
											<td class="search_division" colspan="5" style="text-align:right">
												인증번호를 입력하세요. <div>유효시간 : <span id="validateTime"></span></div>
											</td>
											<td class="search_inputbox">
												<input type="text" id="certNo" name="certNo" />
											</td>
											<td class="search_inputbox">
												<input type="button" id="certCheckBtn" value="인증확인" />
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
				
				<!-- Join Info -->
				<div id="joinInfo" style="display: none">
					<div id="search_wrap" class="community_search_wrap">
						<div class="community_search">
							<div class="search_wrap">
								<form id="joinForm"> 
									<table>
										<tbody>
											<tr>
												<td class="search_division">아이디</td>
												<td class="search_inputbox">
													<input type="text" id="usrId" name="usrId" />
												</td>
												<td class="search_division">닉네임</td>
												<td class="search_inputbox">
													<input type="text" id="nickname" name="nickname" />
												</td>
											</tr>
											<tr>
												<td class="search_division">비밀번호</td>
												<td class="search_inputbox">
													<input type="password" id="usrPw" name="usrPw" />
												</td>
												<td class="search_division">비밀번호확인</td>
												<td class="search_inputbox">
													<input type="password" id="usrPwCheck" name="usrPwCheck" />
													<span id="checkPwTxt"></span>
												</td>
											</tr>
										</tbody>
										
									</table>

									<!-- Hidden -->
									<input type="hidden" id="chrNo" name="chrNo" />
									<input type="hidden" id="posDivCd" name="posDivCd" />
								</form>
								<div class="search_btn">
									<input type="button" id="joinBtn" class="Btn" value="회원가입" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>