<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		$(document).ready(function(){
			
		   /**
	        * 로그인 버튼 이벤트
			* - 로그인을 진행합니다.
			*/
			$("#loginBtn").click(function(){
				fn_login();
			});
			
		   /**
	        * 회원가입 버튼 이벤트
			* - 회원가입 페이지로 이동합니다.
			*/
			$("#joinBtn").click(function(){
				location.href="/cm/join";
			});
			
		   /**
	        * 아이디/비밀번호찾기 버튼 이벤트
			* - 비밀번호 찾기 페이지로 이동합니다.
			*/
			$("#accountFindBtn").click(function(){
				location.href="/cm/findUserInfo";
			});
			
			/**
			 * 로그인 폼 엔터 이벤트
			 * - 로그인 폼에서 엔터 클릭 시 로그인을 진행한다.
			 */
			$("#loginForm").keydown(function(e){
				if(e.keyCode == 13){
					fn_login();
				}
			})
				
		});

	   /**
		* [로그인] 처리 메소드
		* - 로그인을 진행합니다.
		*/
		function fn_login() {
			var params = $("#loginForm").serializeObject();
			
			if (!fn_loginValidation(params)) {
				return;
			};
			
			com.movePagePost("/loginProc", params, fn_loginCallback);
		}
		
		/**
		 * [로그인] 유효성 체크 함수
		 */
		function fn_loginValidation(params) {
			
			// 아이디				
			if (params.usrId == null || params.usrId == "") {	
				alert("아이디를 입력해주세요.");
				return false;
			};
			
			// 비밀번호
			if (params.usrPw == null || params.usrPw == "") {	
				alert("패스워드를 입력해주세요.");
				return false;
			}
			
			return true;
		};
		
		/***************************
		 ** 콜백 메소드
		 ***************************/		
		/**
		 * 로그인 콜백 메소드
		 */
		function fn_loginCallback(data) {
			if ( data.cmLoginDVO != null && data.cmLoginDVO != undefined && data.cmLoginDVO != "" ) {
				alert(data.cmLoginDVO.usrNm + "님 환영합니다!");
				location.href = "/";
			} else {
				alert(data.errMsg);
				return;
			}
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
		
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<section class="community_list_wrap">
				<div class="community_list_title" id="view_details">
	        		<p>사용자</p>
	        		<h2>로그인</h2>
				</div>
				<!-- Login -->
				<div id="search_wrap" class="community_search_wrap">
					<div class="community_search">
						<div class="search_wrap">
							<form id="loginForm"> 
								<table>
									<tbody>
										<tr th:if="${loginFailMsg != null}">
											<td colspan="2"><span style="color:red" th:text="${loginFailMsg}"></span></td>
										</tr>
										<tr>
											<td class="search_division">아이디</td>
											<td class="search_inputbox">
												<input type="text" name="usrId" id="usrId" th:value="${usrId}" />
											</td>
										</tr>
										<tr>
											<td class="search_division">비밀번호</td>
											<td class="search_inputbox">
												<input type="password" name="usrPw" id="usrPw" th:value="${usrPw}" />
											</td>
										</tr>
									</tbody>
								</table>
							</form>
							
							<div class="search_btn">
								<input type="button" id="loginBtn" class="Btn" value="로그인" />
								<input type="button" id="joinBtn" class="Btn" value="회원가입" />
								<input type="button" id="accountFindBtn" class="Btn" value="계정찾기" />
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>