<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
	
		// 시간변수
		var time;
		// 타이머 변수
		var timer
	
		$(document).ready(function(){
			
			/*********************************
			 * 아이디 찾기 관련 버튼 이벤트
			 *********************************/
			
			/**
	         * 아이디 인증하기 버튼 이벤트
			 * - 버튼 클릭 시 알림톡으로 인증번호를 제공합니다.
			 */
			$("#certIdBtn").click(function(){
				
				var params = $("#certIdForm").serializeObject();
				
				// 유효성
				if(params.certName == ""){
					$("#certIdName").focus();
					alert("이름을 입력해주세요");
					return;
				}
				if(params.certBirth == ""){
					$("#certIdBirth").focus();
					alert("생일을 입력해주세요(ex.20001101)");
					return;
				}
				if(params.certPhone == ""){
					$("#certIdPhone").focus();
					alert("핸드폰번호를 입력해주세요(ex.01000000000)");
					return;
				}
				
				// 본인인증 전에 교적에 있는지를 확인
				com.loadAjaxPost("/cm/joinCheckMember", params, fn_certIdBtnCheckMemberCallback);
			});
			
			/**
	         * 아이디 찾기 인증확인 버튼 이벤트
			 * - 버튼 클릭 시 입력받은 값을 비교하여 본인인증을 합니다.
			 */
			$("#certCheckIdBtn").click(function(){
				
				var params = $("#certIdForm").serializeObject();
				params.authChkNo = $("#certIdNum").val();
				
				// 인증번호 확인
				com.loadAjaxPost("/cm/joinAuthNoCheck", params, fn_certIdCheckBtnCallback);
			});
			
			
			/*********************************
			 * 비밀번호 찾기 관련 버튼 이벤트
			 *********************************/
			
			 /**
		      * 비밀번호 찾기 ID 확인 버튼
			  * - 존재하는 ID인지 확인합니다.
			  */
			$("#checkIdBtn").click(function(){
				
				var params = $("#idForm").serializeObject();
				
				if(params.usrId == ""){
					alert("Id를 입력해주세요!");
					return;
				}
				
				com.loadAjaxPost("/cm/checkId", params, fn_checkIdBtnCallback);
			});
			
			/**
	         * 비밀번호 찾기 인증하기 버튼 이벤트
			 * - 버튼 클릭 시 알림톡으로 인증번호를 제공합니다.
			 */
			$("#certPwBtn").click(function(){
				
				var params = $("#certPwForm").serializeObject();
				
				// 유효성
				if(params.certName == ""){
					$("#certPwName").focus();
					alert("이름을 입력해주세요");
					return;
				}
				if(params.certBirth == ""){
					$("#certPwBirth").focus();
					alert("생일을 입력해주세요(ex.20001101)");
					return;
				}
				if(params.certPhone == ""){
					$("#certPwPhone").focus();
					alert("핸드폰번호를 입력해주세요(ex.01000000000)");
					return;
				}
				
				// 본인인증 전에 교적에 있는지를 확인
				com.loadAjaxPost("/cm/joinCheckMember", params, fn_certPwBtnCheckMemberCallback);
			});
			 
			/**
	         * 비밀번호 찾기 인증확인 버튼 이벤트
			 * - 버튼 클릭 시 입력받은 값을 비교하여 본인인증을 합니다.
			 */
			$("#certCheckPwBtn").click(function(){
				
				var params = $("#certPwForm").serializeObject();
				params.authChkNo = $("#certPwNum").val();
				
				console.log($("#certIdNum").val());
				
				// 인증번호 확인
				com.loadAjaxPost("/cm/joinAuthNoCheck", params, fn_certPwCheckBtnCallback);
			});
			
			/**
	         * 저장 버튼 이벤트
			 * - 비밀번호를 변경합니다.
			 */
			$("#saveBtn").click(function(){
				
				var params = $("#passwordForm").serializeObject();
				
				if(params.usrPw == ""){
					alert("변경할 비밀번호를 입력해주세요!");
					return;
				}
				
				com.loadAjaxPost("/cm/changePassword", params, fn_saveBtnCallback);
			});
			
			/**
	         * 비밀번호확인 이벤트 
			 * - 비밀번호를 재확인 합니다.
			 */
			$(".usrPwCheck").keyup(function(){
				
				var pivotPw = $("#usrPw").val();
				var checkPw = $("#usrPwCheck").val();
				
				if ( pivotPw != checkPw ) {
					$("#checkPwTxt").text("비밀번호가 일치하지 않습니다.");
				} else {
					$("#checkPwTxt").text("비밀번호가 일치합니다.");
				}
			});
		});

		/**
	     * 타이머 함수
		 * - 인증번호 시간을 타이머로 표현합니다.
		 */
		function fn_timer(){
			// 1(1000ms)초마다 time 값을 1 감소시키고 페이지에 표기
			timer = setTimeout(fn_timer, 1000);
			if ( time == 0 ) {
				alert("유효시간이 만료되었습니다. 인증하기를 다시 눌러주세요!");
				clearTimeout(timer);
				$("#certAuth").hide();
				return;
			}
			time-=1;
			var minute = parseInt(time / 60);
			var second = time - (minute*60);
			$("#validateTime").html(minute + "분 " + second + "초");
		}
		
		
		/*********************************
	     * 아이디 찾기 버튼 콜백 메소드
		 *********************************/
		
		/**
	     * 아이디 찾기 인증번호 콜백
		 * - 아이디 찾기를 위해 교적에 등록된 지를 확인합니다.
		 */
		function fn_certIdBtnCheckMemberCallback(data){
			
			// 교적 데이터 유무에 따른 분기
			if ( data != "" ) {
				
				// 교적 id 출력
				$("#outputId").html(data.usrId);
				
				var params = $("#certIdForm").serializeObject();
				
				// 인증번호 생성
				com.loadAjaxPost("/cm/joinAuthNoGen", params, fn_certIdBtnCallback);
				
			} else {
				alert("교인으로 등록되지 않았습니다. 교역자에게 문의해주세요.");
				return;
			}
		}
		
		/**
	     * 아이디 찾기 인증하기 버튼 콜백
		 * - 아이디 찾기 시 인증번호 입력 div를 페이지에 보여줍니다.
		 */
		function fn_certIdBtnCallback(data){
			if ( data != 0 ){
				alert("제한시간 안에 인증번호를 입력해주세요!");
				time = 300;
				fn_timer();
				$("#certAuthId").show();	
			} else {
				alert("인증번호 생성에 실패했습니다.");
			}
		}
		
		/**
	     * 아이디 찾기 인증확인 버튼 콜백
		 * - 아이디 찾기 아이디 div 영역을 표기합니다.
		 */
		function fn_certIdCheckBtnCallback(data){
			// true면 인증번호 일치
			if ( data ) {
				alert("인증이 되었습니다.");
				clearTimeout(timer);
				$("#certAuthId").hide();
				$("#outputId").show();
			} else {
				alert("인증번호가 일치하기 않습니다.");
				return;
			}
		}
		
		
		/*********************************
	     * 비밀번호 찾기 버튼 콜백 메소드
		 *********************************/
		
		/**
	     * 비밀번호 찾기 Id 확인 버튼 콜백
		 * - 등록된 유저가 있는지를 확인 후 인증 div 영역을 보여줍니다.
		 */
		function fn_checkIdBtnCallback(data){
			
			// 유저번호가 존재하는 경우
			if ( data.usrNo != null && data.usrNo != "" && data.usrNo != undefined ) {
				$("#authPw_wrap").show();
			} else {
				alert("존재하지 않는 ID 입니다.");
				return;
			}
		}
		
		/**
	     * 비밀번호 찾기 인증번호 콜백
		 * - 비밀번호 찾기를 위해 교적에 등록된 유저인지 확인합니다.
		 */
		function fn_certPwBtnCheckMemberCallback(data){
			
			// 교적 데이터 유무에 따른 분기
			if ( data != "" ) {
				
				// 교적정보 설정
				$("#chrNo").val(data.chrNo);
				$("#usrRole").val(data.usrRole);
				
				var params = $("#certPwForm").serializeObject();
				
				// 인증번호 생성
				com.loadAjaxPost("/cm/joinAuthNoGen", params, fn_certPwBtnCallback);
				
			} else {
				alert("교인으로 등록되지 않았습니다. 교역자에게 문의해주세요.");
				return;
			}
		}
		
		/**
	     * 비밀번호 찾기 인증하기 버튼 콜백
		 * - 비밀번호 찾기 시 인증번호 입력 div를 페이지에 보여줍니다.
		 */
		function fn_certPwBtnCallback(data){
			if ( data != 0 ){
				alert("제한시간 안에 인증번호를 입력해주세요!");
				time = 300;
				fn_timer();
				$("#certAuthPw").show();	
			} else {
				alert("인증번호 생성에 실패했습니다.");
			}
		}
		
		/**
	     * 비밀번호 찾기 인증확인 버튼 콜백
		 * - 비밀번호 찾기 아이디 div 영역을 표기합니다.
		 */
		function fn_certPwCheckBtnCallback(data){
			// true면 인증번호 일치
			if ( data ) {
				alert("인증이 되었습니다.");
				clearTimeout(timer);
				$("#certAuthPw").hide();
				$("#passwordInfo").show();
			} else {
				alert("인증번호가 일치하기 않습니다.");
				return;
			}
		}
		
		/**
	     * 저장 버튼 콜백
		 * - 비밀번호 변경 저장 후 콜백입니다.
		 */
		function fn_saveBtnCallback(data){
			if ( data != 0 ) {
				alert("정상적으로 비밀번호가 변경되었습니다.");
				location.href="/cm/login";
			} else {
				alert("비밀번호 변경에 실패하였습니다.");
				return;
			}
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- Title -->
			<div id="title_wrap">
				<h2>아이디/비밀번호 찾기</h2><br>
			</div>
			
			<!-- Id Find -->
			<div id="findId_wrap">
				<h3>아이디 찾기</h3>
				
				<!-- Find Info Agree Text -->
				<div id="authId_wrap">
					<h4>인증하기</h4>
					<div id="certificationId">
						<div>
							<form id="certIdForm">
								이름 <input type="text" name="certName" id="certIdName">
								생년월일 <input type="text" name="certBirth" id="certIdBirth">
								핸드폰 <input type="tel" name="certPhone" id="certIdPhone">
								<input type="button" id="certIdBtn" value="인증하기"></input>
							</form>
						</div>
						<div id="certAuthId" style="display: none">
							인증번호를 입력하세요 <br>
							유효시간 : <p id="validateTime"></p>
							<input type="text" id="certIdNum">
							<input type="button" id="certCheckIdBtn" value="인증확인">
						</div>
					</div>
				</div>
				
				<div id="outputId" style="display: none"></div>
			</div>
			
			<br><br>
			
			<!-- Password Find -->
			<div id="findPassword_wrap">
				<h3>비밀번호 찾기</h3>
				
				<!-- Id Check -->
				<div>
					<form id="idForm">
						아이디를 입력하세요 : <input type="text" name="usrId">
						<input type="button" id="checkIdBtn" value="확인">
					</form>
				</div>
				
				<!-- Find Info Agree Text -->
				<div id="authPw_wrap" style="display: none">
					<h4>인증하기</h4>
					<div id="certificationPw">
						<div>
							<form id="certPwForm">
								이름 <input type="text" name="certName" id="certPwName">
								생년월일 <input type="text" name="certBirth" id="certPwBirth">
								핸드폰 <input type="tel" name="certPhone" id="certPwPhone">
								<input type="button" id="certPwBtn" value="인증하기"></input>
							</form>
						</div>
						<div id="certAuthPw" style="display: none">
							인증번호를 입력하세요 <br>
							유효시간 : <p id="validateTime"></p>
							<input type="text" id="certPwNum">
							<input type="button" id="certCheckPwBtn" value="인증확인">
						</div>
					</div>
				</div>
				
				<!-- Change Password Info -->
				<div id="passwordInfo" style="display: none">
					<form id="passwordForm">
						새 비밀번호 <input type="password" name="usrPw" id="usrPw" >
						새 비밀번호확인 <input type="password" name="usrPwCheck" id="usrPwCheck">
						<p id="checkPwTxt"></p>
						<input type="button" id="saveBtn" value="저장">
						
						<!-- Hidden -->
						<input type="hidden" name="chrNo" id="chrNo">
						<input type="hidden" name="usrRole" id="usrRole">
					</form>
				</div>
			</div>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>