<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" />
	<script type="text/javascript">
		$(document).ready(function(){
			
			/**
			 * [저장] 버튼 클릭 이벤트
			 * - 사용자가 입력한 비밀번호로 변경한다.
			 */
			$("#pwModify").click(function(e){
				var params = $("#passwordForm").serializeObject();
				
				if(!fn_passwordValidation(params)){
					e.preventDefault();
					return;
				}
				
				com.loadAjaxPost("/cm/mypagePwModify", params, fn_mypagePwModifyCallback);
			});
			
			/**
			 * [취소] 버튼 클릭 이벤트
			 * - 작업중인 내용을 취소하고 마이페이지 조회 화면으로 이동한다.
			 */
			$("#cancelModify").click(function(e){
				var params = $("#asideForm").serializeObject();
				com.movePagePost("/cm/mypage", params);
			});
		});
		
		/**
		 * [확인] 유효성 체크 함수
		 */
		function fn_passwordValidation(params){
			
			// 현재 비밀번호
			if(!com.isEmpty("orgUsrPw", "현재 비밀번호를 입력해주세요.")){
				return false;
			}
			
			// 새 비밀번호
			if(!com.isEmpty("chgUsrPw", "새 비밀번호를 입력해주세요.")){
				return false;
			}
			
			// 새 비밀번호 확인
			if(!com.isEmpty("usrPwCheck", "새 비밀번호 확인을 입력해주세요.")){
				return false;
			}
			
			// 새 비밀번호와 새 비밀번호 확인 일치 여부
			if(params.chgUsrPw != params.usrPwCheck){
				alert("새 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
				return false;
			}
			
			return true;
		}
		
		/**
		 * [확인] 버튼 클릭 콜백 함수
		 * - 처리내용
	     * 1) 비밀번호 변경 정상 :: mypage 화면으로 이동한다. 
		 * 2) 기존 비밀번호 일치하지 않을 경우 :: 안내문구를 출력하고 초기화한다. 
		 * 2) 비밀번호 변경 실패 :: 안내문구 출력
		 */
		function fn_mypagePwModifyCallback(data){
			// 기존 비밀번호가 일치하지 않을경우
			if(!data.passwordPass){
				alert("비밀번호를 정확하게 입력해 주세요.");
				location.href="/cm/mypagePw";
			}else{
				if(data.resultCnt > 0){
					alert("비밀번호가 정상적으로 수정되었습니다.");
					
					// 비밀번호 변경이 성공일시 mypage 화면으로 이동한다.
					var params = $("#asideForm").serializeObject();
					com.movePagePost("/cm/mypage", params);
				}else{
					alert("저장 중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
				}
			}
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<section class="community_list_wrap">
				<div class="community_list_title" id="view_details">
	        		<p>마이페이지</p>
	        		<h2>비밀번호변경</h2>
				</div>
				<!-- PasswordUpdate -->
				<div id="search_wrap" class="community_search_wrap">
					<div class="community_search">
						<div class="search_wrap">
							<form id="passwordForm"> 
								<table>
									<tbody>
										<tr>
											<td class="search_division">현재 비밀번호</td>
											<td class="search_inputbox">
												<input type="password" name="orgUsrPw" id="orgUsrPw" />
											</td>
										</tr>
										<tr>
											<td class="search_division">새 비밀번호</td>
											<td class="search_inputbox">
												<input type="password" name="chgUsrPw" id="chgUsrPw" />
											</td>
										</tr>
										<tr>
											<td class="search_division">새 비밀번호 확인</td>
											<td class="search_inputbox">
												<input type="password" name="usrPwCheck" id="usrPwCheck" />
											</td>
										</tr>
									</tbody>
								</table>
								
								<!-- Hidden -->
								<input type="hidden" name="usrId" th:value="${usrId}" />
							</form>
							
							<!-- Form Data -->
							<form id="asideForm">
								<input type="hidden" name="chrNo" th:value="${chrNo}" />
								<input type="hidden" name="nickname" th:value="${nickname}" />
							</form>
							
							<div class="search_btn">
								<input type="button" id="pwModify" class="Btn" value="확인" />
								<input type="button" id="cancelModify" class="Btn" value="취소" />
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>