<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="fragment-commonVideoEdit" id="commonVideoEdit">
		<script type="text/javascript">
		
			// 전역 변수 선언
			var videoMainUrl, videoDivCd, videoTypeCd, videoNo, editDivCd;
			
			/**
			 * Window onload
			 * - 영상 메인 정보 설정			 
			 */
			$(window).on("load", function(){
				videoMainUrl = $("#videoMainUrl").val();	// 영상 메인 URL
				videoDivCd = $("#videoDivCd").val();		// 영상 구분 코드
				videoTypeCd = $("#videoTypeCd").val();		// 영상 타입 코드
				videoNo = $("#videoNo").val();				// 영상 번호
				editDivCd = $("#editDivCd").val();			// 저장 구분 코드(I: 등록, U: 수정)
			});
			
			/**
			 * Document Ready
			 * - 기능 함수 설정 (저장/취소)
			 */
			$(document).ready(function(){
				
				/**
				 * [저장] 버튼 클릭 이벤트
				 * - 작성된 영상 정보를 저장한다.
				 */
				$("#saveBtn").click(function(){
					
					var param = $("#videoData").serializeObject();
					
					if (!fn_saveValidation(param)) {
						return;
					};
						
					var saveConfirm = confirm("저장하시겠습니까?");
					if (saveConfirm) {
						com.loadAjaxPost(videoMainUrl + "Save", param, fn_videoSaveCallback);
					};
				});
				
				/**
				 * [이전] 버튼 클릭 이벤트
				 * - 영상 메인 화면으로 이동한다.
				 */
				$("#cancleBtn").click(function(){
					
					var cancleConfirm = confirm("작성중인 내용은 취소됩니다. 이전 화면으로 돌아가시겠습니까?");
					if (cancleConfirm) {
						var param = {};
						param.videoNo = videoNo;
						param.videoDivCd = videoDivCd;
						param.editDivCd = editDivCd;
							
						com.movePagePost(videoMainUrl, param);
					}
				});
			});
			
			/**
			 * [저장] 유효성 체크 함수
			 */
			function fn_saveValidation(param) {
				
				// 비고
				if (param.remark == "" || param.remark == null) {
					alert(param.remarkLb + "는 필수입력 항목입니다.");
					return false;
				};
				
				// 제목
				if (param.title == "" || param.title == null) {
					alert(param.titleLb + "는 필수입력 항목입니다.");
					return false;
				};
				
				// 내용
				if (param.content == "" || param.content == null) {
					alert(param.contentLb + "는 필수입력 항목입니다.");
					return false;
				};
				
				// 유튜브 링크
				if (param.ytbAdr == "" || param.ytbAdr == null) {
					alert("유튜브 링크는 필수입력 항목입니다.");
					return false;
				} else {
					var pattern = /((http(s?))\:\/\/:www\.)?youtube.com\/watch\?(?=.*v=\w+)(?:\S+)/;
					var url = $('#ytbAdr').val();
					
					if (!url.match(pattern)) {
					    alert('입력한 유튜브 링크 값이 올바르지 않습니다.');
					    return false;
					}
				};
				
				return true;
			};
			
		   /***************************
			** 콜백 메소드
			***************************/
			function fn_videoSaveCallback(resultCnt) {
				
			   if (resultCnt > 0) {
					alert("정상적으로 저장되었습니다.");

					var param = {};
					param.videoNo = videoNo;
					param.videoDivCd = videoDivCd;
					param.editDivCd = editDivCd;
					
					com.movePagePost(videoMainUrl, param);
				} else {
					alert("저장중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");		
				}
		   	};
		</script>
		<div class="videoUploadArea_wrap">
			<div class="videoUploadArea">
	           	<div class="videoUploadArea_inner">
					<form id="videoData" th:object="${returnSVO.cmVideoSVO.cmVideoDVO}">
						<label for="remark" th:text="*{remarkLb}"></label>
						<input type="text" id="remark" name="remark" th:value="*{remark}" />
						<label for="title" th:text="*{titleLb}"></label>
						<input type="text" id="title" name="title" th:value="*{title}" />
						<label for="content" th:text="*{contentLb}"></label>
						<input type="text" id="content" name="content" th:value="*{content}" />
						<label for="ytbAdr">유튜브 링크</label>
						<input type="url" id="ytbAdr" name="ytbAdr" th:value="*{ytbAdr}" />
						<label for="ytbAdr">작성자</label>
						<input type="text" id="frsRegNo" name="frsRegNo" th:value="*{frsRegNo}" />
	 					
	 					<!-- 버튼 (등록/수정/삭제) -->
	 					<div class="next_generation_info_delete_modifications" id="videoUpload_registrationBtn">
							<button type="button" id="saveBtn" class="Btn">저장</button>
							<button type="button" id="cancleBtn" class="Btn">이전</button>
						</div>
						
		           		<!-- Hidden -->
	           			<input type="hidden" id="videoMainUrl" name="videoMainUrl" th:value="*{videoMainUrl}" />
	           			<input type="hidden" id="videoDivCd" name="videoDivCd" th:value="*{videoDivCd}" />
	           			<input type="hidden" id="videoTypeCd" name="videoTypeCd" th:value="*{videoTypeCd}" />
		           		<input type="hidden" id="videoNo" name="videoNo" th:value="*{videoNo}" />
	           			<input type="hidden" id="editDivCd" name="editDivCd" th:value="*{editDivCd}" />
	           			<input type="hidden" id="remarkLb" name="remarkLb" th:value="*{remarkLb}" />
	           			<input type="hidden" id="titleLb" name="titleLb" th:value="*{titleLb}" />
	           			<input type="hidden" id="contentLb" name="contentLb" th:value="*{contentLb}" />
					</form>
				</div>
			</div>
		</div>
	</div>
</html>