<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="fragment-commonVideoLookUp" id="commonVideoLookUp">
		<script type="text/javascript">
			
			// 전역 변수 선언
			var videoMainUrl, videoDivCd, videoId;
			var videoFn = {};
			
			// Windwo onLoad
			$(window).on("load", function(){
				videoMainUrl = window.location.pathname;	// 영상 메인 URL
				videoDivCd = $("#videoDivCd").val();		// 영상 구분 코드
				videoFn.youtubeMake();
			});
		
			/**
			 * [등록] 버튼 클릭 이벤트
			 * - 영상 등록화면으로 이동한다.
			 */
			function fn_moveRegist() {
				
				var params = {};
				params.videoDivCd = videoDivCd;
				params.videoMainUrl = videoMainUrl;
				params.editDivCd = "I";
				
				com.movePagePost(videoMainUrl + "Edit", params);
			};
			
			/**
			 * [수정] 버튼 클릭 이벤트
			 * - 영상 수정화면으로 이동한다.
			 * @param url, videoNo			 
			 */
			function fn_moveModify() {
				
				var params = {};
				params.videoNo = $("#mainVideoNo").val();
				params.videoDivCd = videoDivCd;
				params.videoMainUrl = videoMainUrl;
				params.editDivCd = "U";

				com.movePagePost(videoMainUrl + 'Edit', params);
			};
			
			/**
			 * [삭제] 버튼 클릭 이벤트
			 * - 영상을 삭제한다.
			 * @param url, videoNo
			 */
			function fn_removeVideo() {

				var params = {};
				params.videoNo = $("#mainVideoNo").val();
				params.videoDivCd = videoDivCd;
			    
			   	var deleteConfirm = confirm("삭제하시겠습니까?");
			   	if (deleteConfirm) {
			      	com.loadAjaxPost(videoMainUrl + 'Del', params, fn_removeVideoCallback);
				}
			};
			
			/**
			 * 비디오 리스트 클릭 이벤트
			 * - 비디오 리스트를 클릭한 영상을 상단으로 불러옵니다.
			 */
			function fn_setTopVideo(videoInfo) {
				
				// 영상 선택 시, 화면 위치 이동
				$( 'html, body' ).animate( { scrollTop : 350 }, 400 );
				
				// 상단 영상 정보 업데이트
				var remark = videoInfo.remarkLb + " : " + videoInfo.remark;
				var title = videoInfo.titleLb + " : " + videoInfo.title;
				var content = videoInfo.contentLb + " : " + videoInfo.content;
				
				$("#main_Preacher_name").text(remark);
				$("#main_bible_verses").text(title);
				$("#when_main_day_of_worship").text(content);
				$("#mainVideoNo").val(videoInfo.videoNo);
				$("#mainYtbAdr").val(videoInfo.ytbAdr);
	
				// 유튜브 재생성
				videoFn.youtubeMake();
			}
			
			/**
			 * 유튜브 생성 메소드
			 * - 기존 유튜브가 있는 경우 : Destroy
			 */
			videoFn.youtubeMake = function() {

				// 기존 유튜브가 생성된 경우에 Destroy
				if (youtubePlayer != undefined) {
					youtubePlayer.destroy();
				}
				
				// 유튜브 재생 URL
				videoId = $("#mainYtbAdr").val();
				
				// 유튜브 재생 URL이 있는 경우에만 생성
				if (videoId != undefined) {
					videoFn.onYouTubeIframeAPIReady();
				}
			};
			
			/***************************
			 ** 유튜브 메소드
			 ***************************/
			// 유튜브 API 변수
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
			
			var youtubePlayer;
			videoFn.onYouTubeIframeAPIReady = function() {
				youtubePlayer = new YT.Player('player', {
					height : '360'
				  , width : '640'
				  , rel : 0
				  , videoId : videoId
				  , events : {
						'onReady' : videoFn.onPlayerReady,
				        'onStateChange' : videoFn.onPlayerStateChange
				    }
				});
			}
				
			// 2. 동영상이 준비되면 재생
			videoFn.onPlayerReady = function(event) {
				event.target.playVideo();
			};
				
			// 3. 상태값을 갖을 수 있는 함수(동영상 제어)
			var done = false;
			videoFn.onPlayerStateChange = function(event) {
				if (event.data == YT.PlayerState.PLAYING && !done) {
					// setTimeout(stopVideo, 6000);
					// done = true;
				}
			};
				
			// 4. 멈춤 
			videoFn.stopVideo = function() {
				youtubePlayer.stopVideo();
			};
			 
			/***************************
			 ** 콜백 메소드
			 ***************************/
			/**
			 * 영상 삭제 콜백 함수
			 */
			function fn_removeVideoCallback(delCnt) {
				
				if (delCnt > 0) {
					alert("정상적으로 삭제되었습니다.");
					
					var params = {};
					params.videoDivCd = videoDivCd;
					com.movePagePost(videoMainUrl, params);
				} else {
					alert("삭제중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
				}
			};
		</script>
	   
   		<!-- Slyouth Video List-->
   		<section class="worship_video_area" id="youth_worship_video"> 
       		<div class="worship_recently_videowrap">
       	
	       		<!--##########
	       			## 타이틀	
	       			##########-->
				<div class="recently_video_title">
					<!-- 예배와 말씀 -->
					<div th:if="${#strings.contains(#request.requestURI,'/ws/')}">
		                <h2 th:if="${videoDivCd == 'SYW'}">주일예배</h2>
		                <h2 th:if="${videoDivCd == 'SYS'}">특별집회</h2>
					</div>
					<!-- 찬양과 셀라 -->
					<div th:if="${#strings.contains(#request.requestURI,'/ps/')}">
		                <h2 th:if="${videoDivCd == 'WMS'}">주일찬양</h2>
		                <h2 th:if="${videoDivCd == 'WAS'}">말씀후찬양</h2>
		                <h2 th:if="${videoDivCd == 'WSS'}">특송</h2>
					</div>
					<!-- 커뮤니티 -->
					<div th:if="${#strings.contains(#request.requestURI,'/nt/')}">
		                <!-- TODO 승리청년채널 -->
					</div>
	            </div>
	            
	            <!-- Video Wrap -->
	            <div id="video_info_wrap" th:object="${returnSVO.cmVideoSVO}">
	       			<!--############
	       				## 메인 영상 
	       				############-->				
					
					<!-- 영상이 있는 경우 -->
					<div th:if="*{cmVideoDVO != null and cmVideoDVO.ytbAdr != null}" class="recently_video" id="player"></div>
					
					<!-- 영상이 없는 경우 -->
					<div th:unless="*{cmVideoDVO != null and cmVideoDVO.ytbAdr != null}">
		           		<p style="text-align: center">표시할 영상이 없습니다.</p>
		           	</div>
	           		
	       			<!--################
	       				## 메인 영상 정보
	       				################-->	           		
	           		<div class="recently_video_info" id="topVideo">
	           		
	           			<!-- 영상이 있는 경우 -->
	           			<div th:if="*{cmVideoDVO != null and cmVideoDVO.ytbAdr != null}">
			                <h3 id="main_Preacher">
			                	<span id="main_Preacher_name" th:text="|*{cmVideoDVO.remarkLb} : *{cmVideoDVO.remark}|" th:value="*{cmVideoDVO.remark}"></span>
			                </h3>
		               		<p id="main_bible">
		               			<span id="main_bible_verses" th:text="|*{cmVideoDVO.titleLb} : *{cmVideoDVO.title}|" th:value="*{cmVideoDVO.title}"></span>
		               		</p>
		               		<p id="main_day_of_worship">
		               			<span id="when_main_day_of_worship" th:text="|*{cmVideoDVO.contentLb} : *{cmVideoDVO.content}|" th:value="*{cmVideoDVO.content}"></span>
		               		</p>
						
							<input type="hidden" id="mainVideoNo" th:value="*{cmVideoDVO.videoNo}" />
							<input type="hidden" id="mainYtbAdr" th:value="*{cmVideoDVO.ytbAdr}" />
	           			</div>
			           	
			           	<!-- 버튼 (등록/수정/삭제) -->
			           	<div class="worship_video_delete_modifications" id="worship_video_delete_modifications">
	           		   		<input type="button" id="registBtn" th:value="등록" class="Btn" th:onclick="fn_moveRegist()">
	           		   		
	           		   		<!-- 수정/삭제는 영상이 있는 경우 표시 -->
			           		<input type="button" id="modifyBtn" class="Btn"
			           			   th:value="수정" th:onclick="fn_moveModify()" 
			           			   th:if="*{cmVideoDVO != null and cmVideoDVO.ytbAdr != null}">
			           		<input type="button" id="removeBtn" class="Btn"
			           			   th:value="삭제" th:onclick="fn_removeVideo()"
			           			   th:if="*{cmVideoDVO != null and cmVideoDVO.ytbAdr != null}">
			           	</div>
	           		</div>
	           		
	           		<!-- Video Form -->
	           		<form id="videoForm">
	           			<input type="hidden" id="videoDivCd" name="videoDivCd" th:value="${videoDivCd}" />
	           		</form>
	           		
	       			<!--#############
	       				## 영상 리스트
	       				#############-->
	       				
	       			<!-- 영상 리스트가 있는 경우 -->
					<div class="worship_video_listwrap" th:if="*{cmVideoDVOList != null}">
						<div class="worship_video_list">
			               <ul class="clearfix">
			                   <li th:each="videoInfo : *{cmVideoDVOList}">
			                       <div class="list_video">
			                     		<a class="setTopVideo" href="javascript:void(0);" th:onclick="fn_setTopVideo([[ ${videoInfo} ]])"> 
			                     			<img th:src="${videoInfo.ytbThumbAdr}" style="width: 100%"/>
			                  			</a>
			               		   </div>
			                       <div class="list_video_info">
			                           <div class="list_video_info_textInner">
			                               <p class="list_title" id="list_title_1" th:text="${videoInfo.title}" th:onclick="fn_setTopVideo([[ ${videoInfo} ]])"></p>
			                               <p class="list_bible" id="list_bible_1"><span id="list_bible_verses_1" th:text="|${videoInfo.contentLb} : ${videoInfo.content}|"></span></p>
			                               <p class="list_day_of_worship" id="list_day_of_worship_1"><span id="when_list_day_of_worship_1" th:text="${#temporals.format(videoInfo.frsRegDt, 'yyyy-MM-dd')}"></span></p>
			                               <h3 class="list_Preacher" id="list_Preacher_1">설교자 : <span id="list_Preacher_name_1" th:text="${videoInfo.frsRegNo}"></span></h3>
			                           </div>
			                       </div>
			                   </li>
			               </ul>
			           </div>
					</div>
	            </div>
	       </div>
	   </section>
	</div>
</html>