<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.08.26
	화면명 	: 공동체관리 > 공동체 멤버작성
	서비스 	: UmMember*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header"></th:block>
	
	<script type="text/javascript"> 

		var chrNo, editDivCd, slyouthTbKey;
		
		$(window).on("load", function(){
			chrNo = $("#chrNo").val();					// 교적번호
			editDivCd = $("#editDivCd").val();			// 저장 구분 코드(I: 등록, U: 수정)
			slyouthTbKey = $("#refTbKey").val(); 	// 파일 참조키
			
			// 초기화면 구성
			fn_defineForm();
			
			// 수정인 경우, 기존값 설정
			if (editDivCd == "U") {
				fn_loadModifyView();
			}
		});
	
		$(document).ready(function(){
			
			/**
			 * [저장] 버튼 이벤트
			 * - 저장버튼을 누르면 작성내용을 DB에 저장됩니다.
			 */
			$("#saveBtn").click(function(e){
				// 교적 저장
				fn_memberSave();
			});

			/**
			 * 취소 이벤트
			 * - 취소버튼을 누르면 등록/수정에 따라 메인 목록페이지 or 상세페이지로 이동합니다.
			 */
			$("#umCancelBtn").click(function(){
				// 작성 취소
				fn_editCancel();
			});
			
			/**
			 * 직책상세 콤보 동적생성
			 * - 직책구분 콤보를 선택하면 해당하는 콤보값에 따라 동적으로 직책상세를 생성한다.
			 */
			$("#posDivCdSBox").change(function(){
				// 콤보 박스 조회
				fn_makePosCombo();
			});
			
			/**
			 * [파일선택] 버튼 클릭 이벤트1
			 * - 메인 사진의 선택한 이미지를 미리보기 한다.
			 */
			$("#uploadFile").on("change", function(e){
				fn_previewImage(e.target);
			});
			
		});
		
		/**
		 * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다. 
		 */
		function fn_defineForm() {
			
			// 콤보박스 구성
			fn_makeCombo();
			
			// 이미지 세팅
			fn_imgInfo();
		};
		
		/**
		 * 콤보박스 구성 함수
		 * - 페이지에 해당되는 콤보박스를 구현한다.
		 */
		function fn_makeCombo() {
			
			var codeParams = [];
			codeParams.push({"codeKey":"UM0001", "comboId":"chrDivCdSBox", "comboType":"S"});		// 교인구분코드
			codeParams.push({"codeKey":"UM0004", "comboId":"gndrDivCdSBox", "comboType":"S"});	 	// 성별구분 코드
			codeParams.push({"codeKey":"UM0005", "comboId":"bptStCdSBox", "comboType":"S"});	 	// 세례구분 코드
			codeParams.push({"codeKey":"UM0007", "comboId":"eduDivCdSBox", "comboType":"A"});	 	// 학력구분 코드
			codeParams.push({"codeKey":"UM0002", "comboId":"posDivCdSBox", "comboType":"S"});	 	// 직책 코드
			codeParams.push({"codeKey":"UM0006", "comboId":"mrgStCdSBox", "comboType":"S"});	 	// 결혼상태 코드
			codeParams.push({"codeKey":"UM0008", "comboId":"volDeptCdSBox1", "comboType":"S"});	 	// 봉사부서1 코드
			codeParams.push({"codeKey":"UM0008", "comboId":"volDeptCdSBox2", "comboType":"S"});	 	// 봉사부서2 코드
			
			com.makeCombo(codeParams, "", false);
		};
		
		/**
		 * 수정 페이지 값 세팅
		 * - 수정페이지의 각 입력 항목들을 데이터 값으로 치환 및 적용합니다.
		 */
		function fn_loadModifyView(){
			
			// 등록일 세팅
			var temp = $("#chrRegYmd").val();
			if (temp != null) {
				temp = temp.substring(0,4) + '-' + temp.substring(4,6) + '-' + temp.substring(6,8);
				$("input[name='chrRegYmd']").val(temp);
			}
			
			// 생년월일 세팅
			temp = $("#birth").val();
			if (temp != null) {
				temp = temp.substring(0,4) + '-' + temp.substring(4,6) + '-' + temp.substring(6,8);
				$("input[name='birth']").val(temp);
			}
			
			// 성별구분코드 세팅
			$("#gndrDivCdSBox").val($("#gndrDivCd").val()).attr("selected", "selected");
			
			// 교인구분코드 세팅
			$("#chrDivCdSBox").val($("#chrDivCd").val()).attr("selected", "selected");
			
			// 직책구분코드 세팅
			$("#posDivCdSBox").val($("#posDivCd").val()).attr("selected", "selected");
			
			// 직책상세
			var codeParams = [];
			codeParams.push({"codeKey":"UM0003", "comboId":"posDtlCdSBox", "codeRefKey":"POS_DIV_CD", "codeRefVl":$("#posDivCd").val(), "comboType":"S" });	
			com.makeRefCombo(codeParams, "", false);
			
			// 직책상세코드 세팅
			$("#posDtlCdSBox").val($("#posDtlCd").val()).attr("selected", "selected");
			
			// 세례상태코드 세팅
			$("#bptStCdSBox").val($("#bptStCd").val()).attr("selected", "selected");
			
			// 결혼상태코드 세팅
			$("#mrgStCdSBox").val($("#mrgStCd").val()).attr("selected", "selected");
			
			// 학력구분코드 세팅
			$("#eduDivCdSBox").val($("#eduDivCd").val()).attr("selected", "selected");
			
			// 봉사부서코드1 세팅
			$("#volDeptCdSBox1").val($("#volDeptCd1").val()).attr("selected", "selected");
			
			// 봉사부서코드2 세팅
			$("#volDeptCdSBox2").val($("#volDeptCd2").val()).attr("selected", "selected");
		}
		
		/**
		 * 전화번호 유효성 및 양식
		 * - 전화번호 입력시 숫자만 받게 합니다.
		 */
		$(document).on("keyup", "#mbTelNo", function() { 
			$(this).val( $(this).val().replace(/[^0-9]/g, ""));
		});
		
		/**
		 * 기수 자동 계산
		 * - 생년월일을 누르면 기수와 나이가 자동으로 계산됩니다.
		 */
		function fn_autoYear(val){
			
			// 기수 계산 
			$('#grade').val(val.substring(2,4));
			
			// 나이 계산
			var today = String(new Date());
			today = today.substring(11,15);
			const memberBirth = parseInt(val.substring(0,4));
			var age = parseInt(today) - memberBirth + 1;
			$('#age').val(age);
		}
		
		/**
		 * 유효성 검사
		 */
		function fn_saveValidation() {
			
			// 이름
			if (!com.isEmpty("name", "이름을 입력하세요.")) {
				return false;
			}
			
			// 등록일
			if (!com.isEmpty("chrRegYmdView", "등록일을 입력하세요.")) {
				return false;
			}
			
			// 생년월일
			if (!com.isEmpty("birthView", "생일을 선택하세요.")) {
				return false;
			}
			
			// 기수
			if (!com.isEmpty("grade", "기수를 입력하세요.")) {
				return false;
			}
			
			// 성별
			if (!com.isEmpty("gndrDivCdSBox", "성별을 선택하세요.")) {
				return false;
			}
			
			// 핸드폰
			if (!com.isEmpty("mbTelNo", "핸드폰 번호를 입력하세요.")) {
				return false;
			}
			
			// 상세주소
			if (!com.isEmpty("dtlAdr", "상세 주소를 입력하세요.")) {
				return false;
			}
			
			// 교인구분
			if (!com.isEmpty("chrDivCdSBox", "교인 구분을 선택하세요.")) {
				return false;
			}
			
			// 직책구분
			if (!com.isEmpty("posDivCdSBox", "직책 구분을 선택하세요.")) {
				return false;
			}
			
			// 세례구분
			if (!com.isEmpty("bptStCdSBox", "세례 구분을 선택하세요.")) {
				return false;
			}
			
			// 결혼구분
			if (!com.isEmpty("mrgStCdSBox", "결혼 여부를 선택하세요.")) {
				return false;
			}
			
			return true;
		}
		
		/**
         * 업로드 이미지 미리보기 함수
		 */
		function fn_previewImage(uploadFile) {
		    if (uploadFile.files && uploadFile.files[0]) {
		    	
		    	// FileReader 생성
		    	var reader = new FileReader();

		    	// 미리보기 img src 변경
		        reader.onload = e => {
		        	$("#previewImage").attr("src", e.target.result);
		        };
		        
		        // FileReader 이미지 로드
		        reader.readAsDataURL(uploadFile.files[0]);
		    }
		};
		
		/**
         * 작성 취소 함수
         * - 작성 취소를 누른 후, 교적 상세 또는 교적 메인조회로 돌아갑니다.
		 */
		function fn_editCancel(){
			if ( confirm("작성하던 내용이 저장이 안됩니다. 취소하시겠습니까?") ){
				if ( editDivCd == "I"){
					var params = {};
					params.pageNo = $("#pageNo").val();
					com.movePagePost("/um/memberList", params);
				}
				else {
					var params = {};
					params.chrNo = $("#chrNo").val();
					params.pageNo = $("#pageNo").val();
					com.movePagePost("/um/memberDetail", params);	
				}	
			}
		}
		
		/**
		 * 교적 정보 저장 함수
		 * - 입력된 교적 정보를 저장합니다.
		 */
		function fn_memberSave(){
			// 사진
			var uploadFile = document.getElementById("uploadFile");
			
/* 			// 기본 사진 체크
			if ( !(uploadFile.files && uploadFile.files[0]) ) {
				alert("기본사진을 선택해주세요");
				return;	
			} */
			
			var params = new FormData(document.getElementById('editMemberForm'));
			
			if (!fn_saveValidation()) {
				e.preventDefault();
				return;
			};
			
			if ( confirm("저장하시겠습니까?") ) {
				com.fileUploadAjaxPost("/um/memberSave", params, fn_saveBtnCallback);	
			}
		}
		
		/**
		 * 직책 상세 콤보 생성 함수
		 * - 직책 구분에 따른 상세 콤보 동적 생성
		 */
		function fn_makePosCombo(){
			var posDivCd = $("#posDivCdSBox option:selected").val();
			
			if(posDivCd != null || posDivCd != ""){
				
				var codeParams = [];
				
				// 직책상세 콤보 생성
				codeParams.push({"codeKey":"UM0003", "comboId":"posDtlCdSBox", "codeRefKey":"POS_DIV_CD", "codeRefVl":posDivCd, "comboType":"S" });	
				com.makeRefCombo(codeParams);
			}
			else{
				alert("동적 콤보박스 생성이 불가능한 항목입니다.");
				return;
			}
		}
		
		/**
		 * 이미지 세팅함수
		 * - 이미지 세팅
		 */
		function fn_imgInfo(){
			
			if ( $("#fileNo").val() > 0 ) {
				$("#imgTxtFileNm").val($("#fileNm").val());
			}
		}
		
		/***************************
		** 콜백 메소드
		***************************/
		
		 /**
		  * 교적 저장 버튼 콜백
		  */
		function fn_saveBtnCallback(data){
			if ( data != 0 && data != undefined && data != null ){
				alert("정상적으로 저장되었습니다!");
				if ( editDivCd == "U" ){
					var params = {};
					params.chrNo = $("#chrNo").val();
					params.pageNo = $("#pageNo").val();
					params.slyouthTbKey = slyouthTbKey;
					com.movePagePost("/um/memberDetail", params);
				} else {
					var params = {};
					params.chrNo = data.chrNo;
					com.movePagePost("/um/memberDetail", params);
				}
			}
			else {
				alert("교적 저장에 실패하였습니다.");
				return;
			}
		}
	</script>
</head>
<body>

	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			<!-- Worship Visual -->
			<section class="worship_visual">
            	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
			
			<!-- 등록/수정 양식 -->
			<div id="edit_wrap">
				<form id="editMemberForm" th:object="${returnSVO}">
				
					<!-- Hidden -->
					<input type="hidden" id="chrNo" name="chrNo" th:value="*{umMemberDVO.chrNo}" >
					<input type="hidden" id="chrRegYmd" th:value="*{umMemberDVO.chrRegYmd}" >
					<input type="hidden" id="birth" th:value="*{umMemberDVO.birth}" >
					<input type="hidden" id="gndrDivCd" th:value="*{umMemberDVO.gndrDivCd}" >
					<input type="hidden" id="chrDivCd" th:value="*{umMemberDVO.chrDivCd}" >
					<input type="hidden" id="posDivCd" th:value="*{umMemberDVO.posDivCd}" >
					<input type="hidden" id="posDtlCd" th:value="*{umMemberDVO.posDtlCd}" >
					<input type="hidden" id="bptStCd" th:value="*{umMemberDVO.bptStCd}" >
					<input type="hidden" id="mrgStCd" th:value="*{umMemberDVO.mrgStCd}" >
					<input type="hidden" id="eduDivCd" th:value="*{umMemberDVO.eduDivCd}" >
					<input type="hidden" id="volDeptCd1" th:value="*{umMemberDVO.volDeptCd1}" >
					<input type="hidden" id="volDeptCd2" th:value="*{umMemberDVO.volDeptCd2}" >
					<input type="hidden" id="editDivCd" name="editDivCd" th:value="*{umMemberDVO.editDivCd}" >
					<input type="hidden" id="pageNo" name="pageNo" th:value="*{umMemberDVO.pageNo}" />
					<input type="hidden" id="frsRegNo" name="frsRegNo" th:value="${chrNo}" >
					<input type="hidden" id="lstMdfNo" name="lstMdfNo" th:value="${chrNo}" >
					
					<!-- File -->
					<input type="hidden" id="fileNo" name="fileNo" th:value="*{cmFileDVO.fileNo}" />
					<input type="hidden" id="fileNm" name="fileNm" th:value="*{cmFileDVO.fileNm}" />
					<input type="hidden" id="refNo" name="refNo" th:value="*{cmFileDVO.refNo}" />
					<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
					<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${tmpFileId}" />
					<input type="hidden" id="refDivCd" name="refDivCd" value="USR">
									
					<!-- Info -->
					<div id="image_wrap">
						<div id="preview_imgage_wrap1">
	                    	<img th:if="*{cmFileDVO.fileNo} == 0" id="previewImage" src="/images/slyouth/main_visual_img.jpg" alt="미리보기" style="width:90px; height:120px" />
	                    	<img th:unless="*{cmFileDVO.fileNo} == 0" id="previewImage" th:src="@{/cm/viewImage/{no}(no=${returnSVO.cmFileDVO.fileNo})}" alt="미리보기" style="width:90px; height:120px" />
	                    	<span>
								대표사진<br>
								<input type="file" id="uploadFile" name="uploadFile" />
								<input type="text" id="imgTxtFileNm" placeholder="Upload File" readonly>
							</span>
	                    </div>
					</div>
					<input id="name" type="text" name="name" placeholder="이름" th:value="*{umMemberDVO.name}" />
					<label>등록일</label><input type="date" id="chrRegYmdView" name="chrRegYmd" />
					<label>생년월일</label><input type="date" id="birthView" name="birth" th:value="*{umMemberDVO.birth}" onchange="fn_autoYear(this.value)" />
					<label>기수</label><input type="text" id="grade" name="grade" th:value="*{umMemberDVO.grade}" />
					<label>나이</label><input type="text" id="age" name="age" readonly="readonly" th:value="*{umMemberDVO.age}" />
					<br>
					<label>성별</label><select id="gndrDivCdSBox" name="gndrDivCd"></select>
					<input type="tel" id="mbTelNo" name="mbTelNo" placeholder="핸드폰 번호" th:value="*{umMemberDVO.mbTelNo}">
					<input type="tel" id="hmTelNo" name="hmTelNo" placeholder="집 전화번호" th:value="*{umMemberDVO.hmTelNo}">
					<br>
					<input type="text" id="baseAdr" name="baseAdr" readonly="readonly" placeholder="주소" th:value="*{umMemberDVO.baseAdr}">
					<input type="text" id="dtlAdr" name="dtlAdr" placeholder="상세주소" th:value="*{umMemberDVO.dtlAdr}">
					<input type="button" onclick="sample3_execDaumPostcode()" value="우편번호 찾기">
					<div id="api_wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
						<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
					</div>
					<br>
					<p>교인구분</p><select id="chrDivCdSBox" name="chrDivCd"></select>
					<p>직책구분</p><select id="posDivCdSBox" name="posDivCd"></select>
					<p>직책상세구분</p><select id="posDtlCdSBox" name="posDtlCd"></select>
					<p>세례구분</p><select id="bptStCdSBox" name="bptStCd"></select>
					<p>결혼여부</p><select id="mrgStCdSBox" name="mrgStCd"></select>
					<br>
					<input id="job" name="job" type="text" placeholder="직업" th:value="*{umMemberDVO.job}" />
					<input id="email" name="email" type="email" placeholder="이메일" th:value="*{umMemberDVO.email}" />
					<input id="usrId" name="usrId" type="text" placeholder="ID" th:value="*{umMemberDVO.usrId}" readonly/>
					<select id="cellNo" name="cellNo" th:value="*{umMemberDVO.cellNo}"></select>
					<br>
					<input id="school" name="school" type="text" placeholder="학교" th:value="*{umMemberDVO.school}" />
					<input id="major" name="major" type="text" placeholder="전공" th:value="*{umMemberDVO.major}" />
					<select id="eduDivCdSBox" name="eduDivCd" th:value="*{umMemberDVO.eduDivCd}"></select>
					<br>
					<label>봉사부서1</label><select id="volDeptCdSBox1" name="volDeptCd1"></select>
					<label>봉사부서2</label><select id="volDeptCdSBox2" name="volDeptCd2"></select>
					<br>
					<label>비고</label><br>
					<textarea id="remark" name="remark" rows="15" cols="40" th:text="*{umMemberDVO.remark}"></textarea>
				</form>
				
				<input id="saveBtn" type="button" value="저장" >
				<input id="umCancelBtn" type="button" value="취소">
			</div>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>

	<!-- 주소api 영역 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		// 주소 API 시작
	    // 우편번호 찾기 찾기 화면을 넣을 element
	    var element_wrap = document.getElementById('api_wrap');
	
	    function foldDaumPostcode() {
	        // iframe을 넣은 element를 안보이게 한다.
	        element_wrap.style.display = 'none';
	    }
	
	    function sample3_execDaumPostcode() {
	        // 현재 scroll 위치를 저장해놓는다.
	        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var addr = ''; // 주소 변수
	
	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }
	
	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById("baseAdr").value = addr;
	                // 커서를 상세주소 필드로 이동한다.
	                document.getElementById("dtlAdr").focus();
	
	                // iframe을 넣은 element를 안보이게 한다.
	                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
	                element_wrap.style.display = 'none';
	
	                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
	                document.body.scrollTop = currentScroll;
	            },
	            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
	            onresize : function(size) {
	                element_wrap.style.height = size.height+'px';
	            },
	            width : '100%',
	            height : '100%'
	        }).embed(element_wrap);
	
	        // iframe을 넣은 element를 보이게 한다.
	        element_wrap.style.display = 'block';
	    }
	 // 주소 API 끝
   	</script>
</body>
</html>