<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.08.26
	화면명 	: 공동체관리 > 공동체 멤버 상세조회
	서비스 	: UmMember*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header"></th:block>
	
	<script type="text/javascript">
	
		// 전역 변수
		var slyouthTbKey;
	
		$(window).on("load", function(){
			slyouthTbKey = $("#refTbKey").val();
		});
		
		$(document).ready(function(){
			
			/**
			 * 교적 수정 페이지 이동 이벤트
			 * - 수정버튼을 누르면 교적 수정 페이지로 이동합니다.
			 */
			$("#moveModifyBtn").click(function(){
				// 교적 수정
				fn_moveModify();
			});
			
			/**
			 * 교적 삭제 이벤트
			 * - 삭제버튼을 누르면 교적이 DB에서 삭제됩니다.
			 */
			$("#removeMemberBtn").click(function(){
				// 교적 삭제
				fn_removeMember();
			});
			
			/**
			 * 교적 목록 이벤트
			 * - 목록버튼을 누르면 교적 목록으로 이동합니다.
			 */
			$("#moveListBtn").click(function(){
				// 목록 조회
				fn_moveList();
			});
		});
		
		/**
		 * 교적 수정 메소드
		 * - 수정 페이지로 이동
		 */
		function fn_moveModify() {
			var params = {};
			params.chrNo = $("#chrNo").val();
			params.editDivCd = "U";
			params.refTbKey = slyouthTbKey;
			params.slyouthTbKey = slyouthTbKey;
			params.pageNo = $("#pageNo").val();
			com.movePagePost("/um/memberEdit", params);
		}
		
		/**
		 * 교적 삭제 메소드
		 * - 교적 정보를 삭제 
		 */
		function fn_removeMember() {
			var param = {};
			param.chrNo = $("#chrNo").val();
			
			if ( confirm("삭제하시겠습니까?") ){
				com.loadAjaxPost("/um/deleteMember", param, fn_deleteMemberCallback);	
			}
		}
		 
		/**
		 * 목록 이동 메소드
		 * - 교적 메인 페이지로 이동합니다
		 */
		function fn_moveList(){
			var params = {};
			params.pageNo = $("#pageNo").val();
			com.movePagePost("/um/memberList", params);
		}
		
		/***************************
		** 콜백 메소드
		***************************/
		
		/**
		 * 교적 삭제 콜백
		 */
		function fn_deleteMemberCallback(data) {
			if(data != 0){
				alert("정상적으로 삭제되었습니다.");
				location.href="/um/memberList";
			} else {
				alert("교적삭제에 실패했습니다.");
				return;
			}
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- headerMenu -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			
			<!-- Section  -->
			<section class="worship_visual">
				<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>
		
		
			<section class="community_list_wrap">
                
                <div class="community_list_title">
                    <p>청년부</p>
                    <h2>공동체상세</h2>
                </div>
                
				<div id="detail_wrap" th:object="${returnSVO.umMemberDVO}">
				
					<img th:if="${returnSVO.cmFileDVO.fileNo} == 0" src="/images/slyouth/main_visual_img.jpg" alt="교적 사진" style="width:300px; height:200px" />
                	<img th:unless="${returnSVO.cmFileDVO.fileNo == 0}" th:src="@{/cm/viewImage/{no}(no=${returnSVO.cmFileDVO.fileNo})}" alt="교적 사진" style="width:300px; height:200px" />
				
					<!-- Hidden -->
					<input type="hidden" id="pageNo" name="pageNo" th:value="*{pageNo}" />
					<input type="hidden" id="chrNo" name="chrNo" th:value="*{chrNo}" />
					<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
					
					<!-- Info -->
					<p th:text="|이름 : *{name}|"></p>
					<p th:text="|등록일 : *{chrRegYmd}|"></p>
					<p th:text="|생년월일 : *{birth}|"></p>
					<p th:text="|기수 : *{grade}|"></p>
					<p th:text="|나이 : *{age}|"></p>
					<p th:text="|성별 : *{gndrDivCdNm}|"></p>
					<p th:text="|핸드폰 : *{mbTelNo}|"></p>
					<p th:text="|집전화 : *{hmTelNo ?: ''}|"></p>
					<p th:text="|주소 : *{baseAdr}|"></p>
					<p th:text="|상세주소 : *{dtlAdr}|"></p>
					<p th:text="|교인구분 : *{chrDivCdNm}|"></p>
					<p th:text="|직책 : *{posDivCdNm}|"></p>
					<p th:text="|직책상세 : *{posDtlCdNm ?: ''}|"></p>
					<p th:text="|세례유무 : *{bptStCdNm}|"></p>
					<p th:text="|결혼유무 : *{mrgStCdNm}|"></p>
					<p th:text="|직업 : *{job ?: ''}|"></p>
					<p th:text="|이메일 : *{email ?: ''}|"></p>
					<p th:text="|ID : *{usrId ?: ''}|"></p>
					<p th:text="|사랑방 : *{cellNo ?: ''}|"></p>
					<p th:text="|학력 : *{eduDivCdNm ?: ''}|"></p>
					<p th:text="|학교 : *{school ?: ''}|"></p>
					<p th:text="|전공 : *{major ?: ''}|"></p>
					<p th:text="|봉사부서1 : *{volDeptCdNm1 ?: ''}|"></p>
					<p th:text="|봉사부서2 : *{volDeptCdNm2 ?: ''}|"></p>
					<p th:text="|비고 : *{remark ?: ''}|"></p>
				</div>
				
				<div id="btn_wrap">
					<input id="moveModifyBtn" type="button" th:value="|수정|">
					<input id="removeMemberBtn" type = "button" th:value="|삭제|">
					<input id="moveListBtn" type="button" th:value="|목록|">
				</div>
			
			</section>
			
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>