<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!--
	개발자	: 송근영
	작성일자	: 2021.08.26
	화면명 	: 공동체관리 > 공동체 멤버 목록조회
	서비스 	: UmMember*
	-->
	<th:block th:replace="fragments/cm/header :: fragment-header"></th:block>
	<script type="text/javascript" th:inline="javascript">
	
		// 전역 변수
		var slyouthTbKey;
	
		$(window).on("load", function(){
			slyouthTbKey = $("#refTbKey").val();
		});
	
		$(document).ready(function(){
			
			// 초기화면 구성
			fn_defineForm();
			
			/**
			 * 교적등록 이동 이벤트
			 * - 등록 버튼을 누르면 등록 뷰로 이동합니다.
			 */
			$("#btn_joinForm").click(function(){
				// 등록 페이지 이동
				fn_moveJoinPage();
			});
			
			/**
			 * 조회
			 * - 조회 버튼을 누르면 검색조의 결과로 이동합니다.
			 */
			$("#searchBtn").click(function(){
				// 검색 조회
				fn_search();
			});
			
			
			/**
			 * 동적 콤보박스 생성
			 * - 직책 콤보를 선택하면 직책 상세 콤보를 작성합니다.
			 */
			$("#searchPosDivCd").change(function(){
				// 직책콤보박스 동적 데이터 생성
				fn_makePosCombo();
			});
		})
		
		/**
		 * 초기화면 구성 함수
		 * - 페이지 로드 시 초기화면을 구성한다.
		 */
		function fn_defineForm() {
			
			// 콤보박스 구성
			fn_makeCombo();
		};
		
		/**
		 * 콤보박스 구성 함수
		 * - 페이지에 해당되는 콤보박스를 구현한다.
		 */
		function fn_makeCombo() {
			
			var codeParams = [];
			codeParams.push({"codeKey":"UM0001", "comboId":"searchChrDivCd", "comboType":"A"});	 // 교인구분코드
			codeParams.push({"codeKey":"UM0004", "comboId":"searchGndrDivCd", "comboType":"A"}); // 성별구분 코드
			codeParams.push({"codeKey":"UM0002", "comboId":"searchPosDivCd", "comboType":"A"});	 // 직책구분 코드
			codeParams.push({"codeKey":"UM0005", "comboId":"searchBptDivCd", "comboType":"A"});	 // 세례상태 코드
			codeParams.push({"codeKey":"UM0008", "comboId":"searchVolDeptCd", "comboType":"A"}); // 봉사부서 코드
			
			com.makeCombo(codeParams);
		};
		
		/**
		 * 상세페이지 이동
		 * - 교적 상세페이지로 이동합니다
		 */
		function fn_moveDetail(umMemberDVO){
			
			var params = {};
			params.chrNo = umMemberDVO.chrNo;
			params.slyouthTbKey = slyouthTbKey;
			params.pageNo = $("#pageNo").val();
			
			com.movePagePost("/um/memberDetail", params);
		}
		
		/**
		 * 등록 페이지 이동 함수
		 * - 교적 등록 페이지로 이동합니다.
		 */
		function fn_moveJoinPage(){
			var params = {};
			params.editDivCd = "I";
			params.pageNo = $("#pageNo").val();
			com.movePagePost("/um/memberEdit", params);
		}
		
		/**
		 * 검색 이동 함수
		 * - 검색 조건으로 검색한 결과를 리다이렉트하여 보여준다.
		 */
		function fn_search(){
			var params = $("#searchForm").serializeObject();
			com.movePagePost("/um/memberList", params);
		}
		
		/**
		 * 직책 구분 콤보 생성 함수
		 * - 직책 선택에 따른 상세 구분 코드를 동적으로 생성합니다.
		 */
		function fn_makePosCombo(){
			var posDivCd = $("#searchPosDivCd option:selected").val();
			
			if(posDivCd != null || posDivCd != ""){
				var codeParams = [];
				codeParams.push({"codeKey":"UM0003", "comboId":"searchPosDtlCd", "codeRefKey":"POS_DIV_CD", "codeRefVl":posDivCd, "comboType":"A" });	 // 교인구분코드
				com.makeRefCombo(codeParams);	
			}
			else{
				alert("동적 콤보박스 생성이 불가능한 항목입니다.");
				return;
			}
			
		}
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- headerMenu -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div id="section_wrap">
			
			<!-- Section  -->
			<section class="worship_visual">
				<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
			</section>		
			
			<!-- Hidden -->
			<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" >
			
			<!-- Search -->
			<div id="search_wrap">
				<label>검색필터</label>
				<form id="searchForm">
					<h6>년도</h6>
					<select id="searchYear" ></select>
					<h6>교인구분</h6>
					<select id="searchChrDivCd" name="chrDivCd"></select>
					<h6>봉사부서</h6>
					<select id="searchVolDeptCd" name="volDeptCd1"></select>
					<h6>성별</h6>
					<select id="searchGndrDivCd" name="gndrDivCd"></select>
					<h6>직책</h6>
					<select id="searchPosDivCd" name="posDivCd"></select>
					<select id="searchPosDtlCd" name="posDtlCd"></select>
					<h6>셰례유무</h6>
					<select id="searchBptDivCd" name="bptDivCd"></select><br>
	
					<input id="searchAddr" name="baseAdr" type="text" placeholder="주소를 입력하세요">
					<input id="searchChrGrd" name="chrGrd" type="text" placeholder="기수를 입력하세요">
					<input id="searchChrNm" name="chrNm" type="text" placeholder="이름을 입력하세요">
					
					<input id="searchBtn" type="button" th:value="|검색|">
				</form>
			</div>
			
			<!-- Button -->
			<div id="btn_wrap">
				<input type="button" id="btn_joinForm" value="교적추가"><br><hr>
			</div>	
		
			<!-- Member List -->
			<section class="community_list_wrap">
                
                <div class="community_list_title">
                    <p>청년부</p>
                    <h2>공동체관리</h2>
                </div>
                
				<div class="community_list_table_wrap" id="memberList_wrap">
					<table class="community_list_table">
						<thead>
							<tr>
								<td>이름</td>
								<td>기수</td>
								<td>성별</td>
								<td>교인구분</td>
								<td>봉사부서1</td>
								<td>봉사부서2</td>
								<td>직책</td>
								<td>직책상세</td>
								<td>세례유무</td>
								<td>사랑방</td>
								<td>주소</td>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${returnSVO.umMemberDVOList != null}" th:onclick="fn_moveDetail( [[ ${member} ]])" th:each=" member, memberRow : ${returnSVO.umMemberDVOList}">
								<td th:text="${member.name}"></td>
								<td th:text="${member.grade}"></td>
								<td th:text="${member.gndrDivCdNm}"></td>
								<td th:text="${member.chrDivCdNm}"></td>
								<td th:text="${member.volDeptCdNm1}"></td>
								<td th:text="${member.volDeptCdNm2}"></td>
								<td th:text="${member.posDivCdNm}"></td>
								<td th:text="${member.posDtlCdNm}"></td>
								<td th:text="${member.bptStCdNm}"></td>
								<td th:text="${member.cellNo}"></td>
								<td th:text="${member.baseAdr}"></td>
							</tr>
							<tr th:unless="${returnSVO.umMemberDVOList != null}" th:text="|조회된 결과가 없습니다.|"></tr>
						</tbody>
					</table>
				</div>
			</section>
			
			<!-- Paging -->
		    <div th:replace="fragments/cm/pagination :: fragment-pagination" id="pagination"></div>
	
			<!-- footer -->
			<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
		</div>
	</div>
</body>
</html>