<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="fragment-header">
		
		<title>승리교회청년부</title>
		
		<meta charset="UTF-8">
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		<meta name="_csrf_parameter" th:content="${_csrf.parameterName}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<!-- CSS -->
		<link type="text/css" th:href="@{/css/summernote/summernote-lite.css}" rel="stylesheet" />
   	 	<link type="text/css" th:href="@{/css/slyouth/gdgs_custom.css}" rel="stylesheet" />
   	 	<link type="text/css" th:href="@{/css/slyouth/mainlayout.css}" rel="stylesheet" />
		<link type="text/css" th:href="@{/css/slyouth/fixedlayout.css}" rel="stylesheet" />
	    <link type="text/css" th:href="@{/css/slyouth/1024_1280.css}" rel="stylesheet" media="screen and (min-width:1024px) and (max-width:1280px)"/>
	    <link type="text/css" th:href="@{/css/slyouth/768_1023.css}" rel="stylesheet" media="screen and (min-width:768px) and (max-width:1023px)"/>
	    <link type="text/css" th:href="@{/css/slyouth/480_767.css}" rel="stylesheet" media="screen and (min-width:480px) and (max-width:767px)"/>
	    <link type="text/css" th:href="@{/css/slyouth/478.css}" rel="stylesheet" media="screen and (min-width:281px) and (max-width:479px)"/>
	    <link type="text/css" th:href="@{/css/slyouth/280.css}" rel="stylesheet" media="screen and (max-width:280px)"/>
		
		<!-- JS -->
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/summernote/summernote-lite.js}"></script>
		<script type="text/javascript" th:src="@{/js/summernote/lang/summernote-ko-KR.js}"></script>
		<script type="text/javascript" th:src="@{/js/fixed.js}"></script>
		<script type="text/javascript" th:src="@{/js/common.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.bpopup.min.js}"></script>
	
		<!-- IMAGE -->
		<link type="image/x-icon" rel="shortcut icon" th:href="@{/images/slyouth/favicon.png}">
		
		<!-- URL -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR:wght@400;700&family=Roboto:wght@400;700&display=swap">
    	
    	<!-- ToastUI -->
    	<link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
    	<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    	<script type="text/javascript" src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
		<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
		<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
	</head>
</html>