<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="fragment-pagination">
		
		<!-- Pagination -->
		<nav class="Pagination_wrap clearfix" th:if="${returnSVO != null and returnSVO.cmPagingOutDVO != null and returnSVO.cmPagingOutDVO.totalDataCnt > 0}" th:object="${returnSVO.cmPagingOutDVO}">
			<ul class="pagination">
				<li th:class="*{isPrevPage == true} ? 'page-item' : 'page-item disabled'">
					<a class="page-link" href="#" th:onclick="com.procPaging([[ ${#request.requestURI} ]], [[ 1 ]])">
			        	<span>처음</span>
			      	</a>
			    </li>
				<li th:class="*{isPrevPage == true} ? 'page-item' : 'page-item disabled'">
					<a class="page-link" href="#" th:onclick="com.procPaging([[ ${#request.requestURI} ]], [[ *{startPageNo - 1} ]])">
			        	<span>이전</span>
			      	</a>
			    </li>
			    <li th:each="pageNo : *{#numbers.sequence( startPageNo, endPageNo )}" th:class="${pageNo == returnSVO.cmPagingOutDVO.pageNo} ? 'page-item active'">
					<a class="page-link" href="#" th:text="${pageNo}" th:onclick="com.procPaging([[ ${#request.requestURI} ]], [[ ${pageNo} ]])"></a>
				</li>
				<li th:class="*{isNextPage == true} ? 'page-item' : 'page-item disabled'">
					<a class="page-link" href="#" th:onclick="com.procPaging([[ ${#request.requestURI} ]], [[ *{endPageNo + 1} ]])">
			        	<span>다음</span>
			      	</a>
			    </li>				
				<li th:class="*{isNextPage == true} ? 'page-item' : 'page-item disabled'">
					<a class="page-link" href="#" th:onclick="com.procPaging([[ ${#request.requestURI} ]], [[ *{totalPageCnt} ]])">
			        	<span>마지막</span>
			      	</a>
			    </li>		
			</ul>
			
			<!-- Current PageNo Hidden -->
			<input type="hidden" id="pageNo" name="pageNo" th:value="${returnSVO.cmPagingOutDVO.pageNo}" />
		</nav>
	</div>
</html>