<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" ></th:block>
	<script th:inline="javascript">
		
		var editDivCd;
		
		window.onload = function(){					
			editDivCd = $("#editDivCd").val();
		};
		
	   $(document).ready(function() {
		   
			fn_defineForm();
		
		   
	         $("#bookSave").click(function() {
	        	var params = $("#bookForm").serializeObject();
	            if(!fn_saveValidation(params)) {
	            	return;
	            };
	            
               var bookConfirm = confirm("저장하시겠습니까?");
               if(bookConfirm){
                  com.loadAjaxPost("/nm/bookSave", params, fn_bookSaveCallback);
               }
	         });
		    
	         $("#backBtn").click(function(){
	            
	            location.href = "/nm/bookList";
	         });
	      });
	   		
			function fn_saveValidation(params){
	   			
	            if(params.title == "" || params.title == null){
	               alert("제목을 입력하세요.");
	               return false;
	            }
	            
	            if(params.content == "" || params.content == null){
	               alert("내용을 입력하세요.");
	               return false;
	            }
	            
	            return true;
	   		};
	   		
			function fn_bookSaveCallback(data){
		   		if (data > 0) {
	                alert("저장되었습니다.");
	                if (editDivCd == 'I'){
						location.href = "/nm/bookList";
	                } else if (editDivCd == 'U'){
	                	var params = {};
			   			params.cmntyN = data;
			   			com.movePagePost("/nm/bookDetail", params);
	                }
	             }else {
	                alert("저장중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
	             }
	   	 	}
	   	 	
			function fn_defineForm() {
				com.summernoteInit();
			};
		
	</script>
</head>
<body>
	<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
	
	<div id="wrap">
		<div class="writingArea_wrap">
			<div class="community_list_title" id="writingArea_title">
		        <p>교재</p>
		        <h2>게시글 등록 및 수정</h2>
			</div>
			<div>
				<form id="bookForm" th:object=${returnSVO.nmBookDVO}>
					<div class="writingArea_titleAndWriter">
						<input type="text" id="title" name="title" th:value="*{title}" placeholder="제목을 입력하세요">
						<p>작성자 : <span sec:authentication="principal.usrNm"></span></p>
					</div>	
					<div>
						<textarea id="summernote" name="content" placeholder="내용을 입력하세요">[[${returnSVO.nmBookDVO?.content}]]</textarea>
					</div>
					<!-- Button -->
					<div class="community_list_btn_wrap">	
						<div class="next_generation_info_delete_modifications">
							<button th:text="|저장|" type="button" id="bookSave" class="Btn"></button>
							<button th:text="|돌아가기|" type="button" id="backBtn" class="Btn"></button>
						</div>
					</div>
				
					<!-- Hidden -->
					<input type="hidden" id="chrNo" name="chrNo" th:value="${returnSVO.nmBookDVO.chrNo}">
					<input type="hidden" id="cmntyNo" name="cmntyNo" th:value="${returnSVO.nmBookDVO.cmntyNo}">
					<input type="hidden" id="editDivCd" name="editDivCd" th:value="${returnSVO.nmBookDVO.editDivCd}">
					
					<!-- File -->
					<input type="hidden" id="tmpFileId" name="tmpFileId" th:value="${returnSVO.nmBookDVO.tmpFileId}" />
					<input type="hidden" id="refNo" name="refNo" th:value="${returnSVO.nmBookDVO.cmntyNo}" />
					<input type="hidden" id="refDivCd" name="refDivCd" th:value="${returnSVO.nmBookDVO.cmntyDivCd}" />
					<input type="hidden" id="refTbKey" name="refTbKey" th:value="${slyouthTbKey}" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>