<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/header :: fragment-header" ></th:block>
	<script>
		$(document).ready(function(){
			$("#backBtn").click(function(){
				location.href = "/nm/bookList";
			});
		})
		
		function bookEdit(nmBookDVO) {
			var params = {};
			params.editDivCd = "U";
			params.cmntyNo = nmBookDVO.cmntyNo;
			
			com.movePagePost("/nm/bookEdit",params);
		}
		
		function deleteBook(nmBookDVO) {
			
			var params = {};
			params.cmntyNo = nmBookDVO.cmntyNo;
			
			var comfirm = confirm("삭제하시겠습니까?");
			if(comfirm) {
				com.loadAjaxPost("/nm/deleteBook", params, function(res){
					if(res != 0){
						alert("삭제되었습니다.");
						location.href = "/nm/bookList";
					}
					else {
						alert("삭제중 오류가 발생했습니다. 다시 시도해주시기 바랍니다.");
					}
				});
			}
		}
		
	</script>
</head>
<body>
<!-- asideMenu -->
	<div th:replace="fragments/cm/layout/asideMenu :: fragment-asideMenu"></div>
	
	<!-- header -->
	<div th:replace="fragments/cm/layout/headerMenu :: fragment-headerMenu"></div>
<div id="wrap">
		<div id="section_wrap">
		
			<!-- Worship Visual -->
			<section class="worship_visual">
           	<div th:replace="fragments/cm/layout/worshipVisual :: fragment-worshipVisual"></div>
            </section>

			<!-- content list -->
			<section class="community_list_wrap">
            	<div class="community_list_title" id="view_details">
                    <p>새가족</p>
                    <h2>교재</h2>
                </div>
                <div class="view_details_content">
					<form role="form" th:object=${returnSVO.nmBookDVO}>
						<div class="view_details_content_title">
							<h2 th:text="${returnSVO.nmBookDVO.title}"></h2>
							<p th:text="${returnSVO.nmBookDVO.name}"></p>
						</div>
						<div  class="view_details_content_info">
							
							<div>
								<p>작성일시 :</p><span th:text="${#temporals.format(returnSVO.nmBookDVO.frsRegDt,'yyyy-MM-dd HH:mm')}"></span>
								<input type="hidden" id="frsRegDt" name="frsRegDt" th:value="${returnSVO.nmBookDVO.frsRegDt}">
							</div>
							<div>
								<p>수정일시 :</p><span th:text="${#temporals.format(returnSVO.nmBookDVO.lstMdfDt,'yyyy-MM-dd HH:mm')}"></span>
								<input type="hidden" id="lstMdfDt" name="lstMdfDt" th:value="${returnSVO.nmBookDVO.lstMdfDt}">
							</div>
							
						</div>
						<div class="view_details_Contents">
							<p th:utext="${returnSVO.nmBookDVO.content}"></p>
							<input type="hidden" id="content" name="content" th:value="${returnSVO.nmBookDVO.content}">
						</div>
						<div class="view_details_content_btn_wrap">
							<div class="next_generation_info_delete_modifications">	
								<button type="button" class="Btn" id="modifyBtn" th:onclick="bookEdit([[ ${returnSVO.nmBookDVO} ]])" th:text="|수정|"></button>
								<button type="button" class="Btn" id="removeBtn" th:onclick="deleteBook([[ ${returnSVO.nmBookDVO} ]])" th:text="|삭제|"></button>			
								<button type="button" class="Btn" id="backBtn" th:text="|목록|"></button>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
		<!-- footer -->
		<div th:replace="fragments/cm/layout/footer :: fragment-footer"></div>
	</div>
</body>
</html>